body, div, span, li, dt, p, label						{ font-family: Arial; font-size: 11px; font-weight: normal; }
a														{ outline: none; text-decoration: none; }
a:hover													{ text-decoration: underline; }
b, strong												{ font-weight: bold; }
em														{ font-style: italic; }
.hidden													{ display: none; }

h1														{ font-size: 31px; font-weight: bold; color: black; padding: 0 0 10px 0; margin: 0 0 4px 0; position: relative; top: -11px; }
h2														{ font-size: 25px; font-weight: bold; color: black; }

#wrapper												{ width: 100%; /*background: url('../images/bg_header_rep.jpg') repeat-x top center;*/ text-align: center; }
#wrapper div.widthConstrainer							{ width: 909px !important; margin: 0 auto !important; text-align: left; }

/* HEADER */
#wrapper #headerContainer								{ height: 104px; background: url('../images/bg_header.jpg') no-repeat top center; }
#wrapper #headerContainer .widthConstrainer				{ height: 104px; position: relative;/* background:  url('../images/bg_header.jpg') no-repeat top center;*/ }
#wrapper #headerContainer .widthConstrainer #logo		{ position: absolute; top: 19px; left: 23px; }
#wrapper #headerContainer .rightContainer				{ float: right; text-align: left; width: 265px; padding: 20px 0 0 0; }
#wrapper #headerContainer .rightContainer .loginContainer				{ height: 30px; }
#wrapper #headerContainer .rightContainer .loginContainer div			{ float: left; padding: 0 18px 0 17px; background: transparent url('../images/bg_loginBullet.gif') no-repeat left top; }
#wrapper #headerContainer .rightContainer .loginContainer div a			{ font-size: 12px; color: #0054ae; font-weight: bold; }
#wrapper #headerContainer .rightContainer .loanName						{ font-size: 19px; color: black; padding: 15px 0 0 0; }
/*Login Logout show hide styles */
.loginContainer .login	{display:block;}
.loginContainer .logout	{display:none; background-image:none !important;}
.loggedin .login		{display:none; background-image:none !important;}
.loggedin .logout		{display:block;}

/* BODY */
#wrapper #bodyContainer									{ padding: 56px 0 0 0; * margin: 0 0 75px 0; }
#wrapper div.widthConstrainer .columns					{ clear: both; }
#wrapper div.widthConstrainer .columns .leftColumnContainer		{ padding: 0 20px 0 0; }
#wrapper div.widthConstrainer .columns .column			{ float: left; width: 671px; border-right: 1px solid #cccccc; margin: 0 0 35px 0; padding: 0 0 35px 0; position: relative; }
#wrapper div.widthConstrainer .columns .last			{ width: 218px; margin: 0 0 0 18px; padding-right: 0; border: 0px none;}


/* TABS */
#wrapper .column .tabController							{ position: absolute; top: -40px; height: 54px; width: 652px; background: url('../images/bg_tab.png') no-repeat top; }
#wrapper .column .tabController .tab					{ height: 51px; float: left; text-indent: -9999px; cursor: pointer; position: relative; }
#wrapper .column .tabController .student				{ background: url('../images/bg_tabs_student.jpg') no-repeat left -51px; width: 184px; }
#wrapper .column .tabController .cosigner				{ background: url('../images/bg_tabs_cosigner.jpg') no-repeat left -51px; width: 188px; }
#wrapper .column .tabController .applicationStatus		{ background: url('../images/bg_tabs_status.jpg') no-repeat left -51px; width: 280px; }
#wrapper .column .tabController .active					{ cursor: default; background-position: left top; }
#wrapper .column .tabController .tab .status			{ position: absolute; top: 5px; left: 121px; width: 55px; height: 39px; background: url('../images/img_tab_status.gif') no-repeat left top; display: none; }
#wrapper .column .tabController .cosigner .status		{ left: 126px; }
#wrapper .column .tabController .active .status			{ display: block; }
#wrapper .column .tabController .tab .working			{ background-position: left -39px; }


/* FOOTER */
#wrapper #footerContainer								{ clear: both; height: 55px; background: url('../images/img_footer_rep.jpg') repeat-x top; }
#wrapper #footerContainer *								{ color: white; }
#wrapper #footerContainer div							{ padding: 4px 0 11px 0; }
#wrapper #footerContainer div.last						{ padding-bottom: 0; }


/* MODULE */
.module													{ width: 657px; background: url('../images/bg_module_on_rep.png') repeat-y top left; margin: 0 0 12px 0; }
.module .top											{ width: 100%; height: 11px; background: url('../images/bg_module_on_top.png') no-repeat top left; }
.module .bottom											{ width: 100%; height: 11px; background: url('../images/bg_module_on_bottom.png') no-repeat bottom left; }
.progressBarbottom										{ width: 100%; height: 11px; background: url('../images/progressBarbottom.png') no-repeat bottom left; }
.module .content										{ padding: 30px 0 25px 23px; position: relative; }
.module .content .flavorText							{  }
.module .content .legendText							{ padding: 15px 0 0 0; float:left; width:625px; }
.module .content .cta_learnMore							{ position: absolute; top: 26px; left: 555px;}
.module .content .helpInfo .cta_learnMore				{ position: relative; top: 0; left: 0; }
.module .content .cta_learnMore a div					{ background: url("../images/btn_learnMore.jpg") no-repeat left top; width: 96px; height: 26px; text-indent: -9999px; }
.module .content .cta_learnMore_active a div			{ background-position: left -26px; }
.module .content h3										{ font-family: arial; font-size: 16px; color: black; padding: 0 0 7px 0; }
.module .content h3.paddTop								{ padding-top: 12px; clear: both; }
.module .content h4										{ font-family: arial; font-size: 12px; color: black; padding:  0 0 7px 0; }
.module .content .flavorText p							{ font-family: arial; font-size: 14px; padding: 0 0 16px 0; width: 600px; }
.module .content .flavorText p span						{ font-family: arial; font-size: 14px; font-weight: bold; }
.module .content .inactiveInfo							{ display: none; }
.module .content .column								{ width: 300px !important; border-right: 3px solid #cccccc !important; margin: 0 !important; padding: 0 !important; }
.module .content .nodivider .column						{ border: 0px none !important; }
.module .content .last									{ border-right: 0px none !important; margin: 0 0 0 16px !important; padding: 0 !important; }

.module .content .infoBucketContainer .column			{ width: 314px !important; border-right: 0 none !important; }
.infoBucketContainer .infoBucket						{ background: url('../images/bg_infoBucket_rep_off.gif') repeat-y left; }
.infoBucketContainer .infoBucket .top					{ height: 13px; background: url('../images/bg_infoBucket_top_off.gif') no-repeat top left; }
.infoBucketContainer .infoBucket .content				{ padding: 12px 0 7px 16px; width: 260px; }
.infoBucketContainer .infoBucket .content h3			{ font-size: 14px; font-weight: bold; color: #7c7c7c; line-height: 16px; background: url('../images/icon_round_grey_arrow_white_bg.gif') no-repeat top left; padding: 3px 0 15px 27px; }
.infoBucketContainer .infoBucket .content ul			{ padding: 2px 0 0 28px; }
.infoBucketContainer .infoBucket .content ul li			{ font-size: 12px; line-height: 14px; padding: 0 0 8px 15px; background: url("../images/li_grey.gif") no-repeat left 4px; }
.infoBucketContainer .infoBucket .bottom				{ height: 15px; background: url('../images/bg_infoBucket_bottom_off.gif') no-repeat bottom left; }

.infoBucketContainer .active .infoBucket				{ background-image: url('../images/bg_infoBucket_rep_on.gif'); }
.infoBucketContainer .active .infoBucket .top			{ background-image: url('../images/bg_infoBucket_top_on.gif'); }
.infoBucketContainer .active .infoBucket .content h3	{ color: black; background-image: url('../images/icon_round_blue_arrow_white_bg.gif'); }
.infoBucketContainer .active .infoBucket .content ul li	{ background-image: url("../images/li_orange.gif"); }
.infoBucketContainer .active .infoBucket .bottom		{ background-image: url('../images/bg_infoBucket_bottom_on.gif'); }


.content_learnMore										{ position: absolute; top: 61px; left: 0px; background: transparent url('../images/bg_thickbox_learnMore.png') no-repeat left top; width: 660px; height: 270px; display: none; z-index: 1000; * left: -23px; }
.content_learnMore .wrapper								{ padding: 0 0 0 24px; }
.content_learnMore .header								{ height: 53px; position: relative; }
.content_learnMore .header .title						{ font-size: 24px; padding: 18px 0 0 0; color: white; font-weight: bold; }
.content_learnMore .header .cta							{ position: absolute; top: 0px; right: 0px; width: 214px; text-align: left; }
.content_learnMore .header .close						{ position: absolute; top: 18px; left: 163px; cursor: pointer; * left: 181px; }
.content_learnMore .header .close div					{ width: 17px; height: 17px; text-indent: -9999px; background: transparent url('../images/icon_thickbox_learnMore_close.jpg') no-repeat left top; }
.content_learnMore .contentContainer .content			{ width: 596px; height: 177px; overflow-y: auto; /*background: white; border: 1px solid #c9c9c9;*/ padding: 0; }
.content_learnMore .contentContainer .content .innerContent	{ padding: 15px; font-family: arial; font-size: 12px; }

.bucket .content_learnMore								{ left: -550px; }

.innerContent p											{ padding:10px 0px; }
.innerContent ul										{ padding:0 30px; }
.innerContent li										{ list-style:disc outside none; padding:10px 0; }
.innerContent h4										{ font-weight:bold;}
.innerContent td										{ border:1px solid #CCC; padding:5px;}
.innerContent th										{ border:1px solid #CCC; padding:5px; text-align:center;}




.module .content .submitRow								{ background:url("../images/submit_R.gif") repeat-y scroll right top #FFFFFF; clear:both; line-height:1.5em; width:607px; }
.module .content .submitRow .top						{ background:none repeat scroll 0 0 #FFFFFF; height:12px; }
.module .content .submitRow .top .TL					{ background:url("../images/submit_TL.gif") repeat scroll 0 0 transparent; float:left; height:12px; width:11px; }
.module .content .submitRow .top .TR					{ background:url("../images/submit_TR.gif") repeat scroll 0 0 transparent; float:right; height:12px; width:16px; }
.module .content .submitRow .submitContent				{ background:url("../images/submit_C.jpg") repeat-x scroll left top #FFFFFF; margin:0 14px 0 11px; padding-top:10px; }
.module .content .submitRow p,
.module .content .submitRow .row						{ height:auto !important; margin:10px !important; }
.module .content .submitRow .checkbox					{ width: 400px; clear: both; height: 30px !important; }
.module .content .submitRow .checkbox label				{ white-space: normal !important; }
.module .content .submitRow strong						{ font-size:14px; float:right; padding:5px 0 0 0; }
.module .content .submitRow .submitContent .ctarow		{ height:30px !important; padding-top:20px; }
.module .content .submitRow .submitContent .ctarow .btn	{ float: right; }
.module .content .submitRow .submitContent .radio p     { padding:0 0 0 18px; }


.module .content .submitRow .bottom						{ background:url("../images/submit_B.gif") repeat-x scroll left top #FFFFFF; height:14px; }
.module .content .submitRow .bottom .BL					{ background:url("../images/submit_BL.gif") repeat scroll 0 0 transparent; float:left; height:14px; width:11px; }
.module .content .submitRow .bottom .BR					{ background:url("../images/submit_BR.gif") repeat scroll 0 0 transparent; float:right; height:14px; width:16px; }


.module .content .stepBar,
.module .top .progressBar,
.module .content .progressBar,
.module .content .sectionBar							{ clear: both; }
.module .content .stepBar li,
.module .progressBar div,
.module .content .sectionBar li							{ float: left; color: #9e9e9e; }
.module .content .stepBar li.last,
.module .content .progressBar li.last,
.module .content .sectionBar li.last					{ padding-right: 0px !important; width: auto !important; }
.module .content .stepBar li.done,
.module .content .stepBar li.active,
.module .content .progressBar li.done,
.module .content .progressBar li.active,
.module .content .sectionBar li.done,
.module .content .sectionBar li.active					{ color: black; font-weight:bold; }

.module .content .stepBar li							{ padding: 4px 90px 4px 32px !important; font-size: 17px; }
.module .content .stepBar li.step_1						{ background: url('../images/bg_steps_1.gif') no-repeat left top !important; }
.module .content .stepBar li.step_2						{ background: url('../images/bg_steps_2.gif') no-repeat left top; }
.module .content .stepBar li.step_3						{ background: url('../images/bg_steps_3.gif') no-repeat left top; }
.module .content .stepBar li.on							{ background-position: left -27px; font-weight:bold; color:#000; }

.module .progressBar div								{ background-color: #dcdcdc; width: 55px; /*border-top: 1px solid #7c7c7c; border-bottom: 1px solid #b4b4b4; border-left: 1px solid #b2b2b2; border-right: 1px solid #aeaeae;*/ position: relative; }
.module .progressBar div.inStep							{ background-color: #c9def1; /*border-top: 1px solid #23588a; border-bottom: 1px solid #5195d4; border-left: 1px solid #8cb9e2; border-right: 1px solid #d3e0eb;*/ }
.module .progressBar div.done,
.module .progressBar div.active,
.module .progressBar div.visited						{ background-color: #ffb217; /*border-top: 1px solid #825700; border-bottom: 1px solid #de9400; border-left: 1px solid #c7993c; border-right: 1px solid #f3c568;*/ }
.module .progressBar div.active div						{ display: block !important; position: absolute; }

.module .top .progressBar								{ position: relative; top: 1px; left: 23px; }
.module .top div.inStep									{ background-color: #c9def1 !important; background-image:none !important; }
.module .top .progressBar div							{ height: 5px; * height: 5px; border-top: 1px solid #7c7c7c; border-bottom: 1px solid #b4b4b4; border-left: 1px solid #b2b2b2; border-right: 1px solid #aeaeae; width:53px; background-image:none !important; background-color:#dcdcdc; }
.module .top .progressBar div.done,
.module .top .progressBar div.active,
.module .top .progressBar div.visited					{ background-color: #ffdd6f !important; background-image:none !important; }
.module .top .progressBar div div						{ background: url('../images/icon_progressBarActive.gif') no-repeat top left !important; width: 14px; height: 7px; top: 5px; left: 21px; display: none; border: 0px none; }
.module .top .progressBar div.isLast					{ background-image:none !important; background-color:#dcdcdc; }

.module .content .progressBar							{ padding: 9px 0 0 0; }
.module .content .progressBar div						{ height: 12px;}
.module .content .progressBar div div					{ background: url('../images/icon_progressBarActive_top.gif') no-repeat top left; width: 14px; height: 7px; top: 10px; left: 21px; display: none; border: 0px none; * top: 10px !important; * width: 16px !important; }

.module .content .sectionBar							{ padding: 9px 0 0 0; }
.module .content .sectionBar li							{ padding: 2px 20px 2px 12px !important; font-size: 11px; background: url('../images/icon_li_grey.gif') no-repeat left 4px; }
.module .content .sectionBar li.active					{ background: url('../images/icon_arrowDown_black.gif') no-repeat left 4px !important; }
.module .content .sectionBar li.done					{ background: url('../images/icon_checkmark.gif') no-repeat left 3px; }

.moduleInactive											{ background-image: url('../images/bg_module_off_rep.gif'); background-repeat:repeat-y; }
.moduleInactive .top									{ background-image: url('../images/bg_module_off_top.gif'); }
.moduleInactive .bottom									{ background-image: url('../images/bg_module_off_bottom.gif'); }

.moduleInactive .progressBar,
.moduleInactive .flavorText,
.moduleInactive .submitRow,
.moduleInactive .legal_footer,
.moduleInactive .cta_learnMore,
.moduleInactive .row,
.moduleInactive h3,
.moduleInactive h4,
.moduleInactive hr										{ display: none !important; }

.module .content h2										{ margin: 0 0 20px 0; }
.moduleInactive .content .inactiveInfo,
.moduleInactive .content h2								{ color: #cccccc; }
.moduleInactive .content .inactiveInfo					{ display: block; }
.moduleInactive .content .inactiveInfo li				{ list-style: disc; list-style-position: inside; }

	/* MODULE: inner fields */
	.module .content .row									{ clear: both; height: auto; position: relative; padding:0 0 3px 0 }
	.module .content .row_radio								{ height: 30px; }
	.module .content .blank									{ height: 1px; }
	.module .content .row .fieldContainer					{ padding:16px 8px 10px 0; position: relative; float: left; }
	.module .content .row .fieldContainer .btn				{ margin: 0px 20px 0 0; position: relative; top: 4px; * top: 2px; }
	.module .content .row .fieldContainer label				{ position: absolute; top: 0px; font-size: 12px; white-space:nowrap; color: #666666; }
	.module .content .row .fieldContainer label.middleText	{ position: relative; top: -2px; font-size: 10px; color: #383838; margin: 0 5px 0 0; }
	.module .content .row .fieldContainer label.shortMargin	{ margin: 0; left: -4px; }
	.module .content .row .fieldContainer select,
	.module .content .row .fieldContainer input				{ font-size: 14px; color: #1d1d1d; }
	.module .content .row .fieldContainer input				{ padding: 1px; }
	.borrowerPreviousAddress								{ margin-top:11px; clear:both;}
	.borrowerPreviousAddresssmall							{ margin-top:-5px !important; clear:both;}
	.cosignerMailingAddress									{ margin-top:11px; clear:both;}
	.cosignerMailingAddresssmall							{ margin-top:-5px !important; clear:both;}
	.fieldContainerlabel									{ width:100% !important;}
	.fieldContainerlabel label								{ margin-top:-2px !important; clear:both; * margin-top:3px !important; clear:both;}
	

	.module .content .checkboxContainer							{  }
	.module .content .checkboxContainer input					{ position: absolute; top: 2px; }
	.module .content .checkboxContainer .labelContainer			{ padding: 0 0 0 20px !important; }
	.module .content .checkboxContainer .labelContainer label	{ position: relative; }

	.module .content .row .radioContainer					{ width: 100px; margin: 10px 0 15px 0; }
	.module .content .row .radioContainer input				{ position: relative; padding: 0; margin: 1px 4px 0 0; }
	
	.module .content .row .doubleRadio						{ padding: 14px 14px 0 0; }
	.module .content .row .doubleRadio label				{ position: relative; top: -3px; }
	.module .content .row .doubleRadio input				{ margin: 0 0 3px 0; }
	
	.module .content .indent								{ padding: 0 0 0 20px; }

	
	.module .content .submitContent .checkbox				{ height: auto !important; margin: 0px 0px 0px 10px !important; clear: both; width: 510px; }
	.module .submitContent .checkbox .fieldContainer		{ float: none; clear: both; width: 510px !important; }
	.module .submitContent .checkbox .fieldContainer .labelContainer	{ padding: 0 0 0 20px; }
	.module .submitContent .checkbox .fieldContainer label	{ position: relative !important; }
	.module .submitContent .checkbox .fieldContainer label b	{ color: black; }
	.module .submitContent .checkbox .fieldContainer input	{ position: absolute !important; top: 1px; left: 0px; }
	
	
		/* ERROR CSS starts*/
		.module .content .row .hasError label				{ color: #ff6600; }
		.module .content .row span.field-validation-error	{ color: #ff6600; font-weight: bold; padding: 5px 0 10px 12px; background: url('../images/icon_error.gif') no-repeat left 6px; }
		.module .content .moneyRow span.field-validation-error{ background-position: 133px 6px; }
		
		/* Styles for validation helpers from Site.css */
		.field-validation-error								{color: #ff6600; font-weight: bold; display:block;}
		.field-validation-valid								{display: none;}
		.input-validation-error								{border-color: #ff6600; background-color: #ffffe9;}
		.validation-summary-errors							{font-weight: bold; color: #ff6600;}
		.validation-summary-valid							{display: none;}

		/* ERROR CSS Ends*/

	
	.module .content .legal_footer							{ display: block; height: auto !important; overflow: visible; width: 95%; }
	.module .content .legal_footer p						{ padding: 10px 5px 5px; }
	
	.module .content .moneyRow								{ height: 32px; padding: 12px 0 0 0; * height: auto; clear:both; overflow:visible; position:relative;}
	.module .content .clearInput input						{ border: 0px none !important; background: none !important; }
	.module .content .topDotted								{ width: 600px; }
	.module .content .bottomSolid							{ width: 600px; }
	.module .content .nodivider .bottomSolid				{ width: auto; }
	
	.module .content .row .money label						{ top: 4px; font-size: 12px; width: 130px; white-space: normal; }
	.module .content .row .money img						{ position: absolute; top: 3px; left: 130px; }
	.module .content .row .money input						{ margin: -16px 8px 0 145px; }
	
	.helpContainer											{ position: absolute; top: 4px; left: 380px; }
	.helpContainer_short									{ left: 435px; }
	.helpContainer_loan										{ left: 311px; }
	.helpContainer_long										{ left: 145px; }
	.helpInfo												{ position: absolute; top: 0px; left: 0px; width: 230px; font-size: 11px; color: #77776d; line-height: 15px; background: url('../images/bg_contextual_R.gif') repeat-y top right; }
	.helpInfo, .helpInfo *									{ z-index: 9999; }
	.helpContainer_short .helpInfo							{ width: 175px; }
	.helpContainer_loan .helpInfo							{ width: 270px; }
	.helpContainer_long .helpInfo							{ width: 464px; }
	.helpInfo a												{ color: #308FE4; }
	.helpInfo .tip											{ position: absolute; top: 12px; left: -23px; width: 25px; height: 24px; background: url('../images/bg_contextual_arrow.gif') no-repeat top left; }
	.helpInfo .top											{ width: 100%; height: 8px !important; background: url('../images/bg_contextual_T.gif') no-repeat top right !important; }
	.helpInfo .top div										{ width: 100%; height: 8px; background: url('../images/bg_contextual_TL.gif') no-repeat top left; }
	.helpInfo .bottom										{ width: 100%; height: 12px; background: url('../images/bg_contextual_B.gif') no-repeat bottom right; }
	.helpInfo .bottom div									{ width: 100%; height: 12px; background: url('../images/bg_contextual_BL.gif') no-repeat bottom left; }
	.helpInfo .container									{ margin: 0 11px 0 0 !important; padding: 0 !important; width: auto; background: white url('../images/bg_contextual_L.gif') repeat-y top left; }
	.helpInfo .content										{ padding: 5px 8px 7px 14px !important; color: #77776d; line-height: 15px; }
	
	.module .content .row .short .helpInfo					{ left: 140px; width: 335px; }
	.module .content .row .medium .helpInfo					{ left: 200px; width: 190px; }
	.module .content .row .long .helpInfo					{ left: 250px; width: 335px; }
	.module .content .row .fullLine .helpInfo				{ width: 200px; }


	.module .content .checkbox								{ height: 10px; padding-top: 1px; padding-bottom: 10px; }
	.module .content .checkbox .fieldContainer				{ width: 400px; }
	.module .content .checkbox .fieldContainer label		{ padding:5px 0 0 0; }
	.module .content .checkboxFullLength .fieldContainer	{ width: 550px; }
	.module .content .checkbox .fieldContainer input		{ margin-top: -13px; }
	
	/* MODULE: inner fields sizes */
	.module .content .row .ssn .len2						{ width: 30px; padding-left: 3px; }
	.module .content .row .ssn .len3						{ width: 36px; padding-left: 3px; }
	.module .content .row .ssn .len4						{ width: 46px; padding-left: 3px; }
	.module .content .row .ssn .field-validation-error		{ width: 145px;}
	.module .content .row .tiny input,
	.module .content .row .tiny select,
	.module .content .row .tiny .field-validation-error		{ width: 42px; }
	.module .content .row .dob .field-validation-error		{ width: 42px; }
	.module .content .row .short .field-validation-error	{ width: 112px; }
	.module .content .row .dob input,
	.module .content .row .dob select						{ width: 67px; }
	.module .content .row .dob input.day,
	.module .content .row .dob select.day					{ width: 37px; }
	.module .content .row .dob input.month,
	.module .content .row .dob select.month					{ width: 47px; }
	.module .content .row .monthYear select.dob				{ width: 70px; }
	.module .content .row .small input,
	.module .content .row .small select						{ width: 86px; }
	.module .content .row .small .field-validation-error	{ width: 78px; }
	.module .content .row .monthYear input,
	.module .content .row .monthYear .field-validation-error{ width: 50px;margin-left:5px;}
	.module .content .row .monthYear select.month			{ width: 95px; }
	.module .content .row .monthYear .btn					{ margin:-5px 0 0 0; }
	.module .content .row select.small						{ width: 86px; }
	.module .content .row .short input,
	.module .content .row .short select						{ width: 112px; }
	.module .content .row .money span.field-validation-error{ width: 135px; padding: 7px 0 10px 145px; }
	.module .content .row .money input						{ width: 115px; }
	.module .content .row .medium input,
	.module .content .row .medium select					{ width: 176px;  }
	.module .content .row .medium .field-validation-error	{ width: 176px;  }
	.module .content .row .xmedium input,
	.module .content .row .xmedium select					{ width: 152px; }
	.module .content .row .long input,
	.module .content .row .long select						{ width: 223px; }
	.module .content .row .long .field-validation-error		{ width: 185px; }
	.cosignerLastName input{width: 200px !important;}
	.module .content .row .xlong input,
	.module .content .row .xlong select						{ width: 275px; }
	/*.module .content .row .long input						{ background: transparent url('../images/bg_field_input_long.png') no-repeat left top; }*/
	.module .content .row .fullLine input					{ width: 400px; }	

	.module .content .column .row .short input,
	.module .content .column .row .short select				{width: 88px;}
	.module .content .column .row .short span.field-validation-error
															{width: 80px; }
	.module .content .column .row .medium .field-validation-error,
	.module .content .column .row .medium input,
	.module .content .column .row .medium select			{ width: 128px; }
	.module .content .column .row .fullLine input,
	.module .content .column .row .fullLine select			{ width: 280px; }


/**/
.tabStudent .ctaContainer									{ padding: 0 29px 0 0; }
.tabStudent .ctaContainer .btn								{ float: right; }
.tabStudent .left											{ padding: 0 0 0 16px; }
.tabStudent .left .btn										{ float: left; }
.tabCosigner .ctaContainer .btn 							{ float: right; }
.tabCosigner .left .btn										{ float: left; }

/* PAGE SPECIFIC */
	/* NEXT STEP */
	.nextStep .congrats										{ margin: 0; }
	.nextStep .congrats .content							{ padding: 6px 0 20px 87px; background: url('../images/bg_nextStep_congrats.gif') no-repeat 17px 2px; }
	.nextStep .congrats .content .header					{ font-size: 16px; color: #308fe4; font-weight: bold; padding: 0 0 4px 0; }
	.nextStep .congrats .content .subheader					{ font-size: 16px; color: #333333; padding: 0 0 4px 0; }
	.nextStep .congrats .content p							{ font-size: 12px; color: #333333; width: 340px; line-height: 18px; }
	.nextStep .congrats .content ul							{ padding: 7px 0 0 0;  }
	.nextStep .congrats .content li							{ background: url('../images/li_orange.gif') no-repeat left 2px; font-size: 12px; color: #181818; padding: 0 0 6px 16px;  }
	.nextStep .congrats .content .cta_container				{ padding: 4px 0 0 16px; }
	.nextStep .congrats .content .cta_container a			{ font-size: 12px; color: #308fe4; font-weight: bold; text-decoration: underline; }
	.nextStep .module .content								{ /*background: url('../images/bg_box1_rep.jpg') repeat-x left bottom; */margin: 0 13px 6px 13px; padding: 28px 0 22px 76px; position: relative; }
	.nextStep .module .content .icon						{ position: absolute; top: 20px; left: 10px; * left: -64px; * top: 24px; }
	.nextStep .module .content .header						{ font-size: 16px; color: #333333; font-weight: bold; padding: 0 0 2px 0; line-height: 18px; }
	.nextStep .module .content .subheader					{ font-size: 12px; color: #333333; line-height: 18px; padding: 0 0 13px 0; }
	.nextStep .module .content ul							{ padding: 18px 0 0 0; }
	.nextStep .module .content ul li						{ font-size: 12px; font-weight: bold; line-height: 18px; padding: 0 0 18px 14px; background: transparent url('../images/li_orange.gif') no-repeat left 5px; width: 400px; }
	.nextStep .module .content .checkboxContainer			{ position: relative; }
	.nextStep .module .content .checkboxContainer div		{ padding: 0 0 0 16px; }
	.nextStep .module .content input						{ position: absolute; top: 2px; left: 0px; }
	.nextStep .module .content label						{ font-size: 12px; color: #181818; line-height: 14px; width: 460px; }
	.nextStep .module .content .cta_container				{ padding: 15px 0 0 9px; }
	.nextStep .ctaContainer									{ padding: 15px 0 0 20px; font-size: 12px; }
	.nextStep .ctaContainer a								{ color: #308fe4; font-weight: bold; }
	.nextStep .itemChecklist .item							{ position: relative; }
	.nextStep .itemChecklist .item input					{ position: absolute; left: 0; top: 2px; * left: -25px; * top: -1px; }
	.nextStep .bottomDotted .actionsContainer				{ padding: 9px 0 0 9px; clear: both; height: 40px; }
	.nextStep .bottomDotted .actionsContainer .item			{ margin: 0 0 0 0; float: left; }
	.nextStep .bottomDotted .actionsContainer .item div		{ text-indent: -9999px; height: 28px; }
	.nextStep .bottomDotted .actionsContainer .download		{ background: url('../images/cta_save.png') no-repeat left top; width: 67px; }
	.nextStep .bottomDotted .actionsContainer .email		{ background: url('../images/cta_email.png') no-repeat left top; width: 67px; }
	.nextStep .bottomDotted .actionsContainer .print		{ background: url('../images/cta_print.png') no-repeat left top; width: 67px; }

	/* RESULTS PAGE */
	.results .module .content .column						{ width: 428px !important; border: 0 none !important; }
	.results .module .content .last							{ width: 180px !important; margin: 50px 0 0 0 !important; font-size: 11px; line-height: 13px; }
	
	.results .tableContainer								{ background: white url('../images/bg_results_whiteTable_bottom.gif') no-repeat left bottom; width: 409px; }
	.results .tableContainer .top							{ background: white url('../images/bg_results_whiteTable_top.gif') no-repeat left top; height: 3px; }
	.results .tableContainer .content h4,
	.results .tableContainer .content h4 span				{ font-size: 18px; font-weight: bold; }
	.results hr												{ border: 0px none; border-top: 1px solid #f0f0f0; }
	
	
	.results .tableContainer .content .quoteInfo								{ height: 60px; border-top: 1px solid #dadada; width: 380px; padding: 9px 0 0 0; }
	.results .tableContainer .content .quoteInfo .quoteContainer				{ font-size: 12px; width: 165px; position: relative; float: left; height: 19px; margin: 0 15px 0 0; }
	.results .tableContainer .content .quoteInfo .quoteContainer .quote			{ position: absolute; top: -4px; right: 0px; font-size: 12px; color: #87b0dd; font-weight: bold; }
	.results .tableContainer .content .quoteInfo .quoteContainer .quote sup		{ font-size: 8px; }
	
	
	.results .tableContainer .content .bottomCtaOuterContainer	{ width: 380px; }
	.results .tableContainer .content .bottomCtaContainer	{ background: url("../images/submit_C.jpg") repeat-x left top; }
	
	.results .finishContent										{ padding: 12px 0 0 8px; }
	.results .finishContent .finish								{ font-size: 18px; font-weight: bold; margin-bottom: 15px; background: transparent url("../images/icon_round_green_arrow.gif") no-repeat left top; padding: 0 0 3px 25px; }
	.results .finishContent .view								{ padding: 0 0 0 0; height: 86px; }
	.results .finishContent .view div							{ float: left; font-size: 14px; font-weight: bold; color: #333; }
	.results .finishContent .view div span						{ font-size: 14px; font-weight: bold; color: #87a9ca; }
	.results .finishContent .view .label						{ color:#777777; font-size:12px; line-height:1.4em; padding-top:8px; padding-bottom:10px; }
	.results .finishContent .view .label .name					{ color: #333; padding: 0 0 0 7px; }
	
	.results .bottomContent .content							{ padding: 10px 0 0 32px; }
	.results .bottomContent	li									{ font-size: 12px; color: #333; padding-bottom: 18px; }
	.results .bottomContent	li.prefer							{ font-size: 14px; font-weight: bold; color: #000; }
	.results .bottomContent	li a								{ color:#308FE4; text-decoration:underline; }
	.results .bottomContent	li.line								{ border-top: 1px solid #dadada; height: 1px; }
	
	.results .module .content .last ul							{ padding: 0 0 0 10px; }
	.results .module .content .last ul li						{ padding: 13px 0 0 0; list-style: disc outside; }
	.results .module .content .last ol							{ padding: 0 0 0 18px; }
	.results .module .content .last ol li						{ padding: 0 0 0 0; list-style: decimal outside; }
	.results .tableContainer .content						{ padding: 15px 0 25px 17px; }
	
	/* LOAN INFO PAGE */
	.loaninfo .infoBox											{ background: transparent url("../images/bg_loanInfoBox.png") no-repeat left top; width: 323px; height: 244px; }
	.loaninfo .infoBox div										{ padding: 14px; }
	.loaninfo .infoBox div p									{ font-size: 11px; line-height: 13px; padding: 0 0 15px 0; }
	.loaninfo .infoBox div p a.cta_learnMore					{ position: relative; top: 0px; left: 0px; color: #308FE4; text-decoration:underline; }
	.loaninfo .module .content .nodivider .column				{ width: 342px !important; }
	.loaninfo .module .content .nodivider .last					{ width: 245px !important; font-size: 9px; line-height: 11px; margin: 0 !important; padding: 10px 0 0 0 !important; }
	
	.loaninfo .tableContainer									{ width: 315px; background: white url("../images/bg_loan_whiteTable_bottom.gif") no-repeat left bottom; }
	.loaninfo .tableContainer .top								{ height: 3px; background: white url("../images/bg_loan_whiteTable_top.gif") no-repeat left top; }
	.loaninfo .tableContainer .content							{ padding: 10px 0 20px 9px; overflow:visible; height:auto; }
	.loaninfo .tableContainer .content h4						{ font-size: 16px; font-weight: bold; }
	.loaninfo .tableContainer .content .gradientContainer		{ width: 297px; }
	.loaninfo .tableContainer .content .gradient				{ background: url("../images/submit_C.jpg") repeat-x left top; }
	.loaninfo .tableContainer .content .amountsInfo				{ padding: 0 15px 0 15px; clear:both; * overflow:hidden;}	
	.loaninfo .module .content .row .money label a				{ font-size: 9px; padding: 0 0 0 10px; }


/* BUCKETS */
.bucket														{ margin: 0 0 26px 0; }
.bucket a													{ color: #308fe4; text-decoration: underline; }
.bucket .bottomDotted h3									{ font-size: 21px; color: black; font-weight: bold; padding: 0 0 9px 0; }
.bucket .bottomDotted h4									{ font-size: 16px; color: black; font-weight: bold; padding: 0 0 9px 0; }
.bucket .bottomDotted .info									{ padding: 13px 15px 9px 15px; line-height: 14px; }
.bucket .bottomDotted .info .itemChecklist					{ padding: 14px 0 0 0; }
.bucket .bottomDotted .info .itemChecklist .item			{ margin: 0 0 10px 0; padding: 0 0 0 25px; }
.bucket .bottomDotted .info .itemChecklist .done			{ background: url('../images/icon_checkmark.gif') no-repeat 6px 2px; }
.bucket .bottomDotted .infoContainer						{ padding: 13px 0 9px 0; }
.bucket .bottomDotted .infoContainer .info					{ padding: 0 0 0 48px; }
.bucket .bottomDotted .chat									{ background: url('../images/icon_rail_chat.gif') no-repeat left top; }
.bucket .bottomDotted .email								{ background: url('../images/icon_rail_email.gif') no-repeat left top; }
.bucket .bottomDotted .call									{ background: url('../images/icon_rail_call.gif') no-repeat left top; }
.bucket .bottomDotted .information							{ background: url('../images/icon_rail_info.gif') no-repeat 5px 15px; }

/* BUTTONS */
.btn														{ cursor: pointer; border: 0px !important; outline: 0px none !important; }
.btn_inactive												{ background-position: left -28px !important; }
.btn_continue												{ background: url('../images/btn_continue.jpg') no-repeat left top; width: 132px; height: 28px; }
.btn_eSign													{ background: url('../images/btn_view_and_sign.png') no-repeat left top; width: 354px; height: 31px; }
.btn_cSign													{ background: url('../images/btn_add_cosigner.png') no-repeat left top; width: 234px; height: 31px; }
.btn_submit                                                 { float:right; margin-left:15px; border:none;}

.bottomDotted												{ background: url('../images/bg_dottedHorizontal.gif') repeat-x bottom; }
.topDotted													{ background: url('../images/bg_dottedHorizontal.gif') repeat-x top; }
.topSolid													{ border-top: 2px solid #cfd3d6; }
.bottomSolid												{ border-bottom: 2px solid #cfd3d6; }
hr															{ clear: both; }
hr.dotted													{ width: 600px; border: 0px none; background: url('../images/bg_dottedHorizontal.gif') repeat-x top; padding: 0 0 10px 0; margin: 10px 0 0 0; }
.module .content .column hr.dotted							{ width: 290px; }

/* Generic classes  Starts */
ul.ssn_help													{ width: 100%; list-style-position: outside; padding: 0; margin: 0; list-style-type:none !important; }
ul.ssn_help li												{ margin: 5px 0; padding: 2px 5px; cursor: default; display: block; font: menu; font-size: 12px; line-height: 16px; clear:both; overflow: hidden; border:1px solid #ccc; }
.heading													{font-weight:bold;}
.half_width													{float:left; width:47%; margin-left:10px;}
.aligntext-submit											{ margin:8px 0 0 65px; *margin:8px 0 0 48px;}
.clearhiding											    { clear:both; overflow:hidden; visibility:hidden; height:1px;}
.strongTxt                                                  { font-weight:bold; font-size:14px;}
.checkboxAlign												{ width:25px; float:left; * margin-top:-3px;}
.fieldContainerlabel span									{ margin:-14px 0 0 0; padding:2px 0 0 5px; float:left; font-size:13px; color:#666666;}

/* Progress Bar background images Classes starts */
.module .progressBar div			{background:url("../images/inactive.png") no-repeat; }
.module .progressBar div.inStep		{background:url("../images/instep.png") no-repeat; }
.module .progressBar div.done		{background:url("../images/done.png") no-repeat; }
.module .progressBar div.visited	{background:url("../images/done.png") no-repeat; }
.module .progressBar div.isFirst	{background:url("../images/first.png") no-repeat; }
.module .progressBar div.isLast		{background:url("../images/last.png") no-repeat; }
/* THICKBOX */
#TB_window					{ background: transparent !important; border: none !important; }

/* AUTOCOMPLETE */
.ac_results					{ padding: 0px; border: 1px solid black; background-color: white; overflow: hidden; z-index: 99999; }
.ac_results ul				{ width: 100%; list-style-position: outside; list-style: none; padding: 0; margin: 0; }
.ac_results li				{ margin: 0px; padding: 2px 5px; cursor: default; display: block; font: menu; font-size: 12px; line-height: 16px; overflow: hidden; }
.ac_loading					{ background: white url('indicator.gif') right center no-repeat; }
.ac_odd						{ background-color: #eee; }
.ac_over					{ background-color: #0A246A; color: white; }

/* Layout helpers*/
.ui-helper-hidden				{ display: none; }
.ui-helper-hidden-accessible	{ position: absolute; left: -99999999px; }
.ui-helper-reset				{ margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after		{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix				{ display: inline-block; }

/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix		{ height:1%; }
.ui-helper-clearfix				{ display:block; }

/* end clearfix */
.ui-helper-zfix			{ width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

/* Interaction Cues */
.ui-state-disabled { cursor: default !important; }
/* Icons*/

/* states and images */

.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
/*Overlay CSS*/

.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color:#00336F; filter:alpha(opacity=75); -moz-opacity: 0.75; opacity: 0.75; }
/* Misc visuals-*/

/*Cobranding Classes starts here*/
.Cobrand_ID_000001		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000001.jpg') no-repeat 200px; }
.Cobrand_ID_000002		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000002.jpg') no-repeat 200px; }
.Cobrand_ID_000003		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000003.jpg') no-repeat 200px; }
.Cobrand_ID_000004		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000004.jpg') no-repeat 200px; }
.Cobrand_ID_000007		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000007.jpg') no-repeat 200px; }
.Cobrand_ID_000008		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000008.jpg') no-repeat 200px; }
.Cobrand_ID_000009		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000009.jpg') no-repeat 200px; }
.Cobrand_ID_000010		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000010.jpg') no-repeat 200px; }
.Cobrand_ID_000013		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000013.jpg') no-repeat 200px; }
.Cobrand_ID_000014		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000014.jpg') no-repeat 200px; }
.Cobrand_ID_000015		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000015.jpg') no-repeat 200px; }
.Cobrand_ID_000016		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000016.jpg') no-repeat 200px; }
.Cobrand_ID_000017		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000017.jpg') no-repeat 200px; }
.Cobrand_ID_000018		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000018.jpg') no-repeat 200px; }
.Cobrand_ID_0000019		{width: 100%; background: url('../images/CobrandingImages/CB_ID_0000019.jpg') no-repeat 200px; }
.Cobrand_ID_000022		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000022.jpg') no-repeat 200px; }
.Cobrand_ID_000024		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000024.jpg') no-repeat 200px; }
.Cobrand_ID_000025		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000025.jpg') no-repeat 200px; }
.Cobrand_ID_000026		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000026.jpg') no-repeat 200px; }
.Cobrand_ID_000027		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000027.jpg') no-repeat 200px; }
.Cobrand_ID_000028		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000028.jpg') no-repeat 200px; }
.Cobrand_ID_000029		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000029.jpg') no-repeat 200px; }
.Cobrand_ID_000030		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000030.jpg') no-repeat 200px; }
.Cobrand_ID_000031		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000031.jpg') no-repeat 200px; }
.Cobrand_ID_000032		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000032.jpg') no-repeat 200px; }
.Cobrand_ID_000033		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000033.jpg') no-repeat 200px; }
.Cobrand_ID_000034		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000034.jpg') no-repeat 200px; }
.Cobrand_ID_000036		{width: 100%; background: url('../images/CobrandingImages/CB_ID_000036.jpg') no-repeat 200px; }
.Cobrand_ID_803609		{width: 100%; background: url('../images/CobrandingImages/CB_ID_803609.jpg') no-repeat 200px; }
.Cobrand_ID_819590		{width: 100%; background: url('../images/CobrandingImages/CB_ID_819590.jpg') no-repeat 200px; }
.Cobrand_ID_820238		{width: 100%; background: url('../images/CobrandingImages/CB_ID_820238.jpg') no-repeat 200px; }
.Cobrand_ID_822583		{width: 100%; background: url('../images/CobrandingImages/CB_ID_822583.jpg') no-repeat 200px; }
.Cobrand_ID_829257		{width: 100%; background: url('../images/CobrandingImages/CB_ID_829257.jpg') no-repeat 200px; }
.Cobrand_ID_831036		{width: 100%; background: url('../images/CobrandingImages/CB_ID_831036.jpg') no-repeat 200px; }
.Cobrand_ID_833331		{width: 100%; background: url('../images/CobrandingImages/CB_ID_833331.jpg')no-repeat 200px; }
.Cobrand_ID_834312		{width: 100%; background: url('../images/CobrandingImages/CB_ID_834312.jpg') no-repeat 200px; }
.Cobrand_ID_NELLIE		{width: 100%; background: url('../images/CobrandingImages/CB_ID_NELLIE.jpg') no-repeat 200px; }
.Cobrand_ID_OpenNet		{width: 100%; background: url('../images/CobrandingImages/CB_ID_OpenNet.jpg') no-repeat 200px; }
.Cobrand_ID_SLF			{width: 100%; background: url('../images/CobrandingImages/CB_ID_SLF.jpg') no-repeat 200px; }
.Cobrand_ID_SLF1		{width: 100%; background: url('../images/CobrandingImages/CB_ID_SLF1.jpg') no-repeat 200px; }
.Cobrand_ID_SLMTRUST	{width: 100%; background: url('../images/CobrandingImages/CB_ID_SLMTRUST.jpg') no-repeat 200px; }
.Cobrand_ID_834312		{width: 100%; background: url('../images/CobrandingImages/CB_ID_834312.jpg') no-repeat 200px; }
.Cobrand_ID_SSSC		{width: 100%; background: url('../images/CobrandingImages/CB_ID_SSSC.jpg') no-repeat 200px; }

/*Popup styles*/
.popup_pagein											{ background: transparent url('../images/bg_thickbox_2.png') no-repeat left top; width:799px; height:628px; }
.popup_pagein #wrapperP .header							{ height: 55px; position: relative; }
.popup_pagein #wrapperP .header .title					{ font-size: 15px; padding: 18px 0 0 11px; width: 400px; font-weight: bold; float:left; }
.popup_pagein #wrapperP .header .title					{ padding-left: 0px; }
.popup_pagein #wrapperP .header .cta					{ float:right; margin:18px 44px 0px 0px; text-align: left; }
.popup_pagein #wrapperP .header .cta li					{ float:left; padding-left:10px; }
.popup_pagein #wrapperP .header .cta li.counterHolder	{ padding-right: 10px; padding-left:0px; }
.popup_pagein #wrapperP .header .cta li div				{ cursor: pointer; }
.error_message_popup									{ background: transparent url('../images/Module_ErrorMessagingPopupssmall.png') no-repeat left top; width:291px; height:330px; }
.error_message_popup #wrapperP .header .title			{ font-size: 16px; padding: 18px 0 0 0px; width: 190px; font-weight: bold; float:left; }
.error_message_popup #wrapperP .header					{ height:55px;}
.error_message_popup #wrapperP .header .close			{width:20px; float:right; margin:18px 42px 0 0}
.error_message_popup #wrapperP .header .close div		{ width: 17px; height: 17px; text-indent: -9999px; background: transparent url('../images/icon_thickbox_close.jpg') no-repeat left top; }
.error_message_popup #wrapperP .contentContainer .content { width:187px; height:165px; padding: 15px; font-family: arial; font-size: 12px; border:none; background:none; }
.messageHeader											{ font-size:14px; font-weight:bold;}
.error_message											{ padding:10px 0 0 0;}
.error_message_popup #wrapperP .footer					{ width: 100%; padding: 15px 0 0 0; position: relative; }
.error_message_popup .btn_continue						{ background: url('../images/btn_continue.png') no-repeat left top; width: 154px; height: 23px; }

/*Error message Popup*/
 .error_message_popup									{ background: transparent url('../images/errormessage_Popup.png') no-repeat left top; width:291px; height:330px; }
 .error_message_popup #wrapper .header .title			{ font-size: 16px; padding: 18px 0 0 14px; width: 190px; font-weight: bold; float:left; }
 .error_message_popup #wrapper .header					{ height:55px;}
 .error_message_popup #wrapper .header .close			{width:20px; float:right; margin:18px 42px 0 0}
 .error_message_popup #wrapper .header .close div		{ width: 17px; height: 17px; text-indent: -9999px; background: transparent url('../images/icon_thickbox_close.jpg') no-repeat left top; }
 .error_message_popup #wrapper .contentContainer .content { width:225px; height:175px; padding: 5px 0 15px 15px; font-family: arial; font-size: 12px; border:none; background:none; }
 .messageHeader											{ font-size:14px; font-weight:bold;}
 .error_message											{ padding:0 0 0 18px; text-align:left;}
 .error_message p										{ padding:0 0 5px 0;}
 .error_message ul li									{ list-style:disc inside; padding:3px 0 0 0;}
 .error_message_popup #wrapper .footer					{ width: 100%; padding: 15px 0 0 0; position: relative; }
 .error_message_popup .btn_continue						{ background: url('../images/btn_continue.png') no-repeat left top; width: 154px; height: 23px; }
 .error_message_popup .footer .ctaContainer				{ float:right;}

/*Upromise*/
#upromise .upromiseColoums { clear:both; overflow:hidden;}
#upromise .upromiseColoums .column { width: 250px !important; background:#FFF; border:none !important; height:230px; }
#upromise .upromiseColoums .last { }
#upromise .upromiseColoums .column .columnContent     { padding: 15px; overflow:hidden; clear:both; }
#upromise .upromiseColoums .last .columnContent     { border-right:none; }
.btn_login            { background: url('../images/btn_signUpNow.gif') no-repeat left top; width: 132px; height: 28px; }
.btn_createAccount          { height: 31px; width: 234px; background:url('../images/btn_create_account.png');}
.btn_confirmAccount          { height: 28px; width: 175px; background:url('../images/confirmAccounts.png');}
#upromise .upromiseColoums .column .row        { overflow:hidden; clear:both; padding:10px 0 10px 0;}
#upromise .upromiseColoums .column .row .fieldContainer label {left:0;}
#upromise .upromiseColoums .column .row .field-validation-error       { position:static !important; margin:5px 0 0 0 !important; display:block; float:left;}
#upromise .upromiseColoums input { clear:both; overflow:hidden; margin:16px 0 0 0; display:block;}
.header_padding { padding:10px;}
#upromise .upromiseColoums .btn { position:absolute; bottom:10px; right:10px;}
.btn_noThanksU { background: url('../images/btn_no_thanksU.png') no-repeat left top; width: 122px; height: 28px; cursor:pointer; float:right; margin:20px 40px 0 0; }
