﻿@model KPMG.APGBuilder.Web.Models.APGFromProcessViewModel
@{
    ViewBag.Title = "APG Builder - Create APG From Process";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create APG From Process</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <table>
            <tr>

                <td>
                    <span><b>Business Process</b></span><br />
                    <div style="overflow-x:hidden;overflow-y: scroll; height: 300px; width:150px">
                        @foreach (var businessProcess in Model.BusinessProcessList)
                        {
                            <input style="font-size:xx-small;" type="checkbox" name="BusinessProcessList" value="@businessProcess.Id" />@businessProcess.Name
                            <br />
                        }
                    </div>
                </td>
                <td>
                    <span><b>Process</b></span><br />
                    <div style="overflow-x:hidden;overflow-y: scroll; height: 300px; width:150px">
                        @foreach (var process in Model.ProcessList)
                        {
                            <input style="font-size:xx-small;" type="checkbox" name="ProcessList" value="@process.Id" />@process.Name
                            <br />
                        }
                    </div>
                </td>
                <td>
                    <span><b>Sub Process</b></span><br />
                    <div style="overflow-x:hidden;overflow-y: scroll; height: 300px; width:150px">
                        @foreach (var subProcess in Model.SubProcessList)
                        {
                            <input style="font-size:xx-small;" type="checkbox" name="SubProcessList" value="@subProcess.Id" />@subProcess.Name
                            <br />
                        }
                    </div>
                </td>
                <td>
                    <span><b>Activity</b></span><br />
                    <div style="overflow-x:hidden;overflow-y: scroll; height: 300px; width:150px">
                        @foreach (var activity in Model.ActivityList)
                        {
                            <input style="font-size:xx-small;" type="checkbox" name="ActivityList" value="@activity.Id" />@activity.Name
                            <br />
                        }
                    </div>
                </td>
            </tr>
        </table>



    </fieldset>
    <br />
    <p><input type="submit" value="Test Procedures" /></p>

}
