﻿@{
    ViewBag.Title = "APG Builder - Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h2>Home Page</h2><br/>

@using (Html.BeginForm())
{

     <table style="width:100%; padding:5px,5px,5px,5px; height:100%">

     <tr>
     <td width="20%" style="text-align:justify; vertical-align:top">
      <br />
       <p><b><u>Admin</u></b><br/>
        Click on “Admin” in the menu above to create the masters & mapping configuration and String Library. </p>
        <p><b><u>APG</u></b><br/>
        Click on “APG” in the menu above to start to create APG Single Item, Multiple Item, Load APG and Create APG</p>
        <p><b><u>Reports</u></b><br/>
        The “Reports” menu option above generate the Various reports.</p>
     
    </td>

    <td valign="top" style="text-align:justify; vertical-align:top">

        <p><b><u>Use Guidance:</u></b><br />
        <p>APG Builder is designed to be used for reference purposes only.  Any audit programs should be modified to reflect client company policy where appropriate. Also, consider whether additional tailoring and/or approvals are needed for specific deployment.  Professional judgment, based on individual circumstances, must be used when considering the information included in this program.</p><br />
        <p>Specific Work Steps that involve complex GAAP accounting issues or the interpretations of GAAP accounting are to be expressly avoided.  Any specific program work steps contemplating such matters require the approval of the appropriate risk management partner in consultation with DPP-RMAS.</p>
    </td>
    </tr>
  </table> 
  <br/>


}
