﻿@using KPMG.APGBuilder.Business.Entity
@using KPMG.APGBuilder.Web.AppCode
@model KPMG.APGBuilder.Web.Models.TestViewModel

@{
    ViewBag.Title = "APG Builder - Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var testStepList = new TestStep();
}
<h2>Create</h2>


<script type="text/javascript">
    $(document).ready(function () {

        //debugger;
        var indexCheck = $("#testStepList tr").length;

        if (indexCheck == 1) {
            var index = $("#testStepList tr").length - 1;
            var Order = $("#testStepList tr").length;

            var Description = "TestStepList[" + index + "].Description";
            var SortOrder = "TestStepList[" + index + "].SortOrder";
            var Save = "Save_" + index;
            var Cancel = "Cancel_" + index;
            var AddNew = "AddNew_" + index;

            var trnew = '<tr class="alternate-row"><td> <input name="' + Description + '" type="text" /></td>'
                + '<td> <input name="' + SortOrder + '" type="text" value= "' + Order + '"/></td>'
                + '<td><a href="#" id="' + AddNew + '" class="addNew"><img src="../../images/Add.png" /></a>'
                + ' <a href="#" id="' + Cancel + '" class="cancel"><img src="../../images/Delete.png" /></a></td>' + '</tr>';

            $("#testStepList tr:last").after(trnew);

        }

        //$("#hrefadd").click(function (event) {
        //    //debugger;
        //    var index = $("#testStepList tr").length - 1;
        //    var Order = $("#testStepList tr").length;

        //    var Description = "TestStepList[" + index + "].Description";
        //    var SortOrder = "TestStepList[" + index + "].SortOrder";
        //    var Save = "Save_" + index;
        //    var Cancel = "Cancel_" + index;
        //    var AddNew = "AddNew_" + index;

        //    var trnew = '<tr class="alternate-row"><td> <input name="' + Description + '" type="text" /></td>'
        //        + '<td> <input name="' + SortOrder + '" type="text" value= "' + Order + '"/></td>'
        //        + '<td><a href="#" id="' + AddNew + '" class="addNew"><img src="../../images/Add.png" /></a>'
        //        + ' <a href="#" id="' + Cancel + '" class="cancel"><img src="../../images/Delete.png" /></a></td>' + '</tr>';

        //    $("#testStepList tr:last").after(trnew);

        //});

        $("#hrefaddNew").click(function (event) {
            //debugger;
            var index = $("#testStepList tr").length - 1;
            var Order = $("#testStepList tr").length;

            var Description = "TestStepList[" + index + "].Description";
            var SortOrder = "TestStepList[" + index + "].SortOrder";
            var Save = "Save_" + index;
            var Cancel = "Cancel_" + index;
            var AddNew = "AddNew_" + index;

            var trnew = '<tr class="alternate-row"><td> <input name="' + Description + '" type="text" /></td>'
                + '<td> <input name="' + SortOrder + '" type="text" value= "' + Order + '"/></td>'
                + '<td><a href="#" id="' + AddNew + '" class="addNew"><img src="../../images/Add.png" /></a>'
                + ' <a href="#" id="' + Cancel + '" class="cancel"><img src="../../images/Delete.png" /></a></td>' + '</tr>';

            $("#testStepList tr:last").after(trnew);

        });

        $(document).on("click", "a.addNew", function () {
            //alert("Add New");
            //debugger;

            var index = $("#testStepList tr").length - 1;
            var Order = $("#testStepList tr").length;

            var Description = "TestStepList[" + index + "].Description";
            var SortOrder = "TestStepList[" + index + "].SortOrder";
            var Save = "Save_" + index;
            var Cancel = "Cancel_" + index;
            var AddNew = "AddNew_" + index;

            var trnew = '<tr class="alternate-row"><td> <input name="' + Description + '" type="text" /></td>'
                + '<td> <input name="' + SortOrder + '" type="text" value= "' + Order + '"/></td>'
                + '<td><a href="#" id="' + AddNew + '" class="addNew"><img src="../../images/Add.png" /></a>'
                + ' <a href="#" id="' + Cancel + '" class="cancel"><img src="../../images/Delete.png" /></a></td>' + '</tr>';

            $("#testStepList tr:last").after(trnew);

        });


        $(document).on("click", "a.cancel", function () {
            //alert("Cancel click");
            //debugger;
            var flag = confirm('Are you sure to cancel');
            if (flag) {
                $(this).parents("tr").remove();
            }

        });

    });
</script>

@using (Html.BeginForm(APGConstants.CREATE, "Test"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="align-content:center;width:100%">
        <table cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th colspan="4">
                        <b>Test</b>
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td style="width:20%">
                        <div>
                            @Html.Label("TestId")
                        </div>
                    </td>

                    <td style="width:20%">
                        <div>
                            @if (Model.Id == 0)
                            {
                                @Html.Label("(New)");
                            }
                            else
                            {
                                @Html.TextBoxFor(x => x.Id, new { @readonly = true });
                            }
                        </div>
                    </td>
                    <td style="width:20%">
                        <div>
                            @Html.Label("SystemNotes")
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.EditorFor(model => model.SystemNotes)
                            @Html.ValidationMessageFor(model => model.SystemNotes, null, new { @style = "color:red" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%">
                        <div class="required">
                            @Html.Label("Name")
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name, null, new { @style = "color:red" })
                        </div>
                    </td>
                    <td style="width:20%">
                        <div>
                            @*<label for="systems">System</label>*@
                            @Html.Label("System")
                        </div>
                    </td>
                    <td>
                        <div>
                            @*@Html.DropDownListFor(model => model.IsActive, Model.IsActiveList, new { @style = "width: 205px" })*@
                            @* @Html.EditorFor(model => model.System)*@


                            @*<select id="System" name="System">
                                    @foreach (var system in Model.SystemList)
                                    {
                                        <option id="system-@system">@system</option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(model => model.System, null, new { @style = "color:red" })*@

                            @(Html.Kendo().AutoComplete()
                                  .Name("system")
                                  .Filter("contains")
                                  .Placeholder("Select System...")
                                   .BindTo(Model.SystemList)
        //.Separator(", ")
                            )
                        </div>
                    </td>


                </tr>
                <tr>
                    <td style="width:20%">
                        <div class="required">
                            @Html.Label("Description")
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.EditorFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description, null, new { @style = "color:red" })
                        </div>
                    </td>

                    <td style="width:20%">
                        <div>
                            @Html.Label("EstimatedHours")
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.EditorFor(model => model.EstimatedHours)
                            @Html.ValidationMessageFor(model => model.EstimatedHours, null, new { @style = "color:red" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%">
                        <div>
                            @Html.Label("Hypothesis")
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.EditorFor(model => model.Hypothesis)
                            @Html.ValidationMessageFor(model => model.Hypothesis, null, new { @style = "color:red" })
                        </div>
                    </td>

                    <td style="width:20%">
                        <div>
                            @Html.Label("Technique")
                        </div>
                    </td>
                    <td>
                        <div>
                            @*@Html.EditorFor(model => model.Technique)*@
                            @*<select id="Technique" name="Technique">
                                    @foreach (var technique in Model.TechniqueList)
                                    {
                                        <option id="technique-@technique">@technique</option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(model => model.Technique, null, new { @style = "color:red" })*@

                            @(Html.Kendo().AutoComplete()
                                  .Name("Technique")
                                  .Filter("contains")
                                  .Placeholder("Select Technique...")
                                  .BindTo(Model.TechniqueList)
        //.Separator(", ")
                            )
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%">
                        <div>
                            @Html.Label("Notes")
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.EditorFor(model => model.Notes)
                            @Html.ValidationMessageFor(model => model.Notes, null, new { @style = "color:red" })
                        </div>
                    </td>


            </tbody>
        </table>
    </div>

    @*<div id="divmsg" style="color: green; font-weight: bold"></div>
    <a href="#" class="add" id="hrefaddNew">Add Test Steps</a>*@
    <br />

    <table id="testStepList" cellpadding="0" cellspacing="0">
        <thead class="t-grid-header">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => testStepList.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => testStepList.SortOrder)
                </th>
                <th>
                    @Html.DisplayName("Actions")
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.TestStepList != null)
            {
                for (var i = 0; i < Model.TestStepList.Count; i++)
                {
                    var item = Model.TestStepList[i];
                    <tr>
                        <td>
                            @Html.TextBox(string.Format("TestStepList[{0}].Description", i), item.Description)
                        </td>
                        <td>
                            @Html.TextBox(string.Format("TestStepList[{0}].SortOrder", i), item.SortOrder)
                        </td>
                        <td>
                            @*<a href="<%= Url.Action(" index", "Home" ) %>"><span>Text</span></a>*@

                            <a href="#" class="addNew" id="hrefaddNew"><img src="../../images/Add.png" /></a>
                            <a href="#" id="Cancel" class="cancel"><img src="../../images/Delete.png" /></a>

                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>

    <p><input type="submit" value="Create" />@Html.ActionLink("Back to List", "Index")</p>
}