﻿@model IEnumerable<KPMG.APGBuilder.Web.Models.ControlViewModel>

@{
    ViewBag.Title = "APG Builder - Control List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Control List</h2>
<br />

<div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>
<br />
<script language="javascript">
    $(document).ready(function () {

        $("a").click(function (event) {
            if ($(this).attr('Id') == "delete") {
                var answer = confirm('Are you sure you want to delete this record?');
                return answer;
                event.preventDefault();
            }
            else if ($(this).attr('Id') == 'Activate') {
                var answer = confirm('Are you sure you want to make this record active?');
                return answer;
                event.preventDefault();
            }
        });
    });
</script>
<div style="width:100%">
    <table cellpadding="0" cellspacing="0" style="width:100%">
        <thead>
            <tr>
                <th>Action</th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubIndustry)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.Raw((item.IsActive.HasValue && item.IsActive.Value) ? @Html.ActionLink("Deactivate", "Delete", new { id = item.Id }, new { id = "delete" }) : @Html.ActionLink("Activate", "Activate", new { id = item.Id }, new { id = "Activate" }))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubIndustry)
                    </td>
                    <td>
                        @Html.Label((item.IsActive.HasValue && item.IsActive.Value) ? "True" : "False")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>