﻿@model KPMG.APGBuilder.Web.Models.EnterpriseRiskViewModel

@{
    ViewBag.Title = "APG Builder - Enterprise Risk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="t-widget t-grid">
        <table cellpadding="0" cellspacing="0" style="width:100%">
            <thead class="t-grid-header">
                <tr>
                    <th class="t-header" colspan="2">
                        <b>Enterprise Risk Detail</b>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:20%">
                        <div class="required">
                            @Html.Label("Name")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name, null, new { @style = "color:red" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%">
                        <div class="required">
                            @Html.Label("Description")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description, null, new { @style = "color:red" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%">
                        <div class="required">
                            @Html.Label("IsActive")
                        </div>
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.IsActive, Model.IsActiveList, new { @style = "width: 205px" })
                        @Html.ValidationMessageFor(model => model.IsActive, null, new { @style = "color:red" })
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    
    <br />
   <fieldset>
        <legend><span style="margin-right:10px;" class="required"><b>Industry Mapping</b></span>@Html.ValidationMessageFor(model => model.SelectedIndustry)</legend>       
        
        @Html.Partial("_IndustrySelector", Model)
    </fieldset>
    <br />
    <p><input class="buttonText" type="submit" value="Create" />&nbsp;&nbsp;@Html.ActionLink("Back to List", "Index")</p>

}
