@charset "utf-8";
/* KPMG.com Design style guide
   March 2011 © KPMG International

   Version 1.1 - Internet Explorer specific CSS

   For any questions or comments please e-mail
   GO-FM Global Digital Marketing              */

body { text-align: center; }
* html legend { margin:0px -8px 16px 0; padding:0; }
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }
html>body p code { *white-space: normal; }
img { -ms-interpolation-mode:bicubic; }

h1, h2, h3, h4, h5, h6 {
	zoom: 1;
}

hr { margin-bottom: 1em; }

.pod, .secondaryNavigation li a, .breadcrumbs, .contentLeft, .contentRight {
	zoom: 1;
}

.primaryNavigation li {
	background-image: url('../images/divider_primary.gif');
}
.flashOverlay {
    background-image: url("../images/flash_overlay.gif");
}
.heroOverlay {
	background-image: none;
	padding: 0;
	right: 0;
	bottom: 2px;
	width: 306px;
	height: 65px;
}
.heroOverlay h3 {
	margin-right: 20px;
}
.heroOverlay a {
  	position: relative;
	z-index: 1;
	margin-right: 20px;
}
.heroOverlayIeFix {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/hero_overlay.png', sizingMethod='scale');
    zoom: 1;
	padding: 8px 0 5px;
}
.brandingBarSearch input.searchButton {
	cursor: hand;
}
.brandingBarTop .siteName, .brandingBarTop span {
	float: left;
}
