@charset "utf-8";
/* KPMG.com Design style guide
   February 2011 © KPMG International

   Version 1.1

   For any questions or comments please e-mail
   GO-FM Global Digital Marketing              */

/* Document level definitions */
html {
	border: 0 none;
	font-size: 100.01%;
	margin: 0;
	padding: 0;
}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
	border: 0 none;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
object, embed {
	outline: 0;
}
body {
	background: #F3F4F8;
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	line-height: 1.5;
}
div {
	overflow: hidden;
}

/* Right to left, Left to right overrides */
.rtl { direction: rtl; }
.ltr { direction: ltr; }

/* Typography */
p { margin: 0 0 1.5em; }

.bodyCopy, .small, small {
	font-size: 0.917em;
	line-height: normal;
}

strong, dfn { font-weight: bold; }
em, dfn { font-style: italic; }
sup, sub { line-height: 0; }
abbr, acronym { border-bottom: 1px dotted #444; }
pre { margin: 1.5em 0; white-space: pre; }
pre, code, tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }

hr { border: 0 none; background-color: #E7ECF8; width: 100%; height: 1px; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" ""; margin: 1.25em; color: #00505C; font-size: inherit; line-height: 1.5; }

a img { border: 0 none; }

/* Image float classes: */
.left  			{ float: left !important; }
p .left			{ margin: 1.5em 1.5em 1.5em 0; padding: 0; }
.right 			{ float: right !important; }
p .right 		{ margin: 1.5em 0 1.5em 1.5em; padding: 0; }

/* Links */
a:link {
	color: #007C92;
	text-decoration: none;
}
a:visited {
	color: #8E258D;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	text-decoration: underline;
}

/* Headers */
h1,h2,h3,h5 { color: #002664; font-weight: bold; }
h4,h6 { color: #444; font-weight: bold; }

h1 { font-size: 1.833em; line-height: 1.375; margin-top: 1em; } /* 12px x 1.833 = 22px */
h2 { font-size: 1.5em; line-height: 1.375; margin-top: 1.125em; } /* 12px x 1.5 = 18px */
h3,h4 { font-size: 1em; line-height: 0.875; margin-top: 1.5em; margin-bottom: 0.75em; } /* 12px */
h5,h6 { font-size: 0.917em; line-height: 0.75; margin: 1em 0; } /* 12px x 0.917 = 11px */

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

.contentTitle {
	margin: 0 0 12px;
	line-height: normal;
	padding: 6px 0;
	border-bottom: 1px solid #E7ECF8;
}

/* Lists */
ul { list-style-type: none; margin: 0.25em 0; }
ol { list-style-type: decimal; }
dl { margin: 0 0 1.5em; }
dl dt { font-weight: bold; }
dd { margin-left: 1.5em; }

li {
	background: url("../images/arrow_icon_right.gif") no-repeat left 0.666em;
	position: relative;
	padding: 0.25em 0 0.25em 18px;
	line-height: 1.25;
}

/* Icons */
ul.noIcon li, li.noIcon {
	background: none;
}
li.iconDocument {
	background: url("../images/icon_document.gif") no-repeat left 0.416em;
}
li.iconPodcast {
	background: url("../images/icon_podcast.gif") no-repeat left 0.416em;
}
li.iconMovie {
	background: url("../images/icon_movie.gif") no-repeat left 0.416em;
}
li.iconWebpage {
	background: url("../images/icon_webpage.gif") no-repeat left 0.416em;
}
li.iconPhone {
	background: url("../images/icon_phone.gif") no-repeat left 0.416em;
}
li.iconEmail {
	background: url("../images/icon_email.gif") no-repeat left 0.416em;
}
li.iconRss {
	background: url("../images/icon_rss.gif") no-repeat left 0.416em;
}
li.iconPopup {
	background: url("../images/icon_popup.gif") no-repeat left 0.416em;
}
li.iconAudio {
	background: url("../images/icon_audio.gif") no-repeat left 0.416em;
}

/* Tables */
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1.5em; /* 18px */
}
caption, th, td { 
	text-align: left; 
	float: none !important; 
}
table, th, td { 
	vertical-align: top;
	padding: 1em;
}
th.middle, td.middle { vertical-align: middle; }
tbody tr:nth-child(even) td {
	background-color: #FFF; 
}
tbody tr.even td { 
	background-color: #FFF; 
}
th, thead tr td {
	border: 1px solid #CAE2FA;
	background-color: #E0EEFB;	
	font-weight: bold;
	color: #002664;
}
td {
	border: 1px solid #E9EDF8;
	background-color: #FAFBFE;
}

/* Layout DIVs */
.container {
	width: 996px;
	margin: 0 auto;
	background: url("../images/main_bg.jpg") repeat-y scroll transparent;
	text-align: left;
}
.globalNavigation {
	width: 980px;
	margin: 0 auto;
	padding: 8px 8px 5px;
	background: url("../images/main_bg_top.jpg") #F3F4F8 no-repeat scroll bottom center;
	font-size: 0.917em; /* 11px */
	line-height: normal;
	text-align: right;
}
.brandingBar {
	width: 980px;
	height: 95px;
	margin: 0 auto;
	background: url("../images/branding_bg.png") #00257A no-repeat left top;
	color: #FFF;
	line-height: normal;
}
.homeBar {
	width: 980px;
	height: 210px;
	margin: 0 auto;
	color: #FFF;
	line-height: normal;
    position: relative;
}
.columnWrapper {
	position: relative;
	margin: 0 auto;
	width: 980px;
	height: 100%;
	background-color: #FFF;
}

.footer {
	width: 980px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background-color: #FFF;
	border-top: 1px solid #E7ECF8;
	color: #B2B2B2;
	font-size:  0.917em; /* 11px */
}

/* Template specific layout DIVs */ 
.rightColumnContainer {
	float: left;
	width: 100%;
	background: #F8F9FD;
	position: relative;
}
.centralColumnContainer {
	float: left;
	width: 100%;
	background: #FFF;
	border-right: 1px solid #E8ECF8;
	position: relative;
	right: 231px;
	overflow: visible;
}
.leftColumnContainer {
	float: left;
	width: 100%;
	background: #F8F9FD;
	border-right: 1px solid #E8ECF8;
	position: relative;
	right: 519px;
	overflow: visible;
}
.wideColumnContainer {
	float: left;
	width: 100%;
	background: #FFF;
	position: relative;
	right: 231px;
	overflow: visible;
}
.leftColumn {
	float: left;
	width: 230px;
	position: relative;
	left: 750px;
}
.centralColumn {
	float: left;
	width: 520px;
	position: relative;
	left: 750px;
}
.rightColumn {
	float: left;
	width: 230px;
	position: relative;
	left: 750px;
}
.wideColumn {
	float: left;
	width: 750px;
	position: relative;
	left: 750px;
}
.mastheadColumn {
    float: right;
	width: 750px;
    background: url("../images/contentandpods_bg.gif") #FFF repeat-y scroll left;
	left: 750px;
	position: relative;	
}
.messageBox {
    background-color: #E7ECF8;
    height: 110px;
	padding: 20px;
    color: #022662;
    font-weight: bold;
	font-size: 0.917em; /* 11px */
	line-height: 1.818; /* 20px */
}
.welcomeBox {
	width: 190px;
    height: 210px;	
	float: left;
    padding: 12px 10px 15px 30px;
	background: url('../images/welcome_box_bg.png') #00257A repeat-y scroll left;
    position: relative;
}
.welcomeBox h1 {
    color: #82C2FF;
    font-size: 1.667em; /* 20px */
    font-weight: bold;
    line-height: 1.15; /* 23px */
	margin: 0;
	padding: 0;
}
.welcomeBox p {
    color: #E7ECF8;
    font-weight: bold;
    line-height: 1.667; /* 20px */
	margin: 0;
	padding: 0;
}
.flashOverlay {
    background: url("../images/flash_overlay.png") no-repeat left top transparent;
    left: 0;
    top: 0;
    position: relative;
    z-index: 1;
    float: left;
    width: 62px;
    height: 210px;	
}
.flashBanner {
    float: left;
	right: 0;
	bottom: 0;
    position: absolute;
    width: 750px;
    height: 210px;	
}

/* Navigation styles */
.globalNavigation ul {
	float: right;
	display: inline;
	margin: 0;
}
.globalNavigation li {
	display: inline;
	float: left;
	background: url("../images/divider_global.gif") no-repeat center right;
	padding: 0 10px 0 7px;
	text-align: center;
}
.globalNavigation li a:link, .globalNavigation li a:visited {
	font-weight: bold;
	text-decoration: none;
}
.globalNavigation li a:hover, .globalNavigation li a:active, .globalNavigation li a:focus {
	text-decoration: underline;
}
.globalNavigation li.selected a, .globalNavigation li a.selected {
	text-decoration: underline;
}
.globalNavigation li:last-child {
	padding-right: 0;
	background: 0 none;
}
.globalNavigation li.last {
	padding-right: 0;
	background: 0 none;
}
.globalNavigation select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #575757;
}
.globalNavigation select.site {
	width: 173px;
}
.globalNavigation select.language {
	width: 143px;
}

.primaryNavigation {
	width: 677px;
	height: 41px;
	float: right;
	font-size: 0.917em; /* 11px */
	position: relative; 
}
.primaryNavigation ul {
	display: inline;
	position: absolute;
	bottom: 0;
	line-height: normal;
	margin: 0;
}
.primaryNavigation li {
	color: #FFF;
	display: inline;
	line-height: normal;
	float: left;
	font-weight: bold;
	padding: 3px 16px 0 13px;
	text-align: center;
	background: url("../images/divider_primary.png") no-repeat center right;
}
.primaryNavigation li a:link, .primaryNavigation li a:visited {
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}
.primaryNavigation li a:hover, .primaryNavigation li a:active, .primaryNavigation li a:focus {
	color: #FA9A00;
	font-weight: bold;
	text-decoration: none;
}
.primaryNavigation li.selected a, .primaryNavigation li a.selected {
	color: #FA9A00;
	font-weight: bold;
	text-decoration: none;
}
.primaryNavigation li:last-child {
	background: none 0;
	padding-right: 0;
}
.primaryNavigation li.last {
	background: none 0;
	padding-right: 0;
}

.secondaryNavigation {
	font-size: 0.917em; /* 11px */
	overflow: hidden;
	margin: 0;
}
.secondaryNavigation ul {
	margin: 0;
}
.secondaryNavigation li  {
    display: inline;
	padding: 0;
	line-height: 1.636; /* 18px */
	background-image: none;
	width: 100%;
}
.secondaryNavigation li a {
	background: url("../images/arrow_icon_right.gif") no-repeat scroll right 50% #FFF;
	display: block;
	padding: 4px 20px 5px;
	text-decoration: none;
	border-bottom: 1px solid #E7ECF8;
}
.secondaryNavigation a:link, .secondaryNavigation a:visited {
	color: #007C92;
	text-decoration: none;
}
.secondaryNavigation a:hover, .secondaryNavigation a:active, .secondaryNavigation a:focus {
	text-decoration: underline;
}
.secondaryNavigation a.expanded, .secondaryNavigation li.expanded a {
	background: url("../images/arrow_icon_down.gif") no-repeat scroll right 50% #FFF;
}
.secondaryNavigation li.selected a, .secondaryNavigation li a.selected {
	color: #002664;
	font-weight: bold;
}
.secondaryNavigation li.selected * a {
	color: #007C92;
	font-weight: normal;
}
.secondaryNavigation li ul li a {
	padding: 4px 10px 5px 30px;
	background: none #F8F9FD !important;
	border-bottom: 1px solid #E7ECF8;
}
.secondaryNavigation li ul li ul li a {
	padding-left: 40px;
	background: none #EFF2FA !important;
	border-bottom: 1px solid #FFF;
}
.secondaryNavigation li ul li ul li ul li a {
	padding-left: 50px;
}
.secondaryNavigation li ul li ul li ul li ul li a {
	padding-left: 60px;
}

.breadcrumbs {
	padding: 4px 20px 5px;
	font-size: 0.917em; /* 11px */
}
.breadcrumbs ul {
	float: left;
	display: inline;
	margin: 0;
}
.breadcrumbs li {
	display: inline;
	float: left;
	line-height: 1.636; /* 18px */
	background: url("../images/divider_breadcrumbs.gif") no-repeat center right;
	padding: 0 13px 0 0;
	text-align: center;
}
.breadcrumbs li a:link, .breadcrumbs li a:visited {
	color: #007C92;
	text-decoration: none;
}
.breadcrumbs li a:hover, .breadcrumbs li a:active, .breadcrumbs li a:focus {
	text-decoration: underline;
}
.breadcrumbs li:last-child, .breadcrumbs li:last-child a {
	color: #002664;
	padding-right: 0;
	background: 0 none;
}
.breadcrumbs li.last, .breadcrumbs li.last a {
	color: #002664;
	background: 0 none;
}

/* Branding Bar styles */
.brandingBarLogo {
	display: inline;
	float: left;
	margin: 22px 0 0 22px;
}
.brandingBarLogo img {
	width: 160px;
	height: 55px;
}
.brandingBarTop {
	float: right;
	width: 650px;
	height: 30px;
	margin: 7px 0 0;
}
.brandingBarTop .siteName, .brandingBarTop span {
	color: #FFF;
	line-height: 2; /* 24px */
	font-size: 1.083em; /* 13px */
	font-weight: bold;
	float: left;
}
.brandingBarTop ul {
	float: right;
	display: inline;
	margin-top: 0.583em; /* 7px */
}
.brandingBarTop li {
	font-size: 0.917em; /* 11px */
	background: none;
	display: inline;
	border-right: 1px solid #FFF;
	float: left;
	padding: 0 0.667em;
	text-align: center;
}
.brandingBarTop li a:link, .brandingBarTop li a:visited {
	color: #FFF;
	text-decoration: none;
}
.brandingBarTop li a:hover, .brandingBarTop li a:active, .brandingBarTop li a:focus {
	color: #FA9A00;
	text-decoration: none;
}
.brandingBarTop li.selected a, .brandingBarTop li a.selected {
	color: #FA9A00;
}
.brandingBarTop li:last-child {
	border: 0 none;
}
.brandingBarTop li.last {
	border: 0 none;
}
.brandingBarSearch {
	float: right;
	margin: 0.417em 10px 0 3px;
	line-height: normal;
    vertical-align: top;
}
.brandingBarSearch input.searchField {
	width: 140px;
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.917em; /* 11px */
	border: 1px #7F9DB9 solid;
	padding: 1px 2px;
	vertical-align: bottom;
}
.brandingBarSearch input.searchButton {
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.917em; /* 11px */
	border: 1px #7F9DB9 solid;
	border-left: 0 none;
	background: url("../images/gosearch.gif") #FFF no-repeat center center;
	cursor: pointer;
	width: 1.667em;
	height: 1.667em;
	padding: 1px;
	vertical-align: bottom;
}

/* Column styles */
.sideColumnContent {
	padding: 0 10px;
}
.centralColumnContent {
	padding: 0 20px;
}
.mastheadColumnContent {
	padding: 0 10px 0 20px;
}
.wideColumnContent {
	padding: 0 10px 0 20px;
}
.maxColumnContent {
	padding: 0 15px 38px;
}

.centralColumnContent img {
	margin: 10px 0;
	display: block;
}
.heroWrapper {
    position: relative;
	height: 100%;
}
.heroOverlay {
	width: 276px;
	height: 52px;
	background: url('../images/hero_overlay.png') no-repeat right bottom;
	position: absolute;
	right: 0;
	bottom: 0;
	color: #FFF;
	font-size: 1.083em; /* 13px */
	line-height: normal;
	padding: 8px 20px 5px;
}
.heroOverlayIeFix {
	width: 100%;
	height: 100%;
	text-align: right;
}
.heroOverlay h3 {
  	color: #82C2FF;
	font-size: 1em;
	line-height: normal;
	margin: 0;
	padding: 0;
}
.heroOverlay a:link, .heroOverlay a:visited {
  	color: #FFF;
}
.heroOverlay a:hover, .heroOverlay a:active, .heroOverlay a:focus {
  	color: #FA9A00;
	text-decoration: none;
}

/* Layout dividers */
.oneHalf {
	width: 230px;
	float: left;
}
.oneThird {
	width: 150px;
	float: left;
}
.spacingHalf {
	width: 20px;
	float: left;
}
.spacingThird {
	width: 15px;
	float: left;
}
.spacingQuarter {
	width: 10px;
	float: left;
}
.podsAndContent {
	width: 100%;
	background: url("../images/podsandcontent_bg.gif") repeat-y scroll left;
	margin: 10px 0 20px;
}
.contentAndPods {
	width: 100%;
	background: url("../images/contentandpods_bg.gif") repeat-y scroll right;
	margin: 10px 0 20px;
}
.podsAndContent h1, .podsAndContent h2, .podsAndContent h3, .podsAndContent h4, .podsAndContent h5, .podsAndContent h6, .contentAndPods h1, .contentAndPods h2, .contentAndPods h3, .contentAndPods h4, .contentAndPods h5, .contentAndPods h6 {
    margin-top: 0;
}
.podsAndContent div.pod, .contentAndPods div.pod {
	margin: 0 0 10px;
}
.podsLeft {
    float: left;
	width: 160px;
	margin: 0 20px 0 0;
}
.contentRight {
	padding: 0 0 0 20px;
}
.podsRight {
    float: right;
	width: 160px;
	margin: 0 0 0 20px;
}
.contentLeft {
	padding: 0 20px 0 0;
}
.rightBorder {
	border-right: 1px solid #E8ECF8;
}
.bottomBorder {
	border-bottom: 1px solid #E8ECF8;
}
.podsLeft blockquote, .podsRight blockquote {
	margin: 0;
	color: #00505C;
}

/* Pods */ 
.pod {
	padding: 0 10px;
	margin: 10px 0 0;
	position: relative;
}
.nopadding {
	padding: 0;
}
.nomargin {
	margin: 0;
}
.pod img {
	margin: 0.5em 0;
	display: block;
}
.pod h3 {
	width: auto;
	line-height: 1.5;
	padding: 1px 10px 0;
	margin: 0 -10px 0.5em;
	position: relative;
}
.pod h3.blue {
	color: #002664;
	background-color: #E0EEFB;
	border-bottom: 1px solid #C1DDF8;
	position: relative;
}
.pod h3.turqoise {
	color: #FFF;
	background-color: #007C92;
	border-bottom: 1px solid #006375;
	position: relative;
}
.pod h3.red {
	color: #FFF;
	background-color: #9E3039;
	border-bottom: 1px solid #7E262E;
	position: relative;
}
.pod h3.blue a {
	display: block;
	margin: 0 -10px;
	padding: 0 20px 0 10px;
	color: #002664;
	background: url("../images/pod_arrow_blue.gif") no-repeat scroll right center transparent;
	text-decoration: none;
}
.pod h3.turqoise a, .pod h3.red a {
	display: block;
	margin: 0 -10px;
	padding: 0 20px 0 10px;
	color: #FFF;
	background: url("../images/pod_arrow_white.gif") no-repeat scroll right center transparent;
	text-decoration: none;
}
.pod h3.blue a:hover, .pod.blue h3 a:active, .pod.blue h3 a:focus {
	text-decoration: none;
	background-color: #C1DDF8;
}
.pod h3.turqoise a:hover, .pod.turqoise h3 a:active, .pod.turqoise h3 a:focus {
	text-decoration: none;
	background-color: #006375;
}
.pod h3.red a:hover, .pod.red h3 a:active, .pod.red h3 a:focus {
	text-decoration: none;
	background-color: #7E262E;
}
.nopadding h3.blue, .nopadding h3.turqoise, .nopadding h3.red {
	padding: 1px 20px 0;
}

/* Footer styles */
.footer {
	color: #B2B2B2;
	line-height: normal;
}
.footer p {
	margin: 0 0 10px;
}
.footer ul {
	margin: 0;
}
.footer li {
	border-right: 1px solid #E7ECF8;
	background: none;
	display: inline;
	float: left;
	padding: 0 6px;
	text-align: center;
	line-height: 1.5; /* 18px */
}
.footer li.selected a, .footer li a.selected {
	font-weight: bold;
}
.footer li:last-child {
	border: 0 none;
}
.footer li.last {
	border: 0 none;
}
.footer li a:link, .footer li a:visited {
	color: #B2B2B2;
	text-decoration: none;
}
.footer li a:hover, .footer li a:active, .footer li a:focus {
	text-decoration: underline;
}
.footerNavLeft {
	display: inline;
	float: left;
	margin-left: 4px;
	margin-top: 10px;
}
.footerNavRight {
	display: inline;
	float: right;
	margin-right: 4px;
	margin-top: 10px;
}
.footerLegalese {
	display: inline;
	float: left;
	margin: 10px 0 0 10px;
	width: 730px;
}


/* Miscellaneous classes */
.clearfloat {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0;
}
