﻿@model KPMG.APGBuilder.Web.Models.SubIndustryViewModel

@{
    ViewBag.Title = "APG Builder - Edit Industry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<script language="javascript">
    function ValidateIndustry() {
        var returnValue;
        var selectedIndustry = $("#SelectedIndustryId :selected").text();
        if (selectedIndustry === "--SELECT--") {
            $("#IndustryValidateMsg").text("Select an Industry...");
            $(".IndustrySelectionValidate").show();
            returnValue = false;
        }
        else {
            dropdownID = $("#SelectedIndustryId").find('option:selected').attr('id');
            var optionsAry = dropdownID.split('_');
            if (optionsAry[1] === "InActive") {
                if (optionsAry[2] === "INDUSTRY") {
                    $("#IndustryValidateMsg").text("Select an active Industry...");
                    $(".IndustrySelectionValidate").show();
                    returnValue = false;
                }
                else if (optionsAry[2] === "LOB") {
                    $("#IndustryValidateMsg").text("The associated LOB is Inactive...");
                    $(".IndustrySelectionValidate").show();
                    returnValue = false;
                }
            }
            else {
                $(".IndustrySelectionValidate").hide();
                returnValue = true;
            }
        }
        return returnValue;
    }
    var dropdownID;
    $(document).ready(function () {
        $('#SelectedIndustryId').change(function (event) {
            if (!ValidateIndustry()) {
                event.preventDefault();
            }

        });

        $('#btnSave').click(function (event) {
            var name = $('#Name').val();
            var description = $('#Description').val();
            var IndustryId = $("#SelectedIndustry :selected").text();
            dropdownID = $("#SelectedIndustryId").find('option:selected').attr('id');
            var status = $('#IsActive').val();

            if (name && description) {
                if (!ValidateIndustry()) {
                    event.preventDefault();
                }
            }
            else {
                ValidateIndustry();
            }
        });

    });
</script>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div>
        <table cellpadding="0" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th colspan="2">
                        <b>Sub Industry Details</b>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:20%">
                        <div class="required">
                            @Html.Label("Name")
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name, null, new { @style = "color:red" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%">
                        <div class="required">
                            @Html.Label("Description")
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.EditorFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description, null, new { @style = "color:red" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%">
                        <div class="required">
                            @Html.Label("LOB")
                        </div>
                    </td>
                    <td>
                        <div>
                            @* @Html.DropDownListFor(model => model.LobId, new SelectList(Model.IndustryDict, "Key", "Value", Model.LobId))*@

                            <select id="SelectedIndustryId" name="SelectedIndustryId" data-val-required="Select an Industry..." data-val="true">
                                <option id="00_SELECT_INDUSTRY" value="select" style="color: black">--SELECT--</option>
                                @foreach (var industry in Model.IndustryList)
                                {
                                    if (industry.IsActive.HasValue && industry.IsActive.Value)
                                    {
                                        if (industry.LOB.IsActive.HasValue && industry.LOB.IsActive.Value)
                                        {
                                            <option id=@AppendString(@industry.Id.ToString(), "Active","INDUSTRY") @Html.Raw((industry.Id == Model.SelectedIndustryId) ? "selected=\"selected\"" : "") value="@industry.Id" style="color: black">@industry.Name</option>
                                        }
                                        else
                                        {
                                            <option id=@AppendString(@industry.Id.ToString(), "InActive", "LOB") @Html.Raw((industry.Id == Model.SelectedIndustryId) ? "selected=\"selected\"" : "") value="@industry.Id" style="color:blue">@industry.Name</option>
                                        }
                                    }
                                    else
                                    {
                                        <option id=@AppendString(@industry.Id.ToString(), "InActive","INDUSTRY") @Html.Raw((industry.Id == Model.SelectedIndustryId) ? "selected=\"selected\"" : "") value="@industry.Id" style="color: red">@industry.Name</option>
                                    }
                                }
                            </select>
                            <span id="IndustryValidateMsg" class="IndustrySelectionValidate" style="color:red"></span>
                            @*@Html.ValidationMessageFor(model => model.SelectedLobId, null, new { @style = "color:red" })*@
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%">
                        <div class="required">
                            @Html.Label("IsActive")
                        </div>
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.IsActive, Model.IsActiveList, new { @style = "width: 205px" })
                        @Html.ValidationMessageFor(model => model.IsActive, null, new { @style = "color:red" })
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br />
    <p><input type="submit" value="Save" id="btnSave" />&nbsp;&nbsp;@Html.ActionLink("Back to List", "Index")</p>

}
@functions{
    string AppendString(string id, string data, string type)
    {
        return id + "_" + data + "_" + type;
    }
}
