﻿/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}

fieldset label
{
    display: block;
}

fieldset label.inline
{
    display: inline;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"]
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"]
{
    width: 200px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

table .grid
{
    border: solid 1px #EFEFEF;
    border-collapse: collapse;
}

table .grid td
{
    padding: 5px;
    border: solid 1px #EFEFEF;
}

table .grid th
{
    padding: 6px 5px;
    text-align: left;
    background-color: #EFEFEF;
    border: solid 1px #EFEFEF;
}

/*
.t-grid table
{
  border: solid 1px #EFEFEF;
  border-collapse: collapse;
}

.t-grid td 
{
  padding: 5px;   
  border: solid 1px #EFEFEF;
}

.t-grid th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #EFEFEF; 
  border: solid 1px #EFEFEF;   
}

*/

div#divRating
{
    display: none;
    position: absolute;
    width: 280px; /*padding: 10px;         background: #eeeeee;         color: #000000;         border: 1px solid #1a1a1a;         font-size: 90%;*/
}

div#divGuideline
{
    display: none;
    position: absolute;
    width: 280px;
}

.Report table tr tH
{
    background-color: #E6E6E6;
    height: 10px;
    padding: 1px;
}
.Report table tr td
{
    background-color: #E2E4FF;
    height: 10px;
    padding: 1px;
}

.startUP
{
    background-color: #E6E6E6;
    height: 10px;
    padding: 1px;
}

.field-validation-error
{
    color: #ff0000;
}

.validation-summary-errors
{
    color: #000000;
}

.scroll
{
    width: 600px;
    overflow: auto;
    overflow-y: hidden;
}

.input-validation-error
{
    
    background-color: #ffeeee;
}

div.Error {
  color:red;
}

li.Error {
  color:red;
}

.redsmileybgcolor
{
	font-weight: bold;
	font-size: 14px;
	background-color: #c0c0c0;
	color: red;
	font-family: Wingdings;	
	text-align: center;
}
.yellowsmileybgcolor
{
	font-weight: bold;
	font-size: 14px;
	background-color: #c0c0c0;
	color: yellow;
	font-family: Wingdings;
	text-align: center;
}
.greensmileybgcolor
{
	font-weight: bold;
	font-size: 14px;
	background-color: #c0c0c0;
	color: lime;
	font-family: Wingdings;
	text-align: center;
}
.tdwbgbluefontcolor
{
background-color:#FFFFFF;	
color:#0000FF;
font-weight: bold;
text-align: center;
}