﻿#tabContents {
	padding: 0px;
	background: none;
	border-width: 0px;
	border-style:none;
}
#tabContents .ui-tabs-nav {
	padding-left: 0px;
	background: transparent;
	border-width: 0px 0px 1px 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
/*
#tabContents .ui-tabs-panel {
	background: url(images/ui-bg_highlight-hard_100_f5f3e5_1x100.png) repeat-x scroll 50% top #f5f3e5;
	border-width: 0px 1px 1px 1px;
}
*/
#tabContents .ui-widget-header {
    border:0; background:#ffffff none; font-family:Georgia;
}

#tabContents .ui-widget-content {

border:1px solid #cccccc; background:#ffffff none;

font-size:100%;

}

