﻿@model IEnumerable<KPMG.APGBuilder.Web.Models.BusinessProcessViewModel>

@{
    ViewBag.Title = "APG Builder - Business Process List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Business Process</h2>
<br />

<div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>
<script language="javascript">
    $(document).ready(function () {

        $("a").click(function (event) {
            if ($(this).attr('Id') == "delete") {
                var answer = confirm('Are you sure you want to delete this record?');
                return answer;
                event.preventDefault();
            }
            else if ($(this).attr('Id') == 'Activate') {
                var answer = confirm('Are you sure you want to make this record active?');
                return answer;
                event.preventDefault();
            }
        });
    });
</script>




<div id="kendoBPGrid">

    @(Html.Kendo().Grid<KPMG.APGBuilder.Web.Models.BusinessProcessViewModel>(Model)
    .Name("kgBusinessProcess")
    .Pageable()
    .Sortable()
    .Scrollable()
    .Filterable(ftb=>ftb.Mode(GridFilterMode.Row))
    .Resizable(resize=>resize.Columns(true))
    .Columns(columns=>
    {
        columns.Template(businessProcess => @Html.ActionLink("Edit", "Edit",  new { businessProcess.Id })).Title("Action").Width(100);
        columns.Bound(businessProcess => businessProcess.Name);
        columns.Bound(businessProcess => businessProcess.Description);
        columns.Bound(businessProcess => businessProcess.SubIndustry);
        columns.Template(businessProcess => @Html.Label((businessProcess.IsActive.HasValue && businessProcess.IsActive.Value)?"True":"False")).Title("Status");
    })
    
    
)

</div>




<div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>