<!--[if !IE]> -->
  <object type="application/x-shockwave-flash" data="KPMG-Rotator.swf?xmlURI=data.xml&amp;size=750,210&amp;language=other" width="750" height="210">
<!-- <![endif]-->
<!--[if IE]>
  <script type="text/javascript"></script>
  <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="750" height="210">
    <param name="movie" value="KPMG-Rotator.swf?xmlURI=data.xml&amp;size=750,210&amp;language=other" />
<!-->
    <param name="wmode" value="transparent" />
  </object>
<!-- <![endif]-->