<!--[if !IE]> -->
  <object type="application/x-shockwave-flash" data="KPMG_FLVPlayer.swf?src=example-video.flv" width="480" height="290">
<!-- <![endif]-->
<!--[if IE]>
  <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="480" height="290">
   <param name="movie" value="KPMG_FLVPlayer.swf?src=example-video.flv" />
<!-->
   <param name="wmode" value="transparent" />
   <param name="allowfullscreen" value="true" />
   <param name="quality" value="high" />
   <param name="scale" value="exactfit" />
  </object>
<!-- <![endif]-->