﻿@using KPMG.APGBuilder.Web.AppCode
@model KPMG.APGBuilder.Web.Models.APGFromProcessViewModel

@{
    ViewBag.Title = APGConstants.CREATE_APG_PROCESS_TITLE;
    Layout = APGConstants.LAYOUT_PATH;
}

<h2>Create APG From Process</h2>
<br />
<p><input type="submit" id="btnViewProcessLibrary" value="View Process Library" /></p>
<script language="javascript">

    $(document).ready(function () {
        $(document).ajaxStart(function () {
            $("#wait").css("display", "block");
        });
        $(document).ajaxComplete(function () {
            $("#wait").css("display", "none");
        });
        $("button").click(function () {
            $("#txt").load("demo_ajax_load.asp");
        });
    });

    function itemStyle_mouseOver(control) {
        control.className = "itemStyle";
    }

    function itemStyle_mouseOut(control) {
        control.className = "";
    }

    function LoadProcess(control) {
        //Business Process
        var strBusinessProcess = "";
        var BusinessProcessElements = $(".BusinessProcess");

        for (var i = 0; i < BusinessProcessElements.length; i++) {
            var element = BusinessProcessElements[i];
            if (element.checked == true) {
                if (strBusinessProcess == "")
                    strBusinessProcess = strBusinessProcess + element.id;
                else
                    strBusinessProcess = strBusinessProcess + ";" + element.id;
            }
        }

        if (strBusinessProcess == "") {

            $('#divProcess').empty();
            $('#divProcessFilter').empty();
            $('#divSubProcess').empty();
        }

        //Process
        var strProcess = "";
        var ProcessElements = $(".Process");

        for (var i = 0; i < ProcessElements.length; i++) {
            var element = ProcessElements[i];
            if (element.checked == true) {
                if (strProcess == "")
                    strProcess = strProcess + element.id;
                else
                    strProcess = strProcess + ";" + element.id;
            }
        }

        if (strProcess == "") {

            $('#divSubProcess').empty();
        }

        //Sub Process
        var strSubProcess = "";
        var SubProcessElements = $(".SubProcess");

        for (var i = 0; i < SubProcessElements.length; i++) {
            var element = SubProcessElements[i];
            if (element.checked == true) {
                if (strSubProcess == "")
                    strSubProcess = strSubProcess + element.id;
                else
                    strSubProcess = strSubProcess + ";" + element.id;
            }
        }

        if (control.className == "BusinessProcess") {
            $.ajax({

                url: '@Url.Action("ProcessList", "APGFromProcess")',
                type: "GET",
                data: {
                    //placed these here so don't have to intersperse javascript with razor code in Url.Action
                    businessProcesses: strBusinessProcess
                },

                success: function (result) {
                    $('#divProcess').empty();
                    $('#divProcessFilter').empty();
                    $('#divSubProcess').empty();

                    var table = $('<div></div>');
                    //var tableFilter = $('<div></div>');
                    if (result.length > 0) {
                        table.append(
                            $('<label>').attr({
                                for: 'txtProcessSearch', style: 'font-weight:bold;'
                            }).text('Search Filter: ')).append($('<input>').attr({
                                type: 'text', id: 'txtProcessSearch', style: 'width:60px;'
                            })).append($('<input>').attr({
                                type: 'button', id: 'btnProcessAll', value: 'All'
                            })).append('<br />');
                    }
                    var counter = 0;
                    $(result).each(function () {
                        table.append($('<input>').attr({
                            type: 'checkbox', name: 'selectedProcessList', value: this.Value, id: 'process_' + this.Id, onChange: 'LoadProcess(this)', class: 'Process'
                        })).append(
                        $('<label>').attr({
                            for: 'process_' + this.Id
                        }).text(this.Name)).append('<br />');
                    });

                    $('#divProcess').append(table);
                    //$('#divProcessFilter').append(tableFilter);

                    //Re-Selecting the selected value if already selected
                    //Process
                    if (strProcess != "") {

                        var strProcessArray = strProcess.split(";");

                        var ProcessElements = $(".Process");

                        for (var j = 0; j < strProcessArray.length; j++) {
                            for (var i = 0; i < ProcessElements.length; i++) {
                                var element = ProcessElements[i];
                                if (element.id == strProcessArray[j]) {
                                    element.checked = true;
                                }
                            }
                        }
                    }

                    if ($(".BusinessProcess").length == 0) {
                        $('#divProcess').empty();
                        $('#divProcessFilter').empty();
                        $('#divSubProcess').empty();
                    }

                }
            });

        }

        if (control.className == "Process" || control.className == "BusinessProcess") {
            $.ajax({

                url: '@Url.Action("SubProcessList", "APGFromProcess")',
                type: "GET",
                data: {
                    //placed these here so don't have to intersperse javascript with razor code in Url.Action
                    processes: strProcess
                },

                success: function (result) {
                    $('#divSubProcess').empty();

                    var table = $('<div></div>');
                    if (result.length > 0) {
                        table.append(
                            $('<label>').attr({
                                for: 'txtSubProcessSearch', style: 'font-weight:bold;'
                            }).text('Search Filter: ')).append($('<input>').attr({
                                type: 'text', id: 'txtSubProcessSearch', style: 'width:60px;'
                            })).append($('<input>').attr({
                                type: 'button', id: 'btnSubProcessAll', value: 'All'
                            })).append('<br />');
                    }

                    var counter = 0;
                    $(result).each(function () {
                        table.append($('<input>').attr({
                            type: 'checkbox', name: 'selectedSubProcessList', value: this.Value, id: 'subProcess_' + this.Id, onChange: "LoadProcess(this)", class: 'SubProcess'
                        })).append(
                        $('<label>').attr({
                            for: 'subProcess_' + this.Id,
                        }).text(this.Name)).append('<br />');
                    });

                    $('#divSubProcess').append(table);

                    //Re-Selecting the selected value if already selected
                    //SubProcess
                    if (strSubProcess != "") {

                        var strSubProcessArray = strSubProcess.split(";");

                        var SubProcessElements = $(".SubProcess");

                        for (var j = 0; j < strSubProcessArray.length; j++) {
                            for (var i = 0; i < SubProcessElements.length; i++) {
                                var element = SubProcessElements[i];
                                if (element.id == strSubProcessArray[j]) {
                                    element.checked = true;
                                }
                            }
                        }
                    }

                    if ($(".Process").length == 0) {
                        $('#divSubProcess').empty();
                    }
                }
            });
        }
        return true;
    }

</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;"><img src='../../Images/wait.gif' width="64" height="64" /><br>Loading..</div>
        <div style="overflow:auto;width:100%">
            <table>
                <tr>
                    <td>
                        <div style="margin:5px 5px 0px; padding:0px 5px; position:relative;" class="pod">
                            <h3 class="blue">Industry Mapping</h3>
                            <input class="Industry" type="checkbox" name="selectedCommonIndustryList" id="industry_common" value="Common" /><label style="overflow-wrap:normal;" for="industry_common">Common</label><br />
                            <div style="overflow-x:hidden;overflow-y: auto; height: 350px; width:250px" id="divBusinessProcess">
                                @Html.Partial("_IndustrySelector", Model)
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align:middle">
                        <table>
                            <tr>
                                <td valign="middle">
                                    <div class="oneHalf">
                                        <div style="margin:5px 5px 0px; padding:0px 5px; position:relative;" class="pod">
                                            <h3 class="blue">Business Process</h3>
                                            <div style="overflow-x:hidden;overflow-y: auto; height: 250px; width:200px" id="divBusinessProcess">
                                                <span style="font-weight:bold;">Search Filter: </span><input type="text" id="txtBusinessProcessSearch" style="width:60px" /><input type="button" id="btnBusinessProcessAll" value="All" />
                                                <br />
                                                @foreach (var businessProcess in Model.BusinessProcessList)
                                                {
                                                    <input class="BusinessProcess" type="checkbox" name="selectedBusinessProcessList" id="@("businessProcess_" + businessProcess.Id)" value="@businessProcess.Id" onchange="LoadProcess(this)" /><label style="overflow-wrap:normal;" onmouseover="itemStyle_mouseOver(this)" onmouseout="itemStyle_mouseOut(this)" for="@("businessProcess_" + businessProcess.Id)">@businessProcess.Name</label><br />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td valign="middle">
                                    <div class="oneHalf">
                                        <div style="margin:5px 5px 0px; padding:0px 5px; position:relative;" class="pod">
                                            <h3 class="blue">Process</h3>
                                            <div id="divProcessFilter">

                                            </div>
                                            <div style="overflow-x:hidden;overflow-y: auto; height: 250px; width:200px" id="divProcess">

                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td valign="middle">
                                    <div class="oneHalf">
                                        <div style="margin:5px 5px 0px; padding:0px 5px; position:relative;" class="pod">
                                            <h3 class="blue">Sub Process</h3>
                                            <div style="overflow-x:hidden;overflow-y: auto; height: 250px; width:200px" id="divSubProcess">

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </td>
                    <td style="vertical-align:middle">
                        <input type="submit" id="btnTestProcedures" value="Test Procedures" />
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
}
