﻿@model KPMG.APGBuilder.Web.Models.ActivityViewModel

@{
    ViewBag.Title = "APG Builder - Edit Activity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div>
        <table>
            <thead>
                <tr>
                    <th colspan="2">
                        <b>Activity</b>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:20%">
                        <div>
                            @Html.Label("Activity")
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name, "*", new { @style = "color:red" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%">
                        <div>
                            @Html.Label("Description")
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.EditorFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description, "*", new { @style = "color:red" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%">
                        <div>
                            @Html.Label("IsActive")
                        </div>
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.IsActive, Model.IsActiveList, new { @style = "width: 205px" })
                        @Html.ValidationMessageFor(model => model.IsActive, "*", new { @style = "color:red" })
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br />
    <fieldset>
        <legend><span><b>Industry Mapping</b></span><br /></legend>
        <div style="overflow:scroll;height:300px;">
            <table>
                <tr>

                    @{int[] industryColumnArray = { 4, 8, 12, 16 };}
                    @{int col = 0;}
                    @foreach (var industry in Model.IndustryList)
                    {
                        @*@if(industryColumnArray.Contains(col))
                            {
                               <tr>
                            }*@
                        <td valign="top" align="left" style="vertical-align:top; width:25%">
                            <span><b>@industry.Name</b></span><br />
                            @foreach (var subIndustry in Model.SubIndustryList.Where(i => i.IndustryId.Equals(industry.Id)))
                            {
                                var isChecked = Model.HasSubIndustryExist(subIndustry.Id, Model.Id) ? "checked=\"checked\"" : "";
                                <input type="checkbox" name="SelectedIndustry" value="@subIndustry.Id" @isChecked />@subIndustry.Name<br />
                            }
                        </td>
                        @*@if(industryColumnArray.Contains(col))
                            {
                                </tr>
                            }*@

                            col++;
                    }
                    @Html.ValidationMessageFor(model => model.SelectedIndustry)
                </tr>
            </table>
        </div>
    </fieldset>
    <br />
    <p><input type="submit" value="Save" />&nbsp;&nbsp;@Html.ActionLink("Back to List", "Index")</p>

}
