﻿@model IEnumerable<KPMG.APGBuilder.Web.Models.ActivityViewModel>

@{
    ViewBag.Title = "APG Builder - Activity List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Activity</h2>
<br />

<div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>
<br />
<script language="javascript">
    $(document).ready(function () {

        $("a").click(function (event) {
            if ($(this).attr('Id') == "delete") {
                var answer = confirm('Are you sure you want to delete this record?');
                return answer;
                event.preventDefault();
            }
        });
    });
</script>
<div style="width:100%; overflow:auto;height:300px;">
    <table cellpadding="0" cellspacing="0" style="width:100%">
        <thead>
            <tr>
                <th>Action</th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubIndustry)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { id = "delete" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubIndustry)
                    </td>
                    <td>
                        @Html.Label((item.IsActive.HasValue && item.IsActive.Value) ? "True" : "False")  
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>