﻿@model KPMG.APGBuilder.Web.Models.TestViewModel

@{
    ViewBag.Title = "APG Builder - Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<
<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div>
        <table cellpadding="0" cellspacing="0" style="width:100%">
            <thead>
                <tr>
                    <th colspan="4">
                        <b>Business Risk Detail</b>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:20%">
                        <div class="required">
                            @Html.Label("Name")
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name, null, new { @style = "color:red" })
                        </div>
                    </td>
                    <td style="width:20%">
                        <div class="required">
                            @Html.Label("EstimatedHours")
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.EditorFor(model => model.EstimatedHours)
                            @Html.ValidationMessageFor(model => model.EstimatedHours, null, new { @style = "color:red" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%">
                        <div class="required">
                            @Html.Label("Description")
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.EditorFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description, null, new { @style = "color:red" })
                        </div>
                    </td>
                    <td style="width:20%">
                        <div class="required">
                            @Html.Label("Technique")
                        </div>
                    </td>
                    <td>
                        <div>
                            @*@Html.EditorFor(model => model.Technique)*@
                            <select id="Technique" name="Technique">
                                @foreach (var technique in Model.TechniqueList)
                                {
                                    <option id="technique-@technique">@technique</option>
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.Technique, null, new { @style = "color:red" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%">
                        <div class="required">
                            @Html.Label("Hypothesis")
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.EditorFor(model => model.Hypothesis)
                            @Html.ValidationMessageFor(model => model.Hypothesis, null, new { @style = "color:red" })
                        </div>
                    </td>

                </tr>
                <tr>
                    <td style="width:20%">
                        <div class="required">
                            @Html.Label("Notes")
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.EditorFor(model => model.Notes)
                            @Html.ValidationMessageFor(model => model.Notes, null, new { @style = "color:red" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%">
                        <div class="required">
                            @Html.Label("SystemNotes")
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.EditorFor(model => model.SystemNotes)
                            @Html.ValidationMessageFor(model => model.SystemNotes, null, new { @style = "color:red" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%">
                        <div class="required">
                            @Html.Label("System")
                        </div>
                    </td>
                    <td>
                        <div>
                            @*@Html.DropDownListFor(model => model.IsActive, Model.IsActiveList, new { @style = "width: 205px" })*@
                            @* @Html.EditorFor(model => model.System)*@
                            <select id="System" name="System">
                                @foreach (var system in Model.SystemList)
                                {
                                    <option id="system-@system">@system</option>
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.System, null, new { @style = "color:red" })
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br />
    <p><input type="submit" value="Create" />&nbsp;&nbsp;@Html.ActionLink("Back to List", "Index")</p>
}