﻿@using KPMG.APGBuilder.Business.Entity
@model KPMG.APGBuilder.Web.Models.StringLibrarySingleItemBuilderViewModel

@{
    ViewBag.Title = "APG Builder - APG Single Item Builder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Single Item Builder</h2>

<script type="text/javascript">
    function onAdditionalData() {
        return {
            searchProcess: $("#ProcessName").val()
        };
    }

    $(document).ready(function () {

        $(document).on("click", ".k-grid-content table td", function () {
            var cls = $(this).attr('class');
            if ($(this).parent().find("." + cls.split(' ')[0] + "").hasClass("highlighted")) {
                $(this).parent().parent().find("." + cls.split(' ')[0] + "").removeClass("highlighted");
            }
            else {
                $(this).parent().parent().find("." + cls + ".highlighted").removeClass("highlighted");
                $(this).parent().find("." + cls + "").toggleClass("highlighted");
            }
        });

        $("#btnAddLibrary").click(function (event) {

        });

    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div>
        <table class="SingleItemTbl" id="StringLibrarySingleItem" cellpadding="0" cellspacing="0" style="width:100%">
            <tbody>
                <tr>
                    <td> <div class="required">@Html.Label("Business Process")</div>  </td>
                    <td>
                        @*@Html.EditorFor(model=>model.StringLibrarySingleItem.BusinessProcessName)*@
                        @(Html.Kendo().AutoCompleteFor(model => model.StringLibrarySingleItem.BusinessProcessName)
                        .Name("BusinessProcessName")
                        .Filter("contains")
                        .Placeholder("Select Business Process..")
                        .BindTo(new string[] { "sample texttttt for long width more than the size", "sample texttttt for long width", "sample texttttt for long width moresample texttttt for long width more" }))
                        @*@Html.TextAreaFor(model => model.StringLibrarySingleItem.BusinessProcessName, new { id = "BusinessProcessName", rows = "", cols = "", @class = "txtArea" })*@
                        @Html.HiddenFor(model => model.StringLibrarySingleItem.BusinessProcessId, new { id = "hdnBusinessProcessId" })
                    </td>
                    <td> <div class="required">@Html.Label("Process")</div>  </td>
                    <td>
                       @(Html.Kendo().AutoCompleteFor(model => model.StringLibrarySingleItem.ProcessName)
         .Name("StringLibrarySingleItem.ProcessName")
                        .IgnoreCase(true)
                        
                        .DataTextField("ProcessName")
                        .Filter("contains")
                        .Placeholder("Select Process..")
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("SearchProcess", "StringLibrary", "searchProcess").Data("onAdditionalData");
                            });
                        }))
                        @*@Html.TextAreaFor(model => model.StringLibrarySingleItem.ProcessName, new { id = "ProcessName", rows = "", cols = "", @class = "txtArea" })*@
                        @Html.HiddenFor(model => model.StringLibrarySingleItem.ProcessId, new { id = "hdnProcessId" })
                    </td>
                </tr>
                <tr>
                    <td> <div class="required">@Html.Label("Sub Process")</div>  </td>
                    <td>
                        @(Html.Kendo().AutoCompleteFor(model => model.StringLibrarySingleItem.SubProcessName)
                        .Name("ProcessName")
                        .Filter("contains")
                        .Placeholder("Select Process..")
                        .BindTo("sample"))
                        @*@Html.TextAreaFor(model => model.StringLibrarySingleItem.SubProcessName, new { id = "SubProcessName", rows = "", cols = "", @class = "txtArea" })*@
                        @Html.HiddenFor(model => model.StringLibrarySingleItem.SubProcessId, new { id = "hdnSubProcessId" })
                    </td>
                    <td> <div class="required">@Html.Label("Activity")</div>  </td>
                    <td>
                        @Html.TextAreaFor(model => model.StringLibrarySingleItem.ActivityName, new { id = "ActivityName", rows = "", cols = "", @class = "txtArea" })
                        @Html.HiddenFor(model => model.StringLibrarySingleItem.ActivityId, new { id = "hdnActivityId" })
                    </td>
                </tr>

                <tr>
                    <td> <div class="required">@Html.Label("Enterprise Risk")</div></td>
                    <td>
                        @Html.TextAreaFor(model => model.StringLibrarySingleItem.EnterpriseRiskName, new { id = "EnterpriseRiskName", rows = "", cols = "", @class = "txtArea" })
                        @Html.HiddenFor(model => model.StringLibrarySingleItem.EnterpriseRiskId, new { id = "hdnEnterpriseRiskId" })
                    </td>
                    <td> <div class="required">@Html.Label("Business Risk")</div></td>
                    <td>
                        @Html.TextAreaFor(model => model.StringLibrarySingleItem.BusinessRiskName, new { id = "BusinessRiskName", rows = "", cols = "", @class = "txtArea" })
                        @Html.HiddenFor(model => model.StringLibrarySingleItem.BusinessRiskId, new { id = "hdnBusinessRiskId" })
                    </td>
                </tr>
                <tr>
                    <td> <div class="required">@Html.Label("Execution Risk")</div></td>
                    <td>
                        @Html.TextAreaFor(model => model.StringLibrarySingleItem.ExecutionRiskName, new { id = "ExecutionRiskName", rows = "", cols = "", @class = "txtArea" })
                        @Html.HiddenFor(model => model.StringLibrarySingleItem.ExecutionRiskId, new { id = "hdnExecutionRiskId" })
                    </td>
                    <td colspan="2"></td>
                </tr>

                <tr>
                    <td><div class="required">@Html.Label("Control")</div></td>
                    <td>
                        @Html.TextAreaFor(model => model.StringLibrarySingleItem.ControlName, new { id = "ControlName", rows = "", cols = "", @class = "txtArea" })
                        @Html.HiddenFor(model => model.StringLibrarySingleItem.ControlId, new { id = "hdnControlId" })
                    </td>
                    <td colspan="2"></td>
                </tr>

                <tr>
                    <td> <div class="required">@Html.Label("Test Objective")</div></td>
                    <td>
                        @Html.TextAreaFor(model => model.StringLibrarySingleItem.TestObjectiveName, new { id = "TestObjectiveName", rows = "", cols = "", @class = "txtArea" })
                        @Html.HiddenFor(model => model.StringLibrarySingleItem.TestObjectiveId, new { id = "hdnTestObjectiveId" })
                    </td>
                    <td> <div class="required">@Html.Label("Test")</div></td>
                    <td>
                        @Html.TextAreaFor(model => model.StringLibrarySingleItem.TestName, new { id = "TestName", rows = "", cols = "", @class = "txtArea" })
                        @Html.HiddenFor(model => model.StringLibrarySingleItem.TestId, new { id = "hdnTestId" })
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align:right"> <input type="submit" value="Add To Library" id="btnAddLibrary" /> </td>
                </tr>
            </tbody>
        </table>
    </div>





}
<div>

    @(Html.Kendo().Grid<KPMG.APGBuilder.Web.Models.StringLibraryViewModel>()
        .Name("kgStringLibraries")
        .EnableCustomBinding(true)
        .Pageable()
        .Sortable()
        .Scrollable()

        .Columns(columns =>
        {
            columns.Bound(library => library.BusinessProcessName).Title("Business Process").Width(120).HtmlAttributes(new { @class = "Process" });
            columns.Bound(library => library.ProcessName).Title("Process").Width(100).HtmlAttributes(new { @class = "Process" });
            columns.Bound(library => library.SubProcessName).Title("Sub Process").Width(100).HtmlAttributes(new { @class = "Process" });
            columns.Bound(library => library.ActivityName).Title("Activity").Width(100).HtmlAttributes(new { @class = "Process" });
            columns.Bound(library => library.EnterpriseRiskName).Title("Enterprise Risk").Width(100).HtmlAttributes(new { @class = "Risk" });
            columns.Bound(library => library.BusinessProcessName).Title("Business Risk").Width(100).HtmlAttributes(new { @class = "Risk" });
            columns.Bound(library => library.ExecutionRiskName).Title("Execution Risk").Width(100).HtmlAttributes(new { @class = "Risk" });
            columns.Bound(library => library.ControlName).Title("Control").Width(100).HtmlAttributes(new { @class = "Control" });
            columns.Bound(library => library.TestObjectiveName).Title("Test Objective").Width(100).HtmlAttributes(new { @class = "Test" });
            columns.Bound(library => library.TestName).Title("Test").Width(100).HtmlAttributes(new { @class = "Test" });
        })

        .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
        .DataSource(dataSource => dataSource
            .Ajax()
            .ServerOperation(true)
            .Read(read => read.Action("StringLibrary_Read", "StringLibrary").Type(HttpVerbs.Post))
            .PageSize(20)
       )
               .Resizable(resize => resize.Columns(true))
    )

</div>