/* OnlineOpinion v4.1.7 */
/* This product and other products of OpinionLab, Inc. are protected by U.S. Patent No. 6606581, 6421724, 6785717 B1 and other patents pending. */

@media screen {
/* [+] Floating Icon Elements */
/* NOTE: To disable [+] Floating Icon rollover state in modern, non-IE browsers, comment out ".oo_feedback_float:hover .olUp" and ".oo_feedback_float:hover .olOver". For IE see the configuration file. */
.oo_feedback_float {
	visibility: hidden;
	height: 65px;
	width: 150px;
	padding: 0 12px 12px 0;
	font: 12px Arial, Helvetica, sans-serif;
	text-align: center;
	color:#000;
	cursor: pointer;
	z-index: 1001;
}
.oo_feedback_float .olUp {
	text-align: center;
	width: 100px;
	padding: 5px 10px;
	position: relative;
}

.oo_feedback_float .olUp * {
  z-index: 1002;
  position: relative;
}

.oo_feedback_float .olUp .oo_transparent {
  display: block;
	background: white;
	position: absolute;
	top: 0;
	left: 15px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
  opacity: .5;
	height: 50px;
	width: 90px;
	z-index: 1001;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.oo_feedback_float:hover .olUp {
  display: none;
}
.oo_feedback_float .fbText {
	display: block;
	padding: 3px;
}
.oo_feedback_float .olOver {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
	display: none;
	border: 1px solid #CCC;
	padding: 10px; 
	background: #FFF;
	text-align: center;
	width: 100px;
}
.oo_feedback_float:hover .olOver {
  display: block;
}
/* Static Icon Elements */
#oo_feedback_static {
	cursor: pointer;
}
/* On Page Card Elements */
#onlineopinion_cc_overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 1000%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #36648B;
  background-position: 50% 80px;
  background-repeat: no-repeat;
	opacity: .7;
	filter: alpha(opacity=30);
	z-index: 1004;
}
.onlineopinion_cc_div {
	display: none;
	position: fixed;
	top: 25px;
	left: 0;
	padding: 0;
	background: transparent !important;
	font: 12px Arial, Helvetica, sans-serif;
	z-index: 1005;
}
a.onlineopinion_cc_closelink {
	display: block;
	position: absolute;
	top: -10px;
	right: -5px;
	height: 24px;
	width: 24px;
	background: url(../images/oo_close.png) no-repeat;
	text-decoration:none;
	z-index: 1006;
}
.onlineopinion_cc_frame {
	position: relative;
	width:535px;
	border: none;
	background-color: #FFF;
	opacity: 1.0;
 	filter: alpha(opacity: 100);
	-moz-box-shadow: rgba(0, 0, 0, .6) 0 0 15px;
	-webkit-box-shadow: rgba(0, 0, 0, .6) 0 0 15px;
	z-index: 1005;
}
.onlineopinion_cc_shadow {
	position: absolute;
	top: 0;
	left: -27px;
	height: 100%;
	width: 589px;
	background: url(../images/oo_shadow.png) repeat-y;
	z-index: 1001;
}
.onlineopinion_cc_shadow_top {
	position: absolute;
	top: -11px;
	left: -27px;
	height: 11px;
	width: 589px;
	background: url(../images/oo_shadow_top.png);
	z-index: 1001;
}
.onlineopinion_cc_shadow_bottom {
	position: absolute;
	bottom: -11px;
	left: -27px;
	height: 11px;
	width: 589px;
	background: url(../images/oo_shadow_bottom.png) repeat-y;
	z-index: 1001;
}
}

@media print {
.oo_feedback_float, .olUp, .olOver {
	display: none;
}
}

/*  OnlineOpinion v4.1.7, Copyright 2010 Opinionlab, Inc. */
