body, div, span, li, dt, p, label						{ font-family: Arial; font-size: 11px; font-weight: normal; background: transparent; }
body.popup												{ background: transparent url('../images/bg_thickbox_2.png') no-repeat left top; height:199px; }
body.learnMore											{ background: transparent url('../images/bg_thickbox_learnMore.png') no-repeat left top; }

b, strong												{ font-weight: bold; }
em														{ font-style: italic; }

#wrapper												{ padding: 0 0 0 24px; }

/* HEADER */
#wrapper .header										{ height: 55px; position: relative; }
#wrapper .header .title									{ font-size: 15px; padding: 18px 0 0 11px; width: 500px; font-weight: bold; float:left; }
.learnMore #wrapper .header .title						{ color: white; padding-left: 0px; }
#wrapper .header .cta									{ float:right; margin:18px 44px 0px 0px; text-align: left; }
#wrapper .header .cta li								{ float:left; padding-left:10px; }
#wrapper .header .cta li.counterHolder					{ padding-right: 10px; padding-left:0px; }
#wrapper .header .cta li div							{ cursor: pointer; }
#wrapper .header .cta .download div						{ width: 37px; }
#wrapper .header .cta .print div						{ width: 13px; }
#wrapper .header .cta .download div,
#wrapper .header .cta .print div						{ float: left; padding: 5px 13px 4px 25px; text-indent:-9999px; height:17px; }
#wrapper .header .cta .download div						{ background: transparent url('../images/btn_download.png') no-repeat left top; padding-left: 19px; }
#wrapper .header .cta .print div						{ background: transparent url('../images/btn_print.png') no-repeat left top; width:20px; }
#wrapper .header .cta .download div a,
#wrapper .header .cta .print div a						{ color: #5f5f5f; text-decoration: none; }
#wrapper .header .cta .download div a:hover,
#wrapper .header .cta .print div a:hover				{ text-decoration: underline; }
.learnMore #wrapper .header .cta						{ width: 222px; }
#wrapper .header .cta .close							{ cursor: pointer; }
#wrapper .header .cta .close div						{ width: 17px; height: 17px; text-indent: -9999px; background: transparent url('../images/icon_thickbox_close.jpg') no-repeat left top; }
.learnMore #wrapper .header .cta .close div				{ background: transparent url('../images/icon_thickbox_learnMore_close.jpg') no-repeat left top; }

#wrapper .header .cta .download input					{ width: 75px; border: none; background: transparent url('../images/btn_download.png') no-repeat left top; padding-left: 19px; cursor:pointer; height:21px }

/* CONTENT */
#wrapper .contentContainer								{  }
#wrapper .contentContainer .content						{ width: 724px; height: 378px; overflow:none;/* background: white; border: 1px solid #c9c9c9;*/ position: relative; }
#wrapper .contentContainer .scroll						{ overflow-y:auto !important;  }
#wrapper .contentContainer .content h2					{ font-size: 16px; padding: 0 0 15px 0; font-weight: bold; }
#wrapper .contentContainer .content h3					{ font-size: 14px; padding: 0 0 10px 0; font-weight: bold; }
.learnMore #wrapper .contentContainer .content			{ width: 600px; height: 180px; }
#wrapper .contentContainer .content .innerContent		{ padding: 15px; font-family: arial; font-size: 12px; }
#wrapper .contentContainer .content .innerContent ul		{ padding: 0 0 0 20px; }
#wrapper .contentContainer .content .innerContent li		{ list-style: decimal; }
#wrapper .contentContainer .content .innerContent ul div	{ padding: 5px 0 5px 0; }

#wrapper .contentContainer .content .progressArea				{ position: absolute; top: 0px; left: 0px; width: 725px; background: #979caf; filter:alpha(opacity=85); -moz-opacity: 0.85; opacity: 0.85; }
#wrapper .contentContainer .content .progressBucket				{ position: absolute; top:163px; left: 195px; background: transparent url('../images/progressBucket.gif') no-repeat left top; width: 340px; height: 102px; }
#wrapper .contentContainer .content .progressBucket h3			{ font-size: 18px; font-weight: bold; color: black; width: 100%; text-align: center; padding: 20px 0 0 0; }
#wrapper .contentContainer .content .progressBucket .animation	{ position: absolute; top:60px; left: 18px; background: transparent url('../images/progressAnimation.png') no-repeat left top; width: 302px; height: 22px; }


.columns												{ clear: both; }
.columns .column										{ float: left; margin: 0 20px 0 0; }
.columns .last											{ margin: 0; }

/* FOOTER */
#wrapper .footer										{ width: 732px; padding: 40px 0 0 0; }
#wrapper .footer .ctaContainer							{ float:right; padding-top:50px; }
#wrapper .footer .ctaContainer,
#wrapper .footer .ctaContainer .btn						{ float:right; position:relative; }
#wrapper .footer .infoContainer							{  }
#wrapper .footer .infoContainer .checkboxContainer		{ position: relative; padding:50px 0 0 0; float:right; }
#wrapper .footer .infoContainer .checkboxContainer .labelContainer	{ padding: 0 0 0 20px; line-height: 12px; }
#wrapper .footer .infoContainer .checkboxContainer input			{ position: absolute; top: 0px; left: 0px; padding: 0; margin: 50px 0 0 0; }
#wrapper .footer .subInfoContainer						{ left:5px; position:absolute; top:55px;}
#wrapper .footer .subPermissionContainer					{ float:left;width:455px;}
#wrapper .footer .subPermissionContainer .row			{ }
#wrapper .footer .subPermissionContainer strong			{ }
#wrapper .hidden										{ display:none;}
#wrapper .footer .row									{ width:auto; position:relative; height:25px; line-height:1.3em; }
#wrapper .footer .radio									{ padding: 0 0 10px 0; }
#wrapper .footer .checkbox								{ height:36px !important; padding:5px 30px 0 0 }
#wrapper .footer .row label								{ position:absolute; top:0px; }
#wrapper .footer .row input								{ margin:-2px 8px 0px 0px; }
#wrapper .footer .radio input							{ margin-top: 2px; }
#wrapper .footer .lbxHelpInfo							{ background: url("../images/lbx_bubble.png") repeat scroll 0 0 transparent; font-size: 9px; height: 40px; line-height: 1.3; padding: 10px; position: absolute; top: -57px; width: 241px; }


/* BUTTONS */
.btn													{ cursor: pointer; border: 0px; outline: none; }
.btn_inactive											{ cursor: default; background-position: 0px -23px !important;}
.btn_continue											{ background: url('../images/btn_continue.png') no-repeat left top; width: 111px; height: 28px; }
.contentContainer .btn_continue							{ background: url('../images/btn_continue.jpg') no-repeat left top; }
.btn_login												{ background: url('../images/btn_login.jpg') no-repeat left top; width: 96px; height: 22px; }
.btn_submitApp											{ background:url('../images/btn_submit_application.png'); height: 23px; width: 156px; }
.btn_continueAddCosigner								{ background: url('../images/btn_continue_add_cosigner.png') no-repeat left top; width: 234px; height: 31px; }
.btn_submitElectrinicSignature							{ background: url('../images/btn_submit_electronic_signature.png') no-repeat left top; width: 234px; height: 31px; }
.btn_submitElectrinicSignatures							{ background: url('../images/btn_submit_electronic_signatures.png') no-repeat left top; width: 234px; height: 31px; }
.btn_submitElectrinicSignature_cos						{ background: url('../images/btn_submit_electronic_signature.png') no-repeat left top; width: 234px; height: 31px; }


.btn.acknowledge										{ height:23px; width:141px; background:url('../images/btn_acknowledge.png'); }
.btn.submitApp											{ height:23px; width:156px; background:url('../images/btn_submit_application.png');}
.btn_noThanks											{ height: 31px; width: 125px; background:url('../images/btn_noThanks.png');}
.btn_createAccount										{ height: 31px; width: 234px; background:url('../images/btn_create_account.png');}
.btn_createSallieMaeAccount								{ height: 31px; width: 262px; background:url('../images/btn_createSallieMaeAccount.png');}

/**/
#eSign .columns											{ padding: 20px 0 20px 0; }
#eSign .columns .col_1									{ width: 92px; }
#eSign .columns .col_2									{ width: 140px; text-transform: uppercase; }
#eSign .columns .col_3									{ width: 380px; }

/**/
#login .columns .column									{ width: 335px; }
#login .columns .column .columnContent					{ padding: 30px; border-right: 2px solid grey; }
#login .columns .last .columnContent					{ border-right: 0px none; }

/* lightbox counter */
.popup .counters										{ }
.popup .counters li										{ background:url("../images/lightbox_count_numbers.png") repeat scroll 0 0 transparent; float:left;font-size:8px;height:6px;margin:0 2px;padding:4px !important;width:6px; }										
.popup .counters li.active								{ background-position:14px 14px; }


.innerContent.html										{padding:10px;/*width:705px !important;*/}
.innerContent p											{ padding:10px 0px; }
.innerContent ul										{ padding:0 30px; }
.innerContent li										{ list-style:disc outside none; padding:10px 0; }
.innerContent h4										{ font-weight:bold;}
.innerContent h1										{ font-size:20px; padding:10px 0px 25px 0px;}
.innerContent td										{ border:1px solid #CCC; padding:5px;text-align:left;vertical-align:top; font-size:9px;}
.innerContent th										{ border:1px solid #CCC; padding:5px; text-align:center;}
.innerContent blockquote								{ padding-left:20px; }
.innerContent .row										{ clear: both; height: 52px !important; margin:10px 0px; }
.innerContent .blank									{ height: 1px; }

.innerContent .row .fieldContainer						{ position: relative; float: left; }
.innerContent .row .fieldContainer .btn					{ margin: 0px 20px 0 0; position: relative; top: 4px; * top: 2px; }
.innerContent .row .fieldContainer label				{ position: absolute; top: 0px; font-size: 12px; white-space:nowrap; color: #666666; }
.innerContent .row .fieldContainer label.middleText		{ position: relative; top: -2px; font-size: 10px; color: #383838; margin: 0 10px 0 0; }
.innerContent .row .fieldContainer label.shortMargin	{ margin: 0; left: -4px; }
.innerContent .row .fieldContainer select,
.innerContent .row .fieldContainer input				{ margin: 16px 8px 0 0; font-size: 14px; color: #1d1d1d; }
.innerContent .row .fieldContainer input				{ padding: 1px; }
.innerContent .row .fieldContainer.medium input			{ width:176px; }
.innerContent .row .fieldContainer.tiny input			{ width:42px;}
.innerContent .row .fieldContainer.short input			{ width:100px;}
.innerContent .row .fieldContainer.long input			{ width: 223px; }
.innerContent .row .fieldContainer label				{ position: absolute; top: 0px; font-size: 12px; white-space:nowrap; color: #666666; }
.innerContent .row .fieldContainer input				{ margin: 16px 8px 0 0; font-size: 14px; color: #1d1d1d; }

	/* ERROR */
.innerContent .row .hasError label				{ color: #ff6600; }
.innerContent .row .hasError .errorMsg			{ color: #ff6600; font-weight: bold; padding: 5px 0 10px 12px; background: url('../images/icon_error.gif') no-repeat left 6px; }
.innerContent .moneyRow .hasError .errorMsg		{ background-position: 133px 6px; }
.innerContent .row .hasError input,
.innerContent .row .hasError select				{ border-color: #ff6600; background-color: #ffffe9; }

/* DIALOG SPECIFIC STYLES */
	/* eSign result */
	.eSign_result .innerContent *				{ font-size: 14px; line-height: 16px; }
	.eSign_result .innerContent h1				{ font-size: 18px; line-height: 20px; background: transparent url('../images/icon_checkmark_big.gif') no-repeat left 7px; padding-left: 27px; padding-bottom: 3px; }
	.eSign_result .innerContent p				{ padding:  0 0 24px 0; }
	.eSign_result .innerContent li				{ list-style: disc !important; padding: 0; }


/*Styles related to Popup moved from Styles.css */


/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color:#00336F; filter:alpha(opacity=75); -moz-opacity: 0.75; opacity: 0.75; }


/* Dialog
----------------------------------*/
.ui-dialog								{ position: relative; padding: 0; width: 300px; }
.ui-dialog .ui-dialog-titlebar			{ padding: 0; position: relative;  }
.ui-dialog .ui-dialog-title				{ float: left; margin: 0; display: none; }
.ui-dialog .ui-dialog-titlebar-close	{ position: absolute; right: 40px; top: 28px; width: 17px; margin: -10px 0 0 0; padding: 1px; height: 17px; display: none; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content			{ border: 0; padding: 0; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane		{ text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se				{ width: 14px; height: 14px; right: 3px; bottom: 3px; }

/*Start - CSS for JQuery Alert Message*/
/*css for object*/
#wrapper .contentContainer .scroll object{width:707px; padding:10px;}
#popup_container {
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 300px; /* Dialog will be no smaller than this */
	max-width: 600px; /* Dialog will wrap after this width */
	background: #FFF;
	border: solid 5px #999;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#popup_title {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 1.75em;
	color: #666;
	background: #CCC url(../images/title.gif) top repeat-x;
	border: solid 1px #FFF;
	border-bottom: solid 1px #999;
	cursor: default;
	padding: 0em;
	margin: 0em;
}

#popup_content {
	background: 16px 16px no-repeat url(../images/info.gif);
	padding: 1em 1.75em;
	margin: 0em;
}

#popup_content.info 
{
    color: #00529B;
    background-color: #BDE5F8;    
	background-image: url(../images/info.gif);
}

#popup_content.success 
{
    color: #4F8A10;
    background-color: #DFF2BF;    
	background-image: url(../images/success.png);
}

#popup_content.warning
{
    color: #9F6000;
    background-color: #FEEFB3;
	background-image: url(../images/warning.png);
}

#popup_content.confirm {
	background-image: url(../images/important.gif);
}

#popup_content.prompt {
	background-image: url(../images/help.gif);
}

#popup_message {
	padding-left: 48px;
}

#popup_panel {
	text-align: center;
	margin: 1em 0em 0em 1em;
}

#popup_prompt {
	margin: .5em 0em;
}
/*End - CSS for JQuery Alert Message*/
.ctaContainer form {float:right;}

/*Start - CSS added for Auth Interview*/
.authQuestion
{
    font-weight: bold !important;
}
#divAuthContainer div ul li
{
    list-style: none !important;
}
.text_description
{
    font-weight: bold;
    padding: 10px 0;
}
/*End - CSS added for Auth Interview*/
.loanApprovalD		{ float:left; width:510px; margin:0 0 0 95px;}
.loanA_width		{width:110px !important;}
.title_sub			{ font-size:11px; font-weight:bold;}
.terms_c			{width:250px; padding-top:50px; float:left;}
.terms_cta			{width:115px}
.privacy_Text		{ width:400px; float:right; padding-top:55px;}
.cosignerterms li   {list-style-position:inside !important;}