﻿@using KPMG.APGBuilder.Web.AppCode
@model KPMG.APGBuilder.Web.Models.SubProcessViewModel

@{
    ViewBag.Title = APGConstants.SUB_PROCESS_TITLE;
    Layout = APGConstants.LAYOUT_PATH;
}

<h2>Edit Business Process</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="t-widget t-grid">
        <table cellpadding="0" cellspacing="0" style="width:100%">
            <thead class="t-grid-header">
                <tr>
                    <th class="t-header" colspan="2">
                        <b>Edit Sub Process Detail</b>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:20%">
                        <div class="editor-label required required">
                            @Html.Label("Business Process")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field required">
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%">
                        <div class="editor-label required">
                            @Html.Label("Description")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%">
                        <div class="editor-label required">
                            @Html.Label("IsActive")
                        </div>
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.IsActive, Model.IsActiveList, new { @style = "width: 205px" })
                        @Html.ValidationMessageFor(model => model.IsActive)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br />
    <fieldset>
        <legend><span style="margin-right:10px;" class="required"><b>Industry Mapping</b></span>@Html.ValidationMessageFor(model => model.SelectedIndustry)</legend>
        <br />
        @Html.Partial("_IndustrySelector", Model)
    </fieldset>
    <br />
    <p><input class="buttonText" type="submit" value="Save" />&nbsp;&nbsp;@Html.ActionLink("Back to List", "Index")</p>

}
