﻿@using KPMG.APGBuilder.Web.AppCode
@model IEnumerable<KPMG.APGBuilder.Web.Models.SubProcessViewModel>

@{
    ViewBag.Title = APGConstants.SUB_PROCESS_TITLE;
    Layout = APGConstants.LAYOUT_PATH;
}

<h2>@APGConstants.SUB_PROCESS_LIST</h2>
<br />

<div>
    <p>
        @Html.ActionLink(APGConstants.CREATE_NEW, APGConstants.CREATE)
    </p>
</div>
<br />
<script language="javascript">
    $(document).ready(function () {

        $("a").click(function (event) {
            if ($(this).attr('Id') == "delete") {
                var answer = confirm('Are you sure you want to delete this record?');
                return answer;
                event.preventDefault();
            }
        });
    });
</script>
<div style="width:100%">
    <table cellpadding="0" cellspacing="0" style="width:100%">
        <thead>
            <tr>
                <th>Action</th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubIndustry)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink((item.IsActive.HasValue && item.IsActive.Value) ? "Deactivate" : "Activate", "ChangeActivation", new { id = item.Id, isActive = item.IsActive.HasValue && item.IsActive.Value }, new { id = "deactivate" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubIndustry)
                    </td>
                    <td>
                        @Html.Label((item.IsActive.HasValue && item.IsActive.Value) ? "True" : "False")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>