﻿@using KPMG.APGBuilder.Web.AppCode
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="@Url.Content("~/css/styles.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/developer.css")" rel="stylesheet" type="text/css" />
    @*@Html.RenderStyles()*@

    <script src="@Url.Content("~/Scripts/jquery-1.4.2.min.js")" language="JavaScript" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.autocomplete.js")" language="JavaScript" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" language="JavaScript" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.1.custom.min.js")" language="JavaScript" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" language="JavaScript" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" language="JavaScript" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.cascadingDropDown.js")" language="JavaScript" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Library_Reports.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/apg/common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcValidation.js")" type="text/javascript"></script>
    @*@Html.RenderJavaScripts()*@

    <script>
        function HideNavigation() {
            var div = $get('leftnav_div');
            var body_div = $get('body_div');
            var right_div = $get('right_div');
            var leftnav_div = $get('leftnav_div');
            var img = $get('leftnav_img');

            if (div.style.width != "0px") {
                
                div.style.width = "0px";
                img.src = "../../images/Right_Triangle.jpg";
                right_div.style.width = "980px";
                body_div.style.float = "none";
            }
            else {
                img.src = "../../images/Left_Triangle.jpg";
                div.style.width = "230px";
                right_div.style.width = "750px";
                body_div.style.float = "left";
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="globalNavigation">
            <ul>
                @*<li><a href="http://www.kpmg.com/Global/en/Pages/Register.aspx">Register</a></li>
                    <li><a href="http://www.kpmg.com/Global/en/Pages/Login.aspx">Log in</a></li>*@
                <li>
                    @Session["DisplayName"]
                </li>
                <li>
                    <select class="site">
                        <option value="">- Select Site -</option>
                    </select>
                </li>
                <li class="last">
                    <select class="language">
                        <option value="">Language</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="brandingBar">
            <div class="brandingBarLogo"><a href="#"><img src="../../images/spacer.gif" alt="KPMG &ndash; cutting through complexity&#8482;" /></a></div>
            <div class="brandingBarTop">
                <span class="siteName">APG Builder</span>
                <div class="brandingBarSearch">
                    <input value="Search" maxlength="200" accesskey="S" title="Enter search words" alt="Enter search words" onfocus="if (this.value =='Search') {this.value=''}" onblur="if (this.value =='') {this.value='Search'}" type="text" class="searchField" /><input type="submit" class="searchButton" value="" />
                </div>
                <ul>
                    <li><a href="http://www.kpmg.com/Global/en/Pages/pressroom.aspx">Press room</a></li>
                    <li class="last"><a href="http://www.kpmg.com/Global/en/Pages/contactus.aspx">Contact us</a></li>
                </ul>
            </div>
            <div class="primaryNavigation">
                <ul>
                    <li class="selected"><a href="#">Home</a></li>
                    <li><a href="#">Who we are</a></li>
                    <li><a href="#">What we do</a></li>
                    <li><a href="#">Issues &amp; insights</a></li>
                    <li class="last"><a href="#">Join us</a></li>
                </ul>
            </div>
        </div><!-- .brandingBar -->
        <div class="columnWrapper">
            <div class="wideColumnContainer">
                <div id="body_div" class="leftColumnContainer">
                    <div id="leftnav_div" class="leftColumn" style="display:normal;">
                        <ul class="secondaryNavigation">
                            <li class="expanded">
                                <a href="#">Administrator</a>
                                <ul>
                                    <li>
                                        <a href="#">Masters</a>
                                        <ul>
                                            <li>
                                                <a href="/BusinessProcess/Index" @Html.Raw(APGUtility.ApplySelectedClass(ViewBag.Controller, APGConstants.BUSINESS_PROCESS))>Business Process</a>
                                                <a href="/Process/Index" @Html.Raw(APGUtility.ApplySelectedClass(ViewBag.Controller, APGConstants.PROCESS))>Process</a>
                                                <a href="/SubProcess/Index" @Html.Raw(APGUtility.ApplySelectedClass(ViewBag.Controller, APGConstants.SUB_PROCESS))>Sub Process</a>
                                                <a href="/Activity/Index" @Html.Raw(APGUtility.ApplySelectedClass(ViewBag.Controller, APGConstants.ACTIVITY))>Activity</a>
                                                <a href="/EnterpriseRisk/Index" @Html.Raw(APGUtility.ApplySelectedClass(ViewBag.Controller, APGConstants.ENTERPRISE_RISK))>Enterprise Risk</a>
                                                <a href="/BusinessRisk/Index" @Html.Raw(APGUtility.ApplySelectedClass(ViewBag.Controller, APGConstants.BUSINESS_RISK))>Business Risk</a>
                                                <a href="/ExecutionRisk/Index" @Html.Raw(APGUtility.ApplySelectedClass(ViewBag.Controller, APGConstants.EXECUTION_RISK))>Execution Risk</a>
                                                <a href="/Control/Index" @Html.Raw(APGUtility.ApplySelectedClass(ViewBag.Controller, APGConstants.CONTROL))>Control</a>
                                                <a href="/LOB/Index" @Html.Raw(APGUtility.ApplySelectedClass(ViewBag.Controller, APGConstants.LOB))>LOB</a>
                                                <a href="/Industry/Index" @Html.Raw(APGUtility.ApplySelectedClass(ViewBag.Controller, APGConstants.INDUSTRY))>Industry</a>
                                                <a href="/SubIndustry/Index" @Html.Raw(APGUtility.ApplySelectedClass(ViewBag.Controller, APGConstants.SUB_INDUSTRY))>Sub Industry</a>
                                                <a href="/TestObjective/Index" @Html.Raw(APGUtility.ApplySelectedClass(ViewBag.Controller, APGConstants.TEST_OBJECTIVE))>Test Objective</a>
                                                @*<a href="#">Test</a>
                                                    <a href="#">Test Steps</a>*@

                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">User</a>
                                <ul>
                                    <li>
                                        <a href="#">Load APG</a>
                                        <a href="/APGFromProcess/Create">Create APG from Process</a>
                                        <a href="/APGFromRisk/Index">Create APG from Risk</a>
                                        @*<a href="#">View Risk Library</a>
                                            <a href="#">View Process Library</a>
                                            <a href="#">Add Content - Single Item</a>
                                            <a href="#">Add Content - Multile Items</a>*@
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">Reports</a></li>
                            <li><a href="#">Feedback</a></li>
                        </ul>
                    </div>

                    <div id="right_div" class="wideColumn">
                        <div><img id="leftnav_img" src="../../images/Left_Triangle.jpg" onmouseover="HideNavigation()" style="cursor: pointer; width: 20px" /></div>
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Administrator</a></li>
                                <li><a href="#">Masters</a></li>
                                <li class="last"><a href="#">Business Process</a></li>
                            </ul>
                        </div>
                        <div class="wideColumnContent">
                            @RenderBody()
                        </div>
                    </div>

                </div>
            </div>

        </div><!-- .columnWrapper -->
        <div class="footer">
            <br />
            © 2015 KPMG International Cooperative (“KPMG International”), a Swiss entity.
            Member firms of the KPMG network of independent firms are affiliated with KPMG International. KPMG International provides no client services.
            No member firm has any authority to obligate or bind KPMG International or any other member firm vis-à-vis third parties,
            nor does KPMG International have any such authority to obligate or bind any member firm. All rights reserved.
            <br />
            <br />
            Use of this system is governed by the
            <span style="cursor:pointer">
                <a title="Open Policy in a new window" href="https://portal.ema.kworld.kpmg.com/pages/copyright_legal.html" target="_blank">Intranet Usage Policy</a>
            </span>
        </div>
    </div>
</body>
</html>
