﻿@using KPMG.APGBuilder.Web.AppCode
@model KPMG.APGBuilder.Web.Models.IIndustySelector

@{
    var industryLkp = Model.IndustryList.ToDictionary(x => x.Id, x => x);
    var industryGrp = Model.SubIndustryList.GroupBy(x => x.IndustryId)
                            .Select(x => new { Name = industryLkp[x.Key].Name, SubIndustries = x.OrderBy(si => si.Name).ToList() })
                            .OrderBy(x => x.SubIndustries.Count)
                            .ToList();
    var noOfColPerRow = 4;
    var rows = Convert.ToInt32(Math.Ceiling(industryGrp.Count / (double)noOfColPerRow));
}

<div class="t-widget t-grid">
    <table cellpadding="0" cellspacing="0" style="width:100%; margin-top:10px;">
        @for (int row = 0; row < rows; row++)
        {

            <tr>
                @for (var col = 0; col < noOfColPerRow; col++)
                {
                    var index = (row * noOfColPerRow) + col;
                    if (index >= industryGrp.Count) { break; }
                    var industry = industryGrp[index];

                    <td valign="top" align="left" style="vertical-align:top; width:25%; padding:5px 0px 5px 5px;">
                        <div class="oneHalf">
                            <div style="margin:5px 5px 0px; padding:0px 5px; position:relative;" class="pod">
                                <h3 class="blue">@industry.Name</h3>
                                @foreach (var subIndustry in industry.SubIndustries)
                                {
                                    <input @Html.Raw(Model.SelectedIndustry != null && Model.SelectedIndustry.Contains(subIndustry.Id) ? "checked=\"checked\"" : "") type="checkbox" name="SelectedIndustry" id="@subIndustry.Id" value="@subIndustry.Id" /><label style="overflow-wrap:normal;" for="@subIndustry.Id">@subIndustry.Name</label><br />
                                }
                            </div>
                        </div>
                    </td>
                }
            </tr>
        }
    </table>
</div>

@*@{
    @Html.AddJavaScript("script path");
}*@

