﻿@using KPMG.APGBuilder.Web.AppCode
@using KGS.Framework.Web.Mvc.HtmlExtensions
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="favicon.ico" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Styles.Render("~/Content/kendo/css")
</head>
<body>
    <div class="container">
        <div class="globalNavigation">
            <ul>
                @*<li><a href="http://www.kpmg.com/Global/en/Pages/Register.aspx">Register</a></li>
                    <li><a href="http://www.kpmg.com/Global/en/Pages/Login.aspx">Log in</a></li>*@
                <li>
                    @Session["DisplayName"]
                </li>
                <li>
                    <select class="site">
                        <option value="">- Select Site -</option>
                    </select>
                </li>
                <li class="last">
                    <select class="language">
                        <option value="">Language</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="brandingBar">
            <div class="brandingBarLogo"><a href="#"><img src="@Url.Content("~/images/spacer.gif")" alt="KPMG &ndash; cutting through complexity&#8482;" /></a></div>
            <div class="brandingBarTop">
                <span class="siteName">APG Builder</span>
                <div class="brandingBarSearch">
                    <input value="Search" maxlength="200" accesskey="S" title="Enter search words" alt="Enter search words" onfocus="if (this.value =='Search') {this.value=''}" onblur="if (this.value =='') {this.value='Search'}" type="text" class="searchField" /><input type="submit" class="searchButton" value="" />
                </div>
                <ul>
                    <li><a href="http://www.kpmg.com/Global/en/Pages/pressroom.aspx">Press room</a></li>
                    <li class="last"><a href="http://www.kpmg.com/Global/en/Pages/contactus.aspx">Contact us</a></li>
                </ul>
            </div>
        </div><!-- .brandingBar -->
        <div style="overflow:visible; font-size:x-small;font-weight:bold;">
            @Html.RegisterSiteMap()
            @(Html.Kendo().Menu()
                .Name("menu")
                .BindTo("Web")
            )
        </div>
        <div class="columnWrapper">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Administrator</a></li>
                    <li><a href="#">Masters</a></li>
                    <li class="last"><a href="#">Business Process</a></li>
                </ul>
                @RenderBody()
            </div>
        </div><!-- .columnWrapper -->
        <div class="footer">
            <br />
            © 2015 KPMG International Cooperative (“KPMG International”), a Swiss entity.
            Member firms of the KPMG network of independent firms are affiliated with KPMG International. KPMG International provides no client services.
            No member firm has any authority to obligate or bind KPMG International or any other member firm vis-à-vis third parties,
            nor does KPMG International have any such authority to obligate or bind any member firm. All rights reserved.
            <br />
            <br />
            Use of this system is governed by the
            <span style="cursor:pointer">
                <a title="Open Policy in a new window" href="https://portal.ema.kworld.kpmg.com/pages/copyright_legal.html" target="_blank">Intranet Usage Policy</a>
            </span>
        </div>
    </div>
</body>
</html>
