﻿body {
}

.field-validation-error{ color:red; }

#btnSubmit {
    position: absolute;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
}

.buttonText {
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font: 14px Arial;
    margin: 0px 2px;
    outline: medium none;
    padding: 6px 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: baseline;
    color: #FFF;
    background: -moz-linear-gradient(center top , #EA8720, #E96017) repeat scroll 0% 0% transparent;
}

.buttonText {
    background: linear-gradient(#00338D, #00338D) no-repeat scroll 0px 0px / 200% 100% #00338D;
    color: #FFF;
}

.txtArea {
    resize:vertical;
    overflow:hidden;
    font-family:inherit;
    width:97%;
}

.SingleItemTbl td {
    vertical-align:middle;
}

.SingleItemTbl td odd{
width:10%;
}

.SingleItemTbl td even{
width:40%;
}


