﻿@model KPMG.APGBuilder.Web.Models.IndustryViewModel

@{
    ViewBag.Title = "APG Builder - Edit Industry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Industry</h2>

<script language="javascript">
    function ValidateLOB() {
        var returnValue;
        var selectedLob = $("#SelectedLobId :selected").text();
        if (selectedLob === "--SELECT--") {
            $("#LobValidateMsg").text("Select an LOB...");
            $(".LobSelectionValidate").show();
            returnValue = false;
        }
        else {
            dropdownID = $("#SelectedLobId").find('option:selected').attr('id');
            var optionsAry = dropdownID.split('_');
            if (optionsAry[1] === "InActive") {
                $("#LobValidateMsg").text("Select an active LOB...");
                $(".LobSelectionValidate").show();
                returnValue = false;
            }
            else {
                $(".LobSelectionValidate").hide();
                returnValue = true;
            }
        }
        return returnValue;
    }
    var dropdownID;
    $(document).ready(function () {
        $('#SelectedLobId').change(function (event) {
            if (!ValidateLOB()) {
                event.preventDefault();
            }

        });

        $('#btnSave').click(function (event) {
            var name = $('#Name').val();
            var description = $('#Description').val();
            var lobId = $("#SelectedLobId :selected").text();
            dropdownID = $("#SelectedLobId").find('option:selected').attr('id');
            var status = $('#IsActive').val();

            if (name && description) {
                if (!ValidateLOB()) {
                    event.preventDefault();
                }
            }
            else {
                ValidateLOB();
            }
        });

    });
</script>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div>
        <table cellpadding="0" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th colspan="2">
                        <b>Edit Industry</b>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:20%">
                        <div class="required">
                            @Html.Label("Name")
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name, null, new { @style = "color:red" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%">
                        <div class="required">
                            @Html.Label("Description")
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.EditorFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description, null, new { @style = "color:red" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%">
                        <div class="required">
                            @Html.Label("LOB")
                        </div>
                    </td>
                    <td>
                        <div>
                            @* @Html.DropDownListFor(model => model.LobId, new SelectList(Model.IndustryDict, "Key", "Value", Model.LobId))*@

                            <select id="SelectedLobId" name="SelectedLobId" data-val-required="Select one LOB..." data-val="true">
                                <option id="00_SELECT" value="select" style="color: black">--SELECT--</option>
                                @foreach (var lob in Model.LobList)
                                {
                                    if (lob.IsActive.HasValue && lob.IsActive.Value)
                                    {
                                        <option id=@AppendString(@lob.Id.ToString(),"Active") @Html.Raw((lob.Id == Model.SelectedLobId) ? "selected=\"selected\"" : "") value="@lob.Id" style="color: black">@lob.Name</option>
                                    }
                                    else
                                    {
                                        <option id=@AppendString(@lob.Id.ToString(),"InActive") @Html.Raw((lob.Id == Model.SelectedLobId) ? "selected=\"selected\"" : "") value="@lob.Id" style="color: red">@lob.Name</option>
                                    }
                                }
                            </select>
                            <span id="LobValidateMsg" class="LobSelectionValidate" style="color:red"></span>
                            @*@Html.ValidationMessageFor(model => model.SelectedLobId, null, new { @style = "color:red" })*@
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%">
                        <div class="required">
                            @Html.Label("IsActive")
                        </div>
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.IsActive, Model.IsActiveList, new { @style = "width: 205px" })
                        @Html.ValidationMessageFor(model => model.IsActive, null, new { @style = "color:red" })
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br />
    <p><input type="submit" value="Save" id="btnSave" />&nbsp;&nbsp;@Html.ActionLink("Back to List", "Index")</p>

}
@functions{
    string AppendString(string id, string data)
    {
        return id + "_" + data;
    }
}