﻿@using KPMG.APGBuilder.Web.AppCode
@model KPMG.APGBuilder.Web.Models.ActivityViewModel

@{
    ViewBag.Title = APGConstants.SUB_PROCESS_TITLE;
    Layout = APGConstants.LAYOUT_PATH;
}

<h2>@APGConstants.CREATE</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div>
        <table cellpadding="0" cellspacing="0" style="width:100%">
            <thead>
                <tr>
                    <th colspan="2">
                        <b>Activity</b>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:20%">

                        @Html.Label("Activity")

                    </td>
                    <td>
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                        <span style="color:red">
                            *
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%">

                        @Html.Label("Description")

                    </td>
                    <td>
                        @Html.EditorFor(model => model.Description)
                        @Html.ValidationMessageFor(model => model.Description)
                        <span style="color:red">
                            *
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%">
                        <div>
                            @Html.Label("IsActive")
                        </div>
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.IsActive, Model.IsActiveList, new { @style = "width: 205px" })
                        @Html.ValidationMessageFor(model => model.IsActive)

                        <span style="color:red">
                            *
                        </span>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <fieldset>
        <legend><span style="margin-right:10px;" class="required"><b>Industry Mapping</b></span>@Html.ValidationMessageFor(model => model.SelectedIndustry)</legend>

        @Html.Partial("_IndustrySelector", Model)
    </fieldset>
    <br />
    <p><input type="submit" value="Create" />&nbsp;&nbsp;@Html.ActionLink("Back to List", "Index")</p>

}
