﻿@using KPMG.APGBuilder.Web.AppCode
@model KPMG.APGBuilder.Web.Models.ActivityViewModel

@{
    ViewBag.Title = APGConstants.ACTIVITY_TITLE;
    Layout = APGConstants.LAYOUT_PATH;
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div>
        <table>
            <thead>
                <tr>
                    <th colspan="2">
                        <b>Activity</b>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width:20%">
                        <div>
                            @Html.Label("Activity")
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name, "*", new { @style = "color:red" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%">
                        <div>
                            @Html.Label("Description")
                        </div>
                    </td>
                    <td>
                        <div>
                            @Html.EditorFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description, "*", new { @style = "color:red" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:20%">
                        <div>
                            @Html.Label("IsActive")
                        </div>
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.IsActive, Model.IsActiveList, new { @style = "width: 205px" })
                        @Html.ValidationMessageFor(model => model.IsActive, "*", new { @style = "color:red" })
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br />
    <fieldset>
        <legend><span style="margin-right:10px;" class="required"><b>Industry Mapping</b></span>@Html.ValidationMessageFor(model => model.SelectedIndustry)</legend>
        <br />
        @Html.Partial("_IndustrySelector", Model)
    </fieldset>
    <br />
    <p><input type="submit" value="Save" />&nbsp;&nbsp;@Html.ActionLink("Back to List", "Index")</p>

}
