﻿/*************************************************************************************
 *  CSS for Intrant Applications
 *  Version: 0.1
 *  Date: Sept 18, 2007
 *************************************************************************************
 */
/* generic styles */

body.p-application
{
   line-height: 16px;
   font-size:11px;
   color:#252F47;
}

th {
   text-align:left;
}

body.p-application p {
  margin:0px 0px 8px 0px;
}

body.p-application a, body.p-application a:visited, body.p-application a:link {
    color: #0E5FD8;
    text-decoration:none;
}

body.p-application a:hover {
    text-decoration:underline;
}


.p-scrollable-y {
    overflow-y:auto;
}

.p-full-height {
   height:100%;
}




.p-center {
   text-align:center;
}

.p-right {
   text-align:right;
}

.p-full-width {
   width:100%;
}

a img {
   border:0px;
}


p-float-left {
   float:left;
}

p-float-right {
   float:right;
}

.p-vertical-spacer {
   height:10px;
}


/* horizontal separator */
hr.p-separator {
   height:1px;
   color:#BFBFC9;
   margin-bottom:0px;
   margin-top:5px;

}




/***   Rounded portlet (overrule the round portlet without gradient) ***/

.p-application .p-rndportlet .p-top-d9d9d9 {
  background:url('../img/cmp-prt-d9d9d9-grad.gif');
  color:#252F47;
}

.p-application .p-rndportlet .p-content  {
   line-height: 14px;
   font-size:11px;
   color:#252F47;
}

.p-application .p-rndportlet .p-content a {
    color: #0E5FD8;
    text-decoration:none;
}

.p-application .p-rndportlet .p-content a:hover {
    color: #0E5FD8;
}

.p-application .p-rndportlet .p-content ul li {
  padding-top:2px; 
  padding-bottom:2px;
  color:#252F47;
}

.p-application .p-rndportlet .p-content hr {
   height:3px;
}


/* icons */

a.p-doc {
   background-image: url('../img/icon_word.gif');
}

a.p-pdf {
   background: url('../img/icon_pdf.gif');
}

a.p-xls {
   background: url('../img/icon_xls.gif');
}

a.p-ppt {
   background: url('../img/icon_ppt.gif');
}

a.p-zip {
   background: url('../img/icon_zip.gif');
}




/* lists */
ul {
   margin-left:0px;
   padding-left:0px;
}

ul li {
   margin-left:16px;
   list-style-image:url('../img/li_bullet.gif');
}

ul.p-none li {
   margin-left:0px;
   list-style-image:none;
   list-style-type:none;
}


.p-application .p-rndportlet .p-content ul.p-icons li {
   margin-left:0px;
   list-style-type:none;
   list-style-image:none;

}

ul.p-icons li  a, ul.p-icons li  a:link {
   padding:2px 0px 5px 22px;
   background-repeat:no-repeat;
}

 


/* Buttons */
.p-application a.p-button {
      float:none;
      margin:0px;
      padding:0px 0px 0px 2px;
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
      color:#252F47;
      font-size:12px;
      text-decoration:none;
      cursor: pointer;
      white-space:nowrap;
}


.p-application a.p-button span {
      float:none;
      display:inline;
      line-height:24px;
      white-space:nowrap;
      vertical-align:middle;
      padding:5px 7px 5px 5px;
}

.p-application a.p-button img {
     vertical-align:middle;
     height:16px;
     width:16px;
     padding:4px 0px 4px 4px;
      
}

.p-application a.p-button.p-icon-only {
     height:20px;
     width:22px;
     background:url("../img/icon_only_button_bg.gif") no-repeat left top;
     padding:0px 1px 0px 1px;
}


.p-application a.p-button.p-icon-only img {
     background:none;  
     padding:2px;   
}

.p-application a.p-button:hover span {background-position:100% -24px; color:#252F47;}
.p-application a.p-button:hover img {background-position:0% -24px; color:#252F47;}


.p-application a.p-button:hover {
   background-position:0% -24px;
   color:#252F47;
   text-decoration:none;
}

.p-application a.p-button.p-icon-only:hover {background-position:0% -20px; color:#252F47;}

.p-application a.p-button:visited, .p-application a.p-button:link {color:#252F47;}


/* action lists  */
div.p-actions.p-top {
   margin:0px 0px 15px 0px;
}

div.p-actions.p-bottom  {
   margin:10px 0px 0px 0px;
   text-align:right;
}

div.p-actions ul li {
   margin-left:0px;
   margin-right:10px;
   display:inline;
}

div.p-actions ul li a {
    color: #0E5FD8;
    text-decoration:none;
    padding-left:10px;
    background: url('../img/li_bullet.gif') no-repeat left -2px;
}

div.p-actions.p-top a.p-icon {
   padding:5px 0px 5px 19px;
   background-position:left center;
   background-repeat:no-repeat;
}










/* header styles */

.p-application .p-h1 {
    font-family: "Gill Sans MT";
    font-size: 24px;
    font-weight:100;
    margin-bottom:10px;
    line-height:20px;
    color:#015BFF;
}

.p-application .p-h2 {
    font-family: "Verdana";
    font-size: 15px;
    font-weight:normal;
    margin-top:5px;
    margin-bottom:5px;
    color: #015BFF;
}

.p-application .p-h3 {
    font-size: 12px;
    font-weight:bold;
    margin-top:5px;
    margin-bottom:10px;
   
}

.p-application .p-h4 {
    font-size: 11px;
    font-weight:bold;
    margin-top:5px;
    margin-bottom:10px;
}



.p-icon {
  margin:4px 5px 4px 0px;
}

.p-list {
   padding:0px;
}



.p-list td {
  vertical-align:top;
  padding-bottom:10px;
}

.p-list .p-img {
   position:relative;
   top:4px;
   margin-right:15px;
}

.p-list .p-img img {
   border:solid #01545C 1px;
   width:50px;
   height:50px;  
}

.p-list .p-title a, .p-list .p-title a:link, .p-list .p-title a:visited   {
    font-weight:bold;
    text-decoration:none;
    color:#252F47;
}

.p-list a:hover {
    text-decoration:underline;

}


/* datagrid header */


.p-datagrid-header {
   font-weight:bold;
   height:24px;
   line-height:25px;
   padding-left:10px;
   background:#d7dae7;
}

.p-datagrid-header span.p-title {
   float:left;
}

.p-datagrid-footer {
   background:#ebedf6;
   height:24px;
   line-height:25px;

}

/* paginator */

.p-paginator {
   float:right;
   vertical-align:middle;
   font-size:10px;
   display:inline;
   height:24px;
   line-height: 25px;
   font-weight:normal;
}

.p-paginator select {
   position:relative;
   top:4px;
}


.p-paginator ul{
  display:inline;
  margin:0px 10px ;
  list-style:none;
}

.p-paginator ul li {
  display:inline;
  margin: 0px;
  padding: 0px;
}

.p-paginator a, .p-paginator a:visited {
  color: #0E5FD8;
  padding:1px;
  text-decoration:none;
}

.p-paginator a:hover {
   text-decoration:underline;
}

.p-paginator li.p-current {
  color: #252F47;
  font-weight:bold;
  padding:1px;
}

.p-paginator li.p-current a, .p-paginator li.p-current a:visited {
  color: #252F47;
  text-decoration:none;
  cursor:default;
  padding:1px;
}

.p-paginator li.p-current a:hover {
  background:transparent;
}


/* data grid */

.p-datagrid {
   overflow: auto;	   
   margin-bottom2:15px;
}


.p-datagrid .p-data {
   background-color:#FDFDFD;
   table-layout:fixed;
   }

.p-datagrid .p-data td {
	padding:4px 5px 4px 9px;
	font-size:10px;
    vertical-align:top;
	border-bottom:solid 1px #9193a2;   
	background:#FDFDFD; 
   white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
	}

.p-datagrid .p-data td.p-wrap {
   white-space:normal;
   line-height:12px;
} 


.p-datagrid .p-data td.p-icons img  {
   vertical-align:middle;
}

.p-datagrid .p-data tr.p-hover-center td, .p-datagrid .p-data tr.p-selected-center td {
   background-color:#E1E3EC;
   border-bottom: solid 1px #252F47;
   cursor:hand;
}

.p-datagrid .p-data tr.p-hover-north td, 
.p-datagrid .p-data tr.p-hover-north th, 
.p-datagrid .p-data tr.p-selected-north td, 
.p-datagrid .p-data tr.p-selected-north th {
   border-bottom: solid 1px #252F47;
}

.p-datagrid .p-data tr td.p-hover-west, .p-datagrid .p-data tr td.p-selected-west {
   border-left: solid 1px #252F47;
   padding-left: 8px;
}

.p-datagrid .p-data tr td.p-hover-east, .p-datagrid .p-data tr td.p-selected-east {
   border-right: solid 1px #252F47;
   padding-right: 4px;
}

.p-datagrid .p-data tr.p-selected-center td  {
   font-weight:bold;
}


.p-datagrid .p-data th {
    background:url('../img/grid_header_bg.gif') -1px right no-repeat;
    font-size:10px;
    text-align:left;
	position: relative;
    border-top: solid 1px #9193a2;

    border-bottom: solid 1px #9193a2;
   	top:expression(this.parentElement.parentElement.parentElement.parentElement.scrollTop);
}	

.p-datagrid .p-data th.p-last {
    background:url('../img/grid_header_bg.gif') -1px left no-repeat;
} 	
	
.p-datagrid .p-data th div {
    padding-left:10px;
    padding-right:12px;
    line-height:23px;
   white-space:nowrap;
}	

.p-datagrid .p-data th a, .p-datagrid .p-data th a:link, .p-datagrid .p-data th a:visited, .p-datagrid .p-data th a:hover  {
   display:block;
   width:100%;
   color:#3b4163;
   text-decoration:none;
}	

.p-datagrid .p-data th a:hover {
   text-decoration:underline;
}	

.p-datagrid .p-data th a div {
	margin-right:7px;	 
}

.p-datagrid .p-data th a.p-sort div {
	background:url('../img/sort_both.gif') right 50% no-repeat;
}
	
.p-datagrid .p-data th a.p-sort-ascending div {
	background:url('../img/sort_up.gif') right 50% no-repeat;
}

.p-datagrid .p-data th a.p-sort-descending div {  
	background:url('../img/sort_down.gif') right 50% no-repeat;
}	















/* p-tabs */

.p-tabs {
  width: 100%;
  background: url('../img/bg.gif') repeat-x bottom;
  
}

.p-tabs ul {
  margin: 0px;
  padding: 0px 0px 0;
  list-style: none;
}

.p-tabs li {
  display: inline;
  margin: 0px;
  padding: 0px;
}

.p-tabs a {
  float: left;
  background: url('../img/left_both.gif') no-repeat left top;
  margin: 0px;
  margin-right: 5px;
  padding: 0px 0px 0px 9px;
  border-bottom: 1px solid #a0a8b0;
  text-decoration: none;
  cursor: hand;
  color: #000;
  line-height: 12px;
}

.p-application .p-tabs a:visited, .p-application .p-tabs a:link{
  color:#000000;
}

.p-tabs a span {
  float: left;
  display: block;
  background: url('../img/right_both.gif') no-repeat right top;
  padding: 5px 15px 4px 6px;
  cursor: hand;
}

.p-tabs .p-selected a {
  background-position:0 -150px;
  border-width:0;
  font-weight:bold;
  cursor: hand;
}


.p-tabs .p-selected a span {
  background-position:100% -150px;
  padding-bottom:5px;
  cursor: hand;
}

.p-tabs a:hover {
  background-position:0% -150px;
  text-decoration:underline;
  cursor: hand;
  color: #000;
}

.p-tabs a:hover span {
  background-position:100% -150px;
  cursor: hand;
}

.p-tabs .p-selected a:hover, .p-tabs .p-selected a:hover span  {
 text-decoration:none;
 cursor:default;
}


.p-tab-content {
  border:solid 1px #a0a8b0;
  border-top:0px;
  padding:15px;
  margin-bottom:10px;
}

.p-tab-content.p-no-border {
  border:0px;
  padding:15px 15px 0px 15px;
}

/* forms */


.p-label {
    color:#5179B7;
    padding-top:13px;
}


.p-form table {
   width:100%;
   margin:0px;
}

.p-form table td {
   border-bottom:solid 1px #E1DEEF;
   padding:5px 0px 5px 0px;
   vertical-align:top;
}

table td.p-label {
    color:#5179B7;
    padding-top2:7px;
}


.p-form textarea {
     height: 80px;
     font-size: 11px;
}

.p-form input, .p-form select {
     font-size: 11px;
}



/* field borders */
input.p-invalid {
   padding: 2px;
   background: #FFEEEE;
   border:solid 1px #CC0000;;
}

div.p-invalid {
   color: #CC0000;
}


/* mandatory field indicator */
.p-mandatory {
   color:#CC0000;
  
}

/* field help */
.p-form a.p-help {
   width:16px;
   float:right;
}

.p-form div.p-help  {
   clear:left;
   z-index:10;
   position:absolute;
   display:none;
}


.p-form div.p-help div.p-top {
   position:relative;
   height:10px;
   font-size:1px;
   background:url('../img/help-top.gif') top 50% no-repeat;
   background-color:transparent;
   margin:0px;
 }

.p-form div.p-help div.p-content {
   padding:10px;
   border:solid 5px #99bdff;
   background:#FFFFFF;
   border-top:0px;
   margin:0px;
}




