.t-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.t-widget, .t-widget button, .t-widget input, .t-widget select, .t-button {
    font-size: 100%;
}

.t-widget {
    border-width: 1px;
    border-style: solid;
}

.t-link {
    cursor: pointer;
    outline: none;
}

.t-button {
    display: block;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    text-align: center;
    padding: 2px 4px;
    line-height: 18px;
    border-width: 1px;
    border-style: solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

* + html .t-button {
    padding: 1px 4px;
}

.t-icon, .t-editor-button .t-tool-icon {
    background-color: transparent;
    background-repeat: no-repeat;
}

.t-button .t-icon {
    vertical-align: top;
    margin-right: 3px;
    margin-left: -6px;
}

.t-grid-rtl .t-button .t-icon {
    margin-left: 3px;
    margin-right: -6px;
}

.t-header .t-link {
    text-decoration: none;
}

.t-state-disabled, .t-state-disabled .t-link {
    cursor: default;
    outline: none;
}

.t-icon, .t-sprite, .t-editor-button .t-tool-icon {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

* html .t-icon, .t-sprite {
    text-indent: 0;
}

* + html .t-icon, .t-sprite {
    text-indent: 0;
}

.t-image {
    border: 0;
}

.t-window {
    display: inline-block;
    *display: inline;
    zoom: 1;
    z-index: 10001;
    position: absolute;
    border-width: 0;
    border-width: 5px\9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px 2px #aaa;
    -webkit-box-shadow: 0 0 5px 2px #aaa;
    box-shadow: 0 0 5px 2px #aaa;
}

.t-window-titlebar {
    padding: .4em 0;
    font-size: 1.2em;
    line-height: 1.2em;
    white-space: nowrap;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.t-window-title {
    cursor: default;
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
    left: .5em;
    right: .5em;
}

    .t-window-title .t-image {
        margin: 0 5px 0 0;
        vertical-align: middle;
    }

.t-window-content {
    padding: .4em .5em;
    overflow: auto;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.t-window-titlebar .t-window-actions {
    position: absolute;
    right: .5em;
    top: 0;
    padding-top: .3em;
    white-space: nowrap;
}

.t-window-titlebar .t-window-action {
    width: 16px;
    height: 16px;
    padding: 2px;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    zoom: 1;
    opacity: .7;
    filter: alpha(opacity=70);
}

.t-window-titlebar .t-state-hover {
    border-width: 1px;
    border-style: solid;
    padding: 1px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    opacity: 1;
    filter: alpha(opacity=100);
}

.t-window-action .t-icon {
    margin: 0;
    vertical-align: top;
}

.t-window .t-resize-handle {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    zoom: 1;
    line-height: 6px;
    font-size: 0;
}

.t-resize-n {
    top: -3px;
    left: 0;
    width: 100%;
    height: 6px;
    cursor: n-resize;
}

.t-resize-e {
    top: 0;
    right: -3px;
    width: 6px;
    height: 100%;
    cursor: e-resize;
}

.t-resize-s {
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 6px;
    cursor: s-resize;
}

.t-resize-w {
    top: 0;
    left: -3px;
    width: 6px;
    height: 100%;
    cursor: w-resize;
}

.t-resize-se {
    bottom: -3px;
    right: -3px;
    width: 16px;
    height: 16px;
    cursor: se-resize;
}

.t-resize-sw {
    bottom: -3px;
    left: -3px;
    width: 6px;
    height: 6px;
    cursor: sw-resize;
}

.t-resize-ne {
    top: -3px;
    right: -3px;
    width: 6px;
    height: 6px;
    cursor: ne-resize;
}

.t-resize-nw {
    top: -3px;
    left: -3px;
    width: 6px;
    height: 6px;
    cursor: nw-resize;
}

.t-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: .5;
    z-index: 10000;
}

.t-window .t-overlay {
    background-color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    width: 100%;
    height: 100%;
}

.t-window .t-widget {
    z-index: 10002;
}

.t-tabstrip {
    margin: 0;
    padding: 0;
    zoom: 1;
}

    .t-tabstrip .t-tabstrip-items {
        padding: 0 .3em;
    }

    .t-tabstrip .t-item, .t-panelbar .t-tabstrip .t-item {
        list-style-type: none;
        display: inline-block;
        *display: inline;
        zoom: 1;
        border-width: 1px;
        border-style: solid;
        margin: .1em .3em 0 0;
        position: relative;
        top: 1px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .t-tabstrip .t-link, .t-panelbar .t-tabstrip .t-link {
        padding: .3em .9em;
        display: inline-block;
        *display: inline;
        zoom: 1;
        border-bottom-width: 0;
        outline: 0;
    }

.t-tabstrip-items .t-icon, .t-panelbar .t-tabstrip-items .t-icon {
    margin: -1px 4px 0 -3px;
    vertical-align: top;
}

.t-tabstrip .t-item .t-image, .t-tabstrip .t-item .t-sprite, .t-panelbar .t-tabstrip .t-item .t-image, .t-panelbar .t-tabstrip .t-item .t-sprite {
    vertical-align: middle;
    margin: -3px 3px 0 -6px;
}

* html .t-tabstrip .t-item .t-image, * html .t-tabstrip .t-item .t-sprite {
    vertical-align: top;
    margin-top: -1px;
}

* + html .t-tabstrip .t-item .t-image, * + html .t-tabstrip .t-item .t-sprite {
    vertical-align: top;
    margin-top: -1px;
}

.t-tabstrip .t-content, .t-panelbar .t-tabstrip .t-content {
    border-width: 1px;
    border-style: solid;
    margin: 0 .3em .3em;
    padding: .3em 1em;
    display: none;
    position: static;
    zoom: 1;
}

.t-tabstrip-rtl {
    direction: rtl;
}

    .t-tabstrip-rtl .t-item, .t-panelbar .t-tabstrip-rtl .t-item {
        margin: .1em 0 0 .3em;
    }

        .t-tabstrip-rtl .t-item .t-icon, .t-panelbar .t-tabstrip-rtl .t-item .t-icon {
            margin: -1px -3px 0 4px;
        }

        .t-tabstrip-rtl .t-item .t-image, .t-tabstrip-rtl .t-item .t-sprite, .t-panelbar .t-tabstrip-rtl .t-item .t-image, .t-panelbar .t-tabstrip-rtl .t-item .t-sprite {
            margin: -4px -3px 0 3px;
        }

.t-panelbar {
    zoom: 1;
}

    .t-panelbar .t-item {
        list-style-type: none;
        display: block;
        zoom: 1;
        margin: 0;
        top: 0;
        border-width: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

    .t-panelbar .t-image, .t-panelbar .t-sprite {
        vertical-align: middle;
        margin-right: 5px;
        margin-top: 4px;
        float: left;
    }

    .t-panelbar .t-group .t-image, .t-panelbar .t-group .t-sprite {
        margin-top: 1px;
    }

    .t-panelbar .t-link {
        line-height: 2.05em;
        padding: 0 1em;
        border-bottom: 1px solid;
        display: block;
        position: relative;
        text-decoration: none;
        zoom: 1;
    }

.t-panelbar-expand, .t-panelbar-collapse {
    position: absolute;
    top: 5px;
    right: 2px;
}

.t-panelbar .t-group, .t-panelbar .t-content {
    position: relative;
    zoom: 1;
    padding: 0;
    margin: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

    .t-panelbar .t-group .t-link {
        line-height: 1.7em;
        border-bottom: 0;
        font-size: .95em;
    }

    .t-panelbar .t-group .t-arrow-up, .t-panelbar .t-group .t-arrow-down {
        top: 2px;
    }

    .t-panelbar .t-group .t-group .t-link {
        padding-left: 2em;
    }

.t-panelbar .t-last .t-link {
    border-bottom: 0;
}

.t-panelbar .t-group .t-group {
    border-bottom: 0;
}

.t-panelbar-rtl {
    direction: rtl;
}

    .t-panelbar-rtl .t-item {
        zoom: normal;
    }

    .t-panelbar-rtl .t-image, .t-panelbar-rtl .t-sprite {
        margin-right: 0;
        margin-left: 5px;
        float: right;
    }

    .t-panelbar-rtl .t-arrow-up, .t-panelbar-rtl .t-arrow-down {
        right: auto;
        left: 2px;
    }

    .t-panelbar-rtl .t-group .t-group .t-link {
        padding-left: 0;
        padding-right: 2em;
    }

.t-menu {
    cursor: default;
}

    .t-menu, .t-menu .t-group {
        list-style: none;
        padding: 0;
        margin: 0;
        zoom: 1;
    }

        .t-menu .t-group .t-link {
            padding-right: 2em;
        }

        .t-menu .t-item {
            position: relative;
            display: inline-block;
            *display: inline;
            zoom: 1;
            border-width: 0 1px 0 0;
            border-style: solid;
            vertical-align: top;
        }

.t-menu-vertical .t-item {
    display: block;
    border-width: 0;
}

.t-menu .t-image, .t-menu .t-sprite {
    margin: 0 4px 0 -4px;
    vertical-align: top;
}

.t-menu .t-link {
    text-decoration: none;
    padding: .25em .97em;
    display: block;
}

.t-menu .t-group {
    display: none;
    white-space: nowrap;
    border-style: solid;
    border-width: 1px;
    overflow: visible;
    -moz-box-shadow: 2px 2px 2px #aaa;
    -webkit-box-shadow: 2px 2px 2px #aaa;
    box-shadow: 2px 2px 2px #aaa;
}

    .t-menu .t-group .t-item {
        display: block;
        border-width: 0;
    }

    .t-menu .t-group .t-link {
        zoom: 1;
    }

.t-menu .t-arrow-down {
    margin-left: 2px;
    margin-right: -10px;
    vertical-align: top;
}

.t-menu .t-arrow-next {
    position: absolute;
    right: 0;
    top: 3px;
}

.t-menu .t-animation-container, .t-menu .t-group {
    left: -1px;
    position: absolute;
}

    .t-menu .t-animation-container .t-animation-container, .t-menu .t-group .t-group {
        left: 100%;
        top: -1px;
    }

.t-menu-vertical .t-animation-container, .t-menu-vertical .t-group {
    left: 100%;
    top: -1px;
}

.t-menu .t-animation-container .t-group {
    left: auto;
    top: auto;
}

.t-menu-rtl {
    direction: rtl;
}

    .t-menu-rtl .t-group .t-link {
        padding-left: 2em;
        padding-right: .97em;
    }

    .t-menu-rtl .t-item {
        border-width: 0 0 0 1px;
    }

    .t-menu-rtl .t-image, .t-menu-rtl .t-sprite {
        margin: 0 -4px 0 4px;
    }

    .t-menu-rtl .t-arrow-down {
        margin-left: -10px;
        margin-right: 2px;
    }

    .t-menu-rtl .t-arrow-next {
        right: auto;
        left: 0;
    }

    .t-menu-rtl .t-animation-container, .t-menu-rtl .t-group {
        left: auto;
        right: -1px;
    }

        .t-menu-rtl .t-animation-container .t-animation-container, .t-menu-rtl .t-group .t-group {
            right: 100%;
            left: auto;
        }

.t-menu-vertical-rtl .t-animation-container, .t-menu-vertical-rtl .t-group {
    right: 100%;
    left: auto;
}

.t-menu-rtl .t-animation-container .t-group {
    right: auto;
}

.t-grid {
    position: relative;
    zoom: 1;
}

    .t-grid table {
        width: 100%;
        border-collapse: separate;
        empty-cells: show;
        border: 0;
    }

.t-grid-header .t-header {
    text-align: left;
}

.t-grid-header .t-header, .t-grid-header .t-last-header {
    padding: .3em .6em;
    border-width: 0 1px 1px 0;
    border-style: solid;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.t-grid-header .t-last-header {
    border-right-width: 0;
}

.t-grid-header .t-header .t-link {
    line-height: 18px;
    height: 18px;
    display: block;
    margin: -.3em -.6em;
    padding: .3em 2.4em .3em .6em;
    border: 0;
}

.t-grid-header .t-header .t-icon {
    position: static;
}

.t-grid .t-state-hover {
    cursor: pointer;
}

.t-grid td {
    padding: .25em .6em;
    border: 0;
    vertical-align: middle;
    line-height: 1.6em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.t-grid .t-last {
    border-right-width: 0;
    border-bottom-width: 0;
}

.t-grid-header-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    zoom: 1;
}

div.t-grid-header {
    padding-right: 17px;
    zoom: 1;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

    div.t-grid-header .t-header, div.t-grid-header .t-last-header {
        border-bottom-width: 0;
    }

    div.t-grid-header .t-last-header {
        border-right-width: 1px;
    }

.t-grid-content {
    position: relative;
    overflow: auto;
    overflow-x: auto;
    overflow-y: scroll;
    width: 100%;
    zoom: 1;
}

    .t-grid-header table, .t-grid-content table {
        table-layout: fixed;
    }

    * html .t-grid-content table {
        width: auto;
    }

    * + html .t-grid-content table {
        width: auto;
    }

.t-grid .t-pager-wrapper, .t-grid-footer {
    border-style: solid;
    border-width: 1px 0 0;
}

.t-grid div.t-pager-wrapper {
    border-width: 0 0 1px 0;
}

.t-grid-footer div.t-pager-wrapper {
    border-width: 0;
}

.t-grid div.t-grid-footer {
    border-width: 1px 0 0;
}

.t-grid .t-pager-wrapper {
    padding: .2em .6em;
    line-height: 1.8em;
    overflow: auto;
}

* html .t-pager-wrapper input {
    vertical-align: middle;
}

* + html .t-pager-wrapper input {
    vertical-align: middle;
}

.t-grid .t-pager, .t-grid .t-status, .t-grid .t-status-text, .t-pager .t-numeric, .t-pager .t-page-i-of-n, .t-pager .t-link, .t-pager span, .t-pager input, .t-grouping-row p {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

.t-grid .t-status {
    float: left;
    margin: -.2em .6em -.2em -.6em;
    padding: .2em .6em;
    height: 1.85em;
    border-right-width: 1px;
    border-right-style: solid;
}

.t-grid .t-pager {
    float: left;
    cursor: default;
}

.t-grid .t-status-text {
    float: right;
    margin-right: .2em;
}

.t-pager .t-link {
    text-decoration: none;
    padding: 1px;
    margin-top: .2em;
    border: 0;
    line-height: 16px;
}

.t-pager .t-state-active, .t-pager .t-state-hover {
    padding: 0;
    border-width: 1px;
    border-style: solid;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.t-pager span, .t-pager .t-link {
    vertical-align: top;
}

.t-pager .t-numeric, .t-pager .t-page-i-of-n {
    margin: 0 7px;
    vertical-align: top;
}

.t-numeric .t-link, .t-numeric .t-state-active {
    margin-top: 0;
    padding: 0 5px;
    line-height: 22px;
    vertical-align: top;
}

.t-numeric .t-state-active, .t-numeric .t-state-hover {
    padding: 0 4px;
    line-height: 20px;
}

.t-page-i-of-n input {
    width: 2em;
    vertical-align: baseline;
    font-size: 1em;
}

.t-pager-wrapper .t-status .t-icon {
    vertical-align: top;
    margin-top: 3px;
}

.t-grid-filter {
    float: right;
    height: 18px;
    padding: .3em .2em;
    position: relative;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: -1.8em -.6em -.3em 3px;
    margin-top: -.3em\9;
}

.t-link + .t-grid-filter {
    margin-top: -1.8em\9;
}

* + html .t-grid .t-grid-filter {
    margin-top: -1.8em;
}

.t-grid-filter .t-icon {
    vertical-align: top;
}

.t-grid .t-animation-container {
    position: absolute;
}

.t-filter-options {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    padding: 3px;
    width: 148px;
    -moz-box-shadow: 2px 2px 2px #aaa;
    -webkit-box-shadow: 2px 2px 2px #aaa;
    box-shadow: 2px 2px 2px #aaa;
}

    .t-filter-options .t-filter-help-text, .t-filter-options select, .t-filter-options input, .t-filter-options .t-button, .t-filter-options .t-datepicker {
        display: block;
        margin-bottom: 4px;
    }

    .t-filter-options .t-button, .t-filter-options select {
        width: 148px;
    }

    .t-filter-options input {
        width: 142px;
    }

    .t-filter-options .t-datepicker .t-input {
        width: 122px;
        margin: 0;
    }

    .t-filter-options .t-filter-button {
        margin-bottom: 0;
    }

.t-grouping-row .t-icon {
    margin: 0 4px;
}

.t-grouping-row p {
    padding: 0 .6em;
    margin-left: -.6em;
}

.t-grid td.t-group-cell, .t-grid td.t-hierarchy-cell {
    border-right: 0;
}

.t-grid .t-group-col, .t-grid .t-hierarchy-col {
    width: 30px;
}

.t-drag-clue {
    border-width: 1px;
    border-style: solid;
    font-size: .9em;
    padding: .05em .15em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.t-grouping-header, .t-grouping-dropclue {
    height: 24px;
    line-height: 24px;
}

.t-grouping-dropclue {
    position: absolute;
    width: 6px;
}

.t-grouping-header .t-group-indicator {
    display: inline-block;
    *display: inline;
    zoom: 1;
    border-width: 1px;
    border-style: solid;
    line-height: 1.5em;
    padding: .15em .15em .15em .4em;
    margin: 0 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.t-grouping-header .t-link {
    text-decoration: none;
}

.t-grouping-header .t-button {
    padding: 0;
    border: 0;
    background: transparent;
}

.t-grouping-header .t-icon {
    vertical-align: top;
}

.t-grouping-header .t-link .t-icon {
    margin: 0 0 0 -3px;
}

.t-grouping-header .t-button .t-icon {
    margin: 0 0 0 3px;
}

.t-grouping-header a, .t-grouping-header .t-button {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: baseline;
}

.t-grouping-header, .t-grid-toolbar {
    cursor: default;
    margin: 0;
    padding: .25em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.t-grid .t-edit-container {
    padding: 0;
    border-right: 0;
}

.t-edit-form {
    padding: 0;
    margin: 0;
}

    .t-edit-form td {
        border-top: 0;
        border-bottom: 0;
    }

.t-edit-container .text-box, .t-edit-container .t-numerictextbox, .t-edit-container .t-datepicker {
    vertical-align: middle;
    width: 5em;
    max-width: 90%;
    min-width: 90%;
    margin: -.4em -.3em -.15em;
}

* html .t-grid .text-box {
    width: 90%;
}

.t-grid .field-validation-error {
    display: block;
}

.t-grid .input-validation-error {
    border-style: ridge;
    border-color: #f00;
    background-color: #ffc0cb;
}

.t-grid-toolbar .t-button, .t-grid-actions, .t-grid-action {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    font-size: 1em;
    line-height: 1.417em;
}

.t-grid-action, .t-grid-toolbar .t-button {
    margin: 0 .2em;
    min-width: 65px;
}

.t-grid-toolbar .t-button, button.t-grid-action, #ie8#fix {
    min-width: 75px;
}

.t-detail-row {
    position: relative;
}

.t-grid-resize-indicator {
    position: absolute;
    width: 2px;
    background-color: #aaa;
}

.t-grid .t-resize-handle {
    cursor: col-resize;
    position: absolute;
    height: 25px;
}

.t-grid-rtl {
    direction: ltr;
}

    .t-grid-rtl div.t-grid-header, .t-grid-rtl .t-grid-content, .t-grid-rtl .t-grid-footer, .t-grid-rtl .t-grouping-header, .t-grid-rtl .t-grid-toolbar, .t-grid-rtl .t-filter-options, .t-grid-rtl tbody {
        zoom: 1;
        direction: rtl;
    }

    .t-grid-rtl table {
        border-collapse: separate;
    }

    .t-grid-rtl div.t-grid-header {
        padding-right: 0\9;
        padding-left: 17px\9;
        text-align: right;
    }

    .t-grid-rtl .t-header {
        text-align: right;
        border-width: 0 0 1px 1px\9;
    }

        .t-grid-rtl .t-header .t-link {
            padding: .3em .6em .3em 2.4em;
        }

    .t-grid-rtl .t-grid-filter {
        float: left;
        margin: -1.8em 3px -.3em -.6em;
    }

    .t-grid-rtl .t-pager {
        direction: ltr;
        float: right;
    }

    .t-grid-rtl .t-status {
        float: right;
        border-right-width: 0;
        border-left-style: solid;
        border-left-width: 1px;
        margin: -.2em -.6em -.2em .6em;
    }

    .t-grid-rtl .t-status-text {
        float: left;
    }

    .t-grid-rtl .t-grouping-row p {
        margin-right: -0.6em;
        margin-left: 0;
        padding-right: .6em;
        padding-left: 0;
    }

.t-autocomplete {
    background-position: 100% 50% !important;
}

.t-combobox, .t-dropdown, .t-selectbox {
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
    border-width: 0;
}

.t-dropdown-wrap {
    padding-right: 16px;
    position: relative;
    border-width: 1px;
    border-style: solid;
    display: block;
    cursor: default;
}

* html .t-combobox .t-dropdown-wrap {
    height: 20px;
}

.t-combobox .t-input {
    font: inherit;
    vertical-align: top;
    border: 0;
    width: 100%;
}

.t-combobox .t-select {
    text-decoration: none;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    cursor: default;
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: inherit;
}

* html .t-combobox .t-select {
    top: 1px;
    right: 1px;
}

.t-combobox .t-icon {
    margin-top: 1px;
}

.t-dropdown .t-select, .t-selectbox .t-select {
    border: 0;
    text-decoration: none;
    font: inherit;
    color: inherit;
    overflow: hidden;
    cursor: default;
}

.t-dropdown .t-input, .t-selectbox .t-input {
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    padding: .2em 0 .2em 3px;
}

.t-dropdown .t-icon, .t-combobox .t-select, .t-selectbox .t-icon {
    position: absolute;
    right: 0;
    top: 0;
}

.t-combobox .t-icon, .t-dropdown .t-icon, .t-selectbox .t-icon {
    vertical-align: top;
    margin-top: 2px;
}

.t-combobox .t-input {
    height: 18px;
    line-height: 18px;
    padding: 1px 3px;
    border: 0;
    margin: 0;
}

* html .t-combobox .t-input {
    padding: 1px 0;
}

* + html .t-combobox .t-input {
    padding: 1px 0;
}

.t-combobox .t-select, .t-dropdown .t-select, .t-selectbox .t-select {
    height: 20px;
    line-height: 20px;
}

.t-popup {
    border-width: 1px;
    border-style: solid;
}

    .t-popup .t-item {
        padding: 1px 5px 1px 3px;
        cursor: default;
    }

.t-calendar {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 203px;
    position: relative;
    overflow: hidden;
}

    .t-calendar .t-link {
        text-decoration: none;
    }

    .t-calendar .t-action-link {
        text-decoration: underline;
    }

    .t-calendar .t-header {
        padding: .4em 0;
        text-align: center;
        position: relative;
        zoom: 1;
    }

    .t-calendar .t-nav-prev, .t-calendar .t-nav-next {
        position: absolute;
        top: .3em;
    }

    .t-calendar .t-nav-prev {
        left: 1%;
    }

    .t-calendar .t-nav-next {
        right: 1%;
    }

    .t-calendar .t-content {
        text-align: right;
        width: 100%;
        height: 169px;
        table-layout: fixed;
    }

    .t-calendar .t-animation-container .t-content {
        height: 100%;
    }

    .t-calendar .t-nav-fast {
        display: inline-block;
        *display: inline;
        zoom: 1;
        width: 75%;
    }

        .t-calendar .t-nav-fast .t-icon {
            vertical-align: top;
        }

    .t-calendar th {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        font-weight: normal;
        cursor: default;
    }

    .t-calendar td {
        cursor: pointer;
        padding: 1px;
    }

    .t-calendar .t-state-focus {
        border-width: 1px;
        border-style: dotted;
        padding: 0;
    }

    .t-calendar .t-content .t-link {
        display: block;
        overflow: hidden;
        position: relative;
    }

    .t-calendar th, .t-calendar .t-content .t-link {
        padding: .25em .45em .3em .1em;
    }

    .t-calendar .t-meta-view .t-link {
        padding: .25em 0 .3em;
        text-align: center;
    }

.t-datepicker {
    border: 0;
    white-space: nowrap;
}

div.t-datepicker {
    background-color: transparent;
}

.t-datepicker, .t-datepicker .t-input, .t-datepicker .t-icon-calendar {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
}

    .t-datepicker .t-input {
        width: 5.2em;
        margin: 0;
    }

    .t-datepicker .t-icon-calendar {
        margin: 3px 0 0 3px;
    }

.t-datepicker-calendar {
    -moz-box-shadow: 2px 2px 2px #aaa;
    -webkit-box-shadow: 2px 2px 2px #aaa;
    box-shadow: 2px 2px 2px #aaa;
}

div.t-treeview {
    border-width: 0;
    background: none;
    white-space: nowrap;
    overflow: auto;
}

.t-treeview .t-item {
    padding: 0 0 0 16px;
    margin: 0;
    border-width: 0;
    position: static;
    top: auto;
    display: block;
}

.t-treeview .t-group, .t-treeview .t-content {
    list-style-type: none;
    background: none;
    margin: 0;
    padding: 0;
}

.t-treeview .t-icon, .t-treeview .t-image, .t-treeview .t-in {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
}

.t-treeview .t-plus, .t-treeview .t-minus, .t-treeview .t-plus-disabled, .t-treeview .t-minus-disabled {
    margin-left: -16px;
    margin-top: 2px;
}

.t-treeview .t-plus, .t-treeview .t-minus {
    cursor: pointer;
}

.t-treeview .t-plus-disabled, .t-treeview .t-minus-disabled {
    cursor: default;
}

.t-treeview .t-image {
    margin-right: 3px;
}

.t-treeview .t-in {
    margin: 1px 0;
    padding: 2px 4px 2px 3px;
    text-decoration: none;
    line-height: 16px;
    margin-left: 2px;
}

.t-treeview span.t-in {
    cursor: default;
}

.t-treeview .t-state-hover, .t-treeview .t-state-selected {
    padding: 1px 3px 1px 2px;
    border-width: 1px;
    border-style: solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.t-treeview .t-drop-clue {
    width: 80px;
    visibility: hidden;
    height: 5px;
    position: absolute;
    margin-top: -3px;
    z-index: 10000;
    background-color: transparent;
    background-repeat: no-repeat;
}

.t-treeview-lines .t-top {
    background-position: -91px 0;
}

.t-treeview-lines .t-bot {
    background-position: -69px -22px;
}

.t-treeview-lines .t-mid {
    background-position: -47px -44px;
}

.t-treeview-lines .t-last .t-top {
    background-position: -25px -66px;
}

.t-treeview-lines .t-last .t-bot {
    background-position: -69px -22px;
}

.t-treeview-lines .t-item {
    background-repeat: no-repeat;
}

.t-treeview-lines .t-first {
    background-repeat: no-repeat;
    background-position: 0 16px;
}

div.t-numerictextbox {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    white-space: nowrap;
    border: 0;
    background: transparent;
}

.t-numerictextbox .t-icon {
    margin-left: -16px;
}

.t-numerictextbox .t-arrow-up {
    vertical-align: top;
    margin-top: 1px;
    height: 10px;
    [hack:safari;margin-top:3px;];
}

* + html .t-numerictextbox .t-arrow-up {
    margin-top: 1px;
}

.t-numerictextbox .t-arrow-down {
    vertical-align: bottom;
    margin-bottom: 1px;
    height: 11px;
    [hack:safari;margin-bottom:3px;];
}

* + html .t-numerictextbox .t-arrow-down {
    margin-bottom: 1px;
}

.t-colorpicker {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

    .t-colorpicker .t-tool-icon {
        display: inline-block;
        *display: inline;
        zoom: 1;
        vertical-align: top;
        padding: 2px 3px;
        font-size: 0;
        line-height: 0;
    }

    .t-colorpicker .t-selected-color {
        display: block;
        height: 16px;
        width: 16px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }

    .t-colorpicker .t-icon {
        vertical-align: middle;
        margin-top: 2px;
    }

.t-colorpicker-popup {
    line-height: 0;
    width: 136px;
}

    .t-colorpicker-popup .t-reset {
        padding: .25em;
        margin: 0;
        display: inline-block;
        *display: inline;
        zoom: 1;
    }

    .t-colorpicker-popup .t-item {
        float: left;
        display: block;
        overflow: hidden;
        width: 12px;
        height: 12px;
        font-size: 0;
        padding: 0;
        margin: 0 1px 1px 0;
    }

.t-editor {
    border-width: 1px;
    border-style: solid;
    border-collapse: separate;
    height: 250px;
    font-size: 100%;
    table-layout: fixed;
    vertical-align: top;
    width: 100%;
}

    .t-editor .t-editor-toolbar-wrap {
        border: 0;
        padding: 0;
    }

.t-editor-toolbar {
    margin: 0;
    padding: .1em 0;
    list-style-type: none;
    cursor: default;
    line-height: 1.3em;
}

    .t-editor-toolbar li {
        display: inline;
        vertical-align: middle;
    }

    .t-editor-toolbar .t-editor-dropdown, .t-editor-toolbar .t-editor-combobox, .t-editor-toolbar .t-editor-selectbox, .t-editor-toolbar .t-editor-colorpicker {
        margin-right: 2px;
    }

    .t-editor-toolbar .t-separator {
        border-width: 0 1px 0 0;
        border-style: solid;
        padding: 0 0 0 1px;
        font-size: 1.3em;
        margin: 0 .15em;
        position: relative;
        top: 1px;
    }

    .t-editor-toolbar .t-break {
        display: block;
        height: 1px;
        line-height: 0;
        font-size: 0;
    }

    .t-editor-toolbar .t-dropdown, .t-editor-toolbar .t-combobox, .t-editor-toolbar .t-selectbox, .t-editor-toolbar .t-colorpicker {
        vertical-align: middle;
    }

.t-editor-button .t-tool-icon {
    vertical-align: middle;
    width: 22px;
    height: 22px;
    margin: 1px;
}

.t-editor-colorpicker .t-tool-icon {
    padding: 17px 3px 2px;
}

.t-editor-colorpicker .t-icon {
    border-left: 1px solid #ccc;
}

.t-editor-colorpicker .t-selected-color {
    height: 3px;
}

.t-editor-combobox .t-input {
    height: 20px;
    line-height: 20px;
}

.t-editor-combobox .t-select {
    height: 22px;
    line-height: 22px;
}

.t-bold {
    background-position: -22px 0;
}

.t-italic {
    background-position: -44px 0;
}

.t-underline {
    background-position: -66px 0;
}

.t-strikethrough {
    background-position: -88px 0;
}

.t-justifyLeft {
    background-position: -110px 0;
}

.t-justifyCenter {
    background-position: -132px 0;
}

.t-justifyRight {
    background-position: -154px 0;
}

.t-justifyFull {
    background-position: -176px 0;
}

.t-insertOrderedList {
    background-position: -198px 0;
}

.t-insertUnorderedList {
    background-position: -220px 0;
}

.t-createLink {
    background-position: -242px 0;
}

.t-unlink {
    background-position: -264px 0;
}

.t-insertImage {
    background-position: -286px 0;
}

.t-foreColor .t-tool-icon {
    background-position: -308px -2px;
}

.t-backColor .t-tool-icon {
    background-position: -330px -2px;
}

.t-indent {
    background-position: -352px 0;
}

.t-outdent {
    background-position: -374px 0;
}

.t-fontName {
    width: 110px;
}

.t-fontSize {
    width: 124px;
}

.t-formatBlock {
    width: 147px;
}

.t-editor-button .t-state-hover, .t-editor-button .t-state-active {
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    margin: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.t-editor-button .t-state-disabled {
    opacity: .3;
    filter: alpha(opacity=30);
}

.t-editor .t-editable-area {
    outline: none;
    height: 100%;
    width: 100%;
    border-width: 1px;
    border-style: solid;
}

.t-editor .t-content {
    height: 100%;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
}

.t-editor .t-raw-content {
    border: 0;
    margin: 0;
    padding: 0;
    font: inherit;
}

.t-editor-dialog {
    padding: 1em;
}

    .t-editor-dialog ol {
        margin: 0;
        padding: 0;
        list-style: none;
    }

.t-form-text-row, .t-form-checkbox-row {
    padding-bottom: 1em;
}

    .t-form-text-row label {
        display: inline-block;
        *display: inline;
        zoom: 1;
        width: 6em;
        text-align: right;
        padding-right: .5em;
    }

    .t-form-checkbox-row input {
        margin-left: 6.5em;
        font-size: inherit;
        padding: 0;
    }

    .t-form-checkbox-row label {
        padding-left: .3em;
    }

    .t-form-checkbox-row input, .t-form-checkbox-row label, .t-form-text-row label .t-form-text-row input, .t-form-text-row select {
        vertical-align: middle;
    }

    .t-form-text-row input, .t-form-text-row select {
        width: 20em;
    }

.t-editor-dialog .t-button-wrapper {
    padding-top: .5em;
    text-align: right;
}

.t-editor-dialog .t-button {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.t-drag-clue {
    position: absolute;
    z-index: 10000;
    padding: 1px 3px 1px 2px;
    white-space: nowrap;
    cursor: default;
}

.t-drag-status {
    margin-right: 4px;
    vertical-align: top;
    margin-top: -1px;
}
/*Newly added code by KGS F-Tech Team*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a {
    color: #0B1966;
}

.Grid {
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
    font-family: Calibri;
    color: #474747;
    text-align: center;
}

    .Grid td {
        padding: 2px;
        border: solid 1px #c1c1c1;
    }

    .Grid th {
        padding: 4px 2px;
        color: #000000;
        background: #cccccc;
        border: solid 1px #FFFFFF;
        font-size: 0.9em;
    }

.GridViewFooter {
    font-weight: bold;
}


.Label {
    margin-top: 0px;
    padding-left: 1px;
    font: normal 16px Calibri, Arial, Helvetica, sans-serif;
    color: #000000;
}

.LabelQuestion {
    margin-top: 0px;
    padding-left: 1px;
    font: normal 16px Calibri, Arial, Helvetica, sans-serif;
    color: #000000;
}

.LabelItalic {
    margin-top: 0px;
    padding-left: 1px;
    font: normal 12px Verdana, Arial, Helvetica, sans-serif;
    color: #6b8081;
    font-family: Calibri;
    font-style: italic;
    font-size: 12px;
}

.LabelCaption {
    margin-top: 0px;
    padding-left: 1px;
    font: normal 16px Calibri, Arial, Helvetica, sans-serif;
    color: #000000;
}

.question {
    padding-bottom: 30px;
}

.LabelBold {
    margin-top: 0px;
    padding-left: 0px;
    font: bold 12px Calibri, Arial, Helvetica, sans-serif;
    color: #000000;
    font-family: Calibri;
    font-weight: bold;
    font-size: medium;
}

.LabelTitle {
    font: bold 14px Verdana, Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.LabelHeader {
    margin-top: 0px;
    padding-left: 0px;
    font: bold 40px Calibri, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-family: Calibri;
}

.LabelSubHeader {
    margin-top: 0px;
    padding-left: 0px;
    font: bold 20px Calibri, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-family: Calibri;
}

.LabelPageHeader {
    margin-top: 0px;
    padding-left: 0px;
    font: bold 20px Calibri, Arial, Helvetica, sans-serif;
    color: #000000;
    font-family: Calibri;
}


.LabelItalicWhite {
    margin-top: 0px;
    padding-left: 1px;
    font: normal 12px Calibri, Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-family: Calibri;
    font-style: italic;
    font-size: 12px;
}

.LinkButton {
    font: bold 10px Calibri, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-family: Calibri;
    font-size: medium;
}

.LogoutLinkButton {
    font: normal 12px Calibri, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-family: Calibri;
    font-size: larger;
}

.RadioButtonList {
    margin-top: 0px;
    padding-left: 1px;
    font: normal 12px Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    font-family: Calibri;
    font-size: 14px;
}

.ButtonLogin {
    font-size: 16px;
    font-family: Arial;
    font-weight: 600;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #dcdcdc;
    padding: 7px 20px;
    cursor: pointer;
    color: Navy;
}

.ButtonAssign {
    font-size: 16px;
    font-family: Arial;
    font-weight: 600;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #dcdcdc;
    padding: 7px 20px;
    color: White;
    background-color: #0B1966;
    cursor: pointer;
}

    .ButtonAssign:disabled {
        background-color: #CCCCCC;
    }

.ButtonPrevious {
    font-size: 16px;
    font-family: Arial;
    font-weight: 600;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #dcdcdc;
    padding: 7px 20px;
    cursor: pointer;
    color: White;
    background-color: #0B1966;
    width: 150px;
}

.ButtonNext {
    font-size: 16px;
    font-family: Arial;
    font-weight: 600;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #dcdcdc;
    padding: 7px 20px;
    color: White;
    background-color: #0B1966;
    width: 150px;
    cursor: pointer;
}

.ButtonDownload {
    font-size: 16px;
    font-family: Arial;
    font-weight: 200;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #dcdcdc;
    padding: 4px 10px;
    color: White;
    background-color: #0B1966;
    cursor: pointer;
}

.ButtonUpload {
    font-size: 16px;
    font-family: Arial;
    font-weight: 200;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #dcdcdc;
    padding: 4px 10px;
    color: White;
    background-color: #0B1966;
    cursor: pointer;
}

.ButtonSave {
    font-size: 16px;
    font-family: Arial;
    font-weight: 600;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #dcdcdc;
    padding: 7px 20px;
    color: White;
    background-color: #0B1966;
    cursor: pointer;
}

.ButtonClose {
    font-size: 16px;
    font-family: Arial;
    font-weight: 600;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #dcdcdc;
    padding: 7px 20px;
    color: White;
    background-color: #0B1966;
    cursor: pointer;
}

.ButtonExcel {
    font-size: 16px;
    font-family: Arial;
    font-weight: 600;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #dcdcdc;
    padding: 7px 20px;
    color: White;
    background-color: #0B1966;
    cursor: pointer;
}

.ButtonNarrative {
    font-size: 12px;
    font-family: Arial;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #dcdcdc;
    padding: 7px 30px;
    color: White;
    background-color: #0B1966;
    cursor: pointer;
    margin-left: 10px;
}

    .ButtonNarrative:disabled {
        background-color: #CCCCCC;
    }

.ButtonDelete {
    font-size: 16px;
    font-family: Arial;
    font-weight: 200;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #dcdcdc;
    padding: 7px 20px;
    color: White;
    background-color: #0B1966;
    cursor: pointer;
}

    .ButtonDelete:disabled {
        background-color: #CCCCCC;
    }

.LinkButtonScreen {
    font: normal 12px Calibri, Arial, Helvetica, sans-serif;
    color: #0B1966;
    font-family: Calibri;
    font-size: larger;
}

.TextBox {
    border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    outline: 0;
    height: 25px;
    width: 150px;
}

.TextBoxMoney {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    outline: 0;
    height: 25px;
    width: 150px;
}

.TextBoxMultiLine {
    font-family: Calibri;
    border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #848484;
    outline: 0;
    height: 300px;
    width: 550px;
}

.FileUpload {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #848484;
    outline: 0;
    height: 25px;
    width: 550px;
}

.DropDownList {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #848484;
    height: 25px;
}

.LoginTable {
    border-radius: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5x;
}

.Pageheader {
    height: 12%;
}

.bodydiv {
    height: 80%;
    margin-top:30px;
    overflow-x:hidden;
    overflow-y:auto;
}

html, body {
    height: 100%;
    background-image: url(../../Images/blue.jpg);
}

.LabelFooter {
    width:100%;
    margin-top: 5px;
    padding-left: 0px;
    font: normal 11px Verdana, Arial, Helvetica, sans-serif;
    color: #6b8081;
    font-weight:normal;
    text-align:center;
}
