﻿html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a
{
    color: #0B1966;
}
.Grid
{
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
    font-family: Calibri;
    color: #474747;
    text-align: center;
}

.Grid td
{
    padding: 2px;
    border: solid 1px #c1c1c1;
}

.Grid th
{
    padding: 4px 2px;
    color: #000000;
    background: #cccccc;
    border: solid 1px #FFFFFF;
    font-size: 0.9em;
}

.GridViewFooter
{
    font-weight: bold;
}


.Label
{
    margin-top: 0px;
    padding-left: 1px;
    font: normal 16px Calibri, Arial, Helvetica, sans-serif;
    color: #000000;
}

.LabelQuestion
{
    margin-top: 0px;
    padding-left: 1px;
    font: normal 16px Calibri, Arial, Helvetica, sans-serif;
    color: #000000;
}

.LabelItalic
{
    margin-top: 0px;
    padding-left: 1px;
    font: normal 12px Verdana, Arial, Helvetica, sans-serif;
    color: #6b8081;
    font-family: Calibri;
    font-style: italic;
    font-size: 12px;
}

.LabelCaption
{
    margin-top: 0px;
    padding-left: 1px;
    font: normal 16px Calibri, Arial, Helvetica, sans-serif;
    color: #000000;
}

.question
{
    padding-bottom: 30px;
}

.LabelBold
{
    margin-top: 0px;
    padding-left: 0px;
    font: bold 12px Calibri, Arial, Helvetica, sans-serif;
    color: #000000;
    font-family: Calibri;
    font-weight: bold;
    font-size: medium;
}

.LabelTitle
{
    font: bold 14px Verdana, Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.LabelHeader
{
    margin-top: 0px;
    padding-left: 0px;
    font: bold 40px Calibri, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-family: Calibri;
}

.LabelSubHeader
{
    margin-top: 0px;
    padding-left: 0px;
    font: bold 20px Calibri, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-family: Calibri;
}

.LabelPageHeader
{
    margin-top: 0px;
    padding-left: 0px;
    font: bold 20px Calibri, Arial, Helvetica, sans-serif;
    color: #000000;
    font-family: Calibri;
}

.LabelFooter
{
    margin-top: 0px;
    padding-left: 1px;
    font: normal 12px Verdana, Arial, Helvetica, sans-serif;
    color: #6b8081;
    font-family: Calibri;
    font-style: normal;
    font-size: 12px;
    height: 8%;
}

.LabelItalicWhite
{
    margin-top: 0px;
    padding-left: 1px;
    font: normal 12px Calibri, Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-family: Calibri;
    font-style: italic;
    font-size: 12px;
}

.LinkButton
{
    font: bold 10px Calibri, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-family: Calibri;
    font-size: medium;
}

.LogoutLinkButton
{
    font: normal 12px Calibri, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-family: Calibri;
    font-size: larger;
}

.RadioButtonList
{
    margin-top: 0px;
    padding-left: 1px;
    font: normal 12px Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    font-family: Calibri;
    font-size: 14px;
}
.ButtonLogin
{
    font-size: 16px;
    font-family: Arial;
    font-weight: 600;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #dcdcdc;
    padding: 7px 20px;
    cursor: pointer;
    color: Navy;
}
.ButtonAssign
{
    font-size: 16px;
    font-family: Arial;
    font-weight: 600;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #dcdcdc;
    padding: 7px 20px;
    color: White;
    background-color:#0B1966;
    cursor: pointer;
}

.ButtonAssign:disabled
{
    background-color:#CCCCCC;
}

.ButtonPrevious
{
    font-size: 16px;
    font-family: Arial;
    font-weight: 600;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #dcdcdc;
    padding: 7px 20px;
    cursor: pointer;
    color: White;
    background-color:#0B1966;
    width:150px;
}

.ButtonNext
{
    font-size: 16px;
    font-family: Arial;
    font-weight: 600;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #dcdcdc;
    padding: 7px 20px;
    color: White;
    background-color:#0B1966;
    width:150px;
    cursor: pointer;
}

.ButtonDownload
{
    font-size: 16px;
    font-family: Arial;
    font-weight: 200;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #dcdcdc;
    padding: 4px 10px;
    color: White;
    background-color:#0B1966;
    cursor: pointer;
}

.ButtonUpload
{
    font-size: 16px;
    font-family: Arial;
    font-weight: 200;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #dcdcdc;
    padding: 4px 10px;
    color: White;
    background-color:#0B1966;
    cursor: pointer;
}

.ButtonSave
{
    font-size: 16px;
    font-family: Arial;
    font-weight: 600;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #dcdcdc;
    padding: 7px 20px;
    color: White;
    background-color:#0B1966;
    cursor: pointer;
}

.ButtonClose
{
    font-size: 16px;
    font-family: Arial;
    font-weight: 600;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #dcdcdc;
    padding: 7px 20px;
    color: White;
    background-color:#0B1966;
    cursor: pointer;
}

.ButtonExcel
{
    font-size: 16px;
    font-family: Arial;
    font-weight: 600;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #dcdcdc;
    padding: 7px 20px;
    color: White;
    background-color:#0B1966;
    cursor: pointer;
}

.ButtonNarrative
{
    font-size: 12px;
    font-family: Arial;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #dcdcdc;
    padding: 7px 30px;
    color: White;
    background-color:#0B1966;
    cursor: pointer;
    margin-left: 10px;
}

.ButtonNarrative:disabled
{
    background-color:#CCCCCC;
}

.ButtonDelete
{
    font-size: 16px;
    font-family: Arial;
    font-weight: 200;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #dcdcdc;
    padding: 7px 20px;
    color: White;
    background-color:#0B1966;
    cursor: pointer;
}

.ButtonDelete:disabled
{
    background-color:#CCCCCC;
}
.LinkButtonScreen
{
    font: normal 12px Calibri, Arial, Helvetica, sans-serif;
    color: #0B1966;
    font-family: Calibri;
    font-size: larger;
}

.TextBox
{
    border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    outline: 0;
    height: 25px;
    width: 150px;
}

.TextBoxMoney
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    outline: 0;
    height: 25px;
    width: 150px;
}

.TextBoxMultiLine
{
    font-family:Calibri;
    border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #848484;
    outline: 0;
    height: 300px;
    width: 550px;
}

.FileUpload
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #848484;
    outline: 0;
    height: 25px;
    width: 550px;
}

.DropDownList
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #848484;
    height: 25px;
}

.LoginTable
{
    border-radius: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5x;
}
.Pageheader {
    height: 12%;
}

.bodydiv {
    height: 80%;
}

html, body {
    height: 100%;
}
